

@import url(http://fonts.googleapis.com/css?family=Trykker);
/*   Mixins  */
/*  Gradients  */
/*  Transition  */
/*  Box Sizing  */
/*  Box Shadow  */
/*  Border Radius  */
/*  Opacity  */
/*  CSS  */
body {
	margin: 0;
	font: normal 12px 'Open Sans', arial, sans-serif;
	line-height: 20px;
	color: #333333;
	background: #c6cace;
	/*   #a5b0bb  */
	/*   #b3c9e0 */
	/*   #1e4276 */
	/* 	 #75104c */
}

a:hover {
	text-decoration: none;
}

.muted {
	color: #666666;
}

a.muted:hover {
	color: gray;
}

.text-warning {
	color: #f08c56;
}

a.text-warning:hover {
	color: #ec6c27;
}

.text-error {
	color: #f74e4d;
}

a.text-error:hover {
	color: #f51d1c;
}

.text-info {
	color: #40acd6;
}

a.text-info:hover {
	color: #2892bb;
}

.text-success {
	color: #8ecf67;
}

a.text-success:hover {
	color: #71c340;
}

.text-pink {
	color: #ee7f82;
}

a.text-pink:hover {
	color: #e85256;
}

.text-white {
	color: white;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.right-align-text {
	text-align: right !important;
}

.center-align-text {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.jet-blue-bg {
	background: #40acd6 !important;
}

.marisa-blue-bg {
	background: #40acd6 !important;
}

.go-green-bg {
	background: #8ecf67 !important;
}

.nagpur-orange-bg {
	background: #f08c56 !important;
}

.ruby-red-bg {
	background: #f74e4d !important;
}

.light-red-bg {
	background: #ee7f82 !important;
}

.marisa-red-bg {
	background: #d9534f !important;
}

.marisa-orange-bg {
	background: #f0ad4e !important;
}

.lemon-yellow-bg {
	background: #ffd46e !important;
}

.sea-green-bg {
	background: #34a097 !important;
}

.dark-grey-bg {
	background: #4d4d4d;
}

.light-grey-bg {
	background: gray;
}

.light-pink-bg {
	background: #d26ea9 !important;
}

.marisa-pink-bg {
	background: #ee008c !important;
}

.progress-small {
	height: 12px;
}

.progress-mini {
	height: 6px;
}

.alert {
	border: 0;
}

.alert-success {
	border-left: 4px solid #8ecf67;
	color: #8ecf67;
	background-color: none;
}

.alert-error, .alert-danger {
	border-left: 4px solid #f74e4d;
	color: #f74e4d;
	background-color: none;
}

.alert-warning {
	border-left: 4px solid #ffd46e;
	color: #ffd46e;
	background-color: none;
}

.alert-info {
	border-left: 4px solid #40acd6;
	color: #40acd6;
}

.callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 10px solid #d9d9d9;
}

.callout h4 {
	margin-top: 0;
}

.callout p:last-child {
	margin-bottom: 0;
}

.callout code, .callout .highlight {
	background-color: white;
}

/* Variations */
.callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

@media ( max-width : 768px) {
	.callout {
		margin-bottom: 10px !important;
	}
}

.stylish-lists ul {
	padding: 0;
	margin: 0 0 10px 25px;
	list-style-type: disc;
}

.stylish-lists .upper-alpha {
	list-style: upper-alpha;
}

.stylish-lists .lower-alpha {
	list-style: lower-alpha;
}

.stylish-lists .roman-list {
	list-style: upper-roman;
}

.stylish-lists .decimal-leading-zero {
	list-style: decimal-leading-zero;
}

.stylish-lists dl {
	margin-bottom: 20px;
}

.stylish-lists dt, .stylish-lists dd {
	line-height: 20px;
}

.stylish-lists dt {
	font-weight: bold;
}

.stylish-lists dd {
	margin-left: 20px;
}

img.media-object {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	padding: 2px;
}

.heading-a {
	margin: 0 0 16px 0;
	border-bottom: 1px dashed #e6e6e6;
	padding: 0 2px 7px 2px;
	font-size: 16px;
	font-weight: 500;
}

.form-control:hover {
	border: 1px solid #40acd6;
}

.login-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 380px;
	height: 300px;
	margin-left: -190px;
	margin-top: -150px;
	background: #fcfcfc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
	-moz-box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
	box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
}

.login-wrapper .header {
	padding: 30px 20px 10px 20px;
	margin: 0;
}

.login-wrapper .header h3 {
	line-height: 40px;
	margin: 0;
	padding: 0;
	color: #f74e4d;
}

.login-wrapper .header p {
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	color: black;
	padding: 10px 0;
	margin: 0;
}

.login-wrapper .header .logo img {
	max-width: 80px;
	float: right;
}

.login-wrapper .content {
	padding: 10px 20px;
}

.login-wrapper .content .input {
	height: 30px;
	font-weight: normal;
	color: #b3b3b3;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	outline: none;
	margin-bottom: 2px;
}

.login-wrapper .content .input:hover, .login-wrapper .content select:hover
	{
	background: #fafafa;
}

.login-wrapper .actions {
	padding: 10px 20px;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.login-wrapper .actions .btn {
	float: right;
}

.login-wrapper .actions .link {
	float: right;
	padding: 8px;
	margin-right: 10px;
	color: #777777;
}

.main-container {
	margin: 0 5px;
}

header {
	height: 50px;
	vertical-align: middle;
}

header .logo {
	width: 100px;
	max-height: 30px;
	margin: 15px 0 0 0;
	font-size: 16px;
	color: #f86665;
	font-weight: 200;
	float: left;
	text-align: center;
	cursor: pointer;
}

header .logo span {
	color: white;
}

@media ( max-width : 768px) {
	header .logo {
		text-align: left;
		margin-left: 10px;
	}
}

.custom-search {
	margin: 10px 0 0 0;
	float: left;
}

.custom-search .search-query {
	padding: 4px 6px;
	margin-bottom: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #c4c4c4;
	background: #373737;
	border: 1px solid #515151;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 160px;
}

.custom-search .search-query:focus {
	width: 230px;
	outline: none;
}

.custom-search button {
	border: 0;
	background: transparent;
	padding: 2px 5px;
	top: 3px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.custom-search button:hover {
	background: transparent;
}

.custom-search button [data-icon]:before {
	color: #666666;
}

@media ( max-width : 768px) {
	.custom-search .search-query {
		width: 160px;
	}
	.custom-search .search-query:focus {
		width: 200px;
	}
}

#optional-dropdown {
	position: relative;
	padding: 0;
	margin: 0px 10px 0 0;
	float: left;
}

#optional-dropdown ul li {
	float: left;
	position: relative;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-ms-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	transition: All 0.2s ease;
	border-right: 1px solid #f2f2f2;
	background: white;
}

#optional-dropdown ul li ul {
	padding: 0;
	position: absolute;
	top: 42px;
	left: 0;
	width: 160px;
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#optional-dropdown ul li ul li {
	background: #444444;
	display: block;
	margin-right: 0;
	color: white;
	float: none;
	border-bottom: 1px solid #4c4c4c;
	border-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#optional-dropdown ul li ul li:hover {
	background: #373737;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#optional-dropdown ul li ul li:last-child {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border-bottom: 0;
}

#optional-dropdown ul li ul li:first-child {
	-webkit-border-radius: 2px 0 0 0;
	-moz-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
}

#optional-dropdown ul li ul li a {
	font-size: 11px;
	padding: 5px 10px;
}

#optional-dropdown ul li ul li a [data-icon]:before {
	margin-right: 5px;
	line-height: 22px;
}

#optional-dropdown ul li a {
	display: block;
	padding: 14px 15px;
	color: #666666;
	font-size: 13px;
	text-align: left;
}

#optional-dropdown ul li a [data-icon]:before {
	margin: 0;
	line-height: 22px;
}

#optional-dropdown ul li:last-child {
	border-right: 0;
}

#optional-dropdown ul li:hover {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	background: #444444;
	color: white;
}

#optional-dropdown ul li:hover a {
	color: white;
}

#optional-dropdown ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#optional-dropdown ul li .count-label {
	position: absolute;
	top: 12px;
	right: 8px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #8ecf67;
	height: 7px;
	width: 7px;
}

@media ( max-width : 768px) {
	#optional-dropdown {
		float: right;
	}
	#optional-dropdown ul li ul {
		left: -114px;
	}
}

@media ( max-width : 768px) {
	.hidden-phone {
		display: none !important;
	}
}

#mini-nav {
	position: relative;
	padding: 0;
	margin: 0px 10px 0 0;
	float: right;
}

#mini-nav ul li {
	float: left;
	position: relative;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-ms-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	transition: All 0.2s ease;
	margin-left: 1px;
	background: #383838;
}

#mini-nav ul li ul {
	padding: 0;
	position: absolute;
	top: 42px;
	right: 0;
	width: 160px;
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#mini-nav ul li ul li {
	background: #444444;
	display: block;
	margin-right: 0;
	color: white;
	float: none;
	border-bottom: 1px solid #4c4c4c;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#mini-nav ul li ul li:hover {
	background: #373737;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#mini-nav ul li ul li:last-child {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border-bottom: 0;
}

#mini-nav ul li ul li:first-child {
	-webkit-border-radius: 2px 0 0 0;
	-moz-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
}

#mini-nav ul li ul li a {
	font-size: 11px;
	padding: 5px 10px;
}

#mini-nav ul li ul li a [data-icon]:before {
	margin-right: 5px;
	line-height: 22px;
}

#mini-nav ul li a {
	display: block;
	padding: 13px 15px;
	color: #666666;
	font-size: 13px;
	text-align: left;
}

#mini-nav ul li a [data-icon]:before {
	margin: 0;
	line-height: 22px;
}

#mini-nav ul li:last-child {
	padding-right: 0;
}

#mini-nav ul li:hover {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	background: #444444;
	color: white;
}

#mini-nav ul li:hover a {
	color: white;
}

#mini-nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

#mini-nav ul li .count-label {
	position: absolute;
	top: 9px;
	right: 5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #f74e4d;
	color: white;
	height: 15px;
	width: 15px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
}

#mini-nav ul.user-summary {
	width: 310px;
}

#mini-nav ul.user-summary a {
	height: 14px;
	line-height: 14px;
	padding: 8px;
	display: inline-block;
	min-width: 110px;
	font-size: 11px;
	color: #f7f7f7 !important;
}

#mini-nav ul.user-summary a:hover {
	color: #c4c4c4 !important;
}

#mini-nav ul.user-summary .btn {
	margin: 5px;
}

#mini-nav .summary {
	padding: 10px;
}

#mini-nav .summary .user-pic {
	float: left;
	width: 60px;
	margin-right: 10px;
}

#mini-nav .summary .user-pic img {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#mini-nav .summary .basic-details {
	width: 120px;
	float: left;
	margin-right: 10px;
}

#mini-nav .summary .basic-details h4, #mini-nav .summary .basic-details h5
	{
	color: #c4c4c4;
	line-height: 23px;
	font-weight: 100;
}

#mini-nav .summary .basic-details small {
	color: #919191;
}

#mini-nav .summary .basic-details a {
	font-size: 12px;
	padding: 0;
}

#mini-nav .summary .profile-progress {
	width: 80px;
	float: left;
	color: #c4c4c4;
	text-align: center;
}

#mini-nav .summary .profile-progress .easyPieChart {
	position: relative;
	margin: auto;
	font-size: 16px;
	width: 80px;
	height: 80px;
}

#mini-nav .summary .profile-progress .easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard-wrapper {
	padding: 10px;
	position: relative;
	margin: 0px 0px 10px 85px;
	background: #fbfaf6;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
	/*   min-height: 1500px;  */
}

.dashboard-wrapper .plain-header {
	background: transparent;
	height: 24px;
	line-height: 24px;
	padding: 5px 0px;
}

.dashboard-wrapper .plain-header h4.title {
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

.dashboard-wrapper .widget {
	background: white;
	clear: both;
	margin-top: 0px;
	margin-bottom: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.dashboard-wrapper .widget .widget-header {
	height: 38px;
	line-height: 38px;
	border: 1px solid #ededed;
	padding: 0px 15px;
}

.dashboard-wrapper .widget .widget-header .title {
	color: #4d4d4d;
	float: left;
	font-weight: 100;
	font-size: 18px;
	font-family: 'Trykker';
}

.dashboard-wrapper .widget .widget-header .title .attribution,
	.dashboard-wrapper .widget .widget-header .title .mini-title {
	font-size: 11px;
	padding-left: 4px;
	color: #b3b3b3;
	font-weight: normal;
}

.dashboard-wrapper .widget .widget-header .title [data-icon]:before {
	color: #f86665;
	float: left;
	font-size: 16px;
	margin: 10px 8px 0 0;
}

.dashboard-wrapper .widget .widget-header div.tools {
	padding: 0;
	float: right;
	margin: 0;
}

.dashboard-wrapper .widget .widget-header div.tools>a {
	display: inline-block;
	margin-right: 5px;
	color: #666666;
	margin-top: 3px;
}

.dashboard-wrapper .widget .widget-header div.tools>a:hover {
	text-decoration: none;
	opacity: .6;
}

.dashboard-wrapper .widget .widget-body {
	padding: 10px;
	background: white;
	border: 1px solid #ededed;
}

.dashboard-wrapper .less-bottom-margin {
	margin-bottom: 10px;
}

@media ( max-width : 768px) {
	.dashboard-wrapper {
		margin: 0px 0px 10px 85px;
		margin-left: 0px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 10px;
	}
}

.browser-stats {
	text-align: center;
	color: #4d4d4d;
}

.browser-stats .block {
	display: inline-block;
	width: 30%;
	text-align: center;
}

.browser-stats .block [data-icon]:before {
	font-size: 48px;
	display: block;
	margin-bottom: 7px;
}

.stats-count {
	background: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	display: block;
	height: 38px;
	padding: 5px 10px;
	margin-bottom: 7px;
}

.stats-count .arrow {
	display: block;
	height: 38px;
	float: left;
	padding-right: 10px;
	padding-top: 2px;
}

.stats-count h5.stat-value {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}

.stats-count .stat-name {
	font-size: 12px;
	line-height: 18px;
	color: gray;
	margin-bottom: 5px;
}

.onoffswitch {
	display: inline-block;
	position: relative;
	width: 74px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	top: 0px;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0;
}

.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 13px;
	color: white;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #8ecf67;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #f74e4d;
	text-align: right;
}

.onoffswitch-switch {
	width: 18px;
	margin: 6px;
	background: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 44px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.gogle-map {
	position: relative;
}

.gogle-map #map-canvas {
	overflow: hidden;
}

.gogle-map .form-inline {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -120px;
	z-index: 5;
	background-color: white;
	padding: 5px;
	border: 1px solid #cccccc;
}

.gogle-map .form-inline #target {
	width: 240px;
	margin: 0;
}

.sidebar {
	position: absolute;
}

.user-profile-pic {
	margin-bottom: 10px;
	text-align: center;
}

.user-profile-pic img {
	background: white;
	border: 2px solid white;
	width: 76px;
	height: 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.slick-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.slick-menu li {
	position: relative;
	width: 80px;
}

ul.slick-menu li a {
	text-decoration: none;
	display: block;
	width: 80px;
	padding: 8px 0;
	background-color: #a5b0bb;
	color: #666666;
	text-align: center;
	border-bottom: 1px solid #c6cace;
	position: relative;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

ul.slick-menu li a .fs1 {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 1px;
	display: block;
}

ul.slick-menu li a small {
	font-size: 10px;
	background-color: #f74e4d;
	color: white;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50% 50% 50% 0;
	-moz-border-radius: 50% 50% 50% 0;
	-webkit-border-radius: 50% 50% 50% 0;
}

ul.slick-menu li a strong {
	font-weight: 500;
	color: #666666;
}

ul.slick-menu li a:hover {
	color: #FFF;
}

ul.slick-menu li a:hover .fs1, ul.slick-menu li a:hover strong {
	color: white;
}

ul.slick-menu li.active a {
	color: #75104c;
	text-decoration: none;
}

ul.slick-menu li.active a strong {
	color: #75104c;
	font-weight: bold
}

ul.slick-menu li.active a small {
	background-color: white !important;
	color: #75104c;
	/**/
}

ul.slick-menu li .current-page {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid white;
	position: absolute;
	right: -10px;
	top: 25px;
}

ul.slick-menu li a:hover>strong {
	left: 80px;
	visibility: visible;
	opacity: 1;
}

ul.slick-menu li.drop-menu ul {
	position: absolute;
	left: 85px;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 3px solid #75104c;
	/**/
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

ul.slick-menu li.drop-menu:hover ul {
	visibility: visible;
	opacity: 1;
	left: 80px;
}

ul.slick-menu li.drop-menu:hover ul li a {
	color: #666666;
}

ul.slick-menu li.drop-menu:hover ul li a:hover {
	color: white;
}

ul.slick-menu li.drop-menu ul:before {
	content: "";
	position: absolute;
	left: -8px;
	top: 10px;
	border-right: 5px solid #75104c;
	/**/
	border-top: 5px solid transparent !important;
	border-bottom: 5px solid transparent !important;
}

ul.slick-menu li.drop-menu:hover ul li {
	width: 200px;
}

ul.slick-menu li.drop-menu ul a {
	text-decoration: none;
	width: 200px;
	height: 36px;
	font-size: 12px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
}

ul.slick-menu li.drop-menu ul a .fs1 {
	font-size: 14px;
	margin: 0 10px 0 15px;
	vertical-align: middle;
	line-height: 24px;
	display: inline-block;
}

/*
 * Drop Menu
*/
@
-webkit-keyframes move_from_top {from { opacity:0;
	-webkit-transform: translateY(60%);
}

to {
	opacity: 1;
	-webkit-transform: translateY(0%);
}

}
@
-moz-keyframes move_from_top {from { opacity:0;
	-moz-transform: translateY(60%);
}

to {
	opacity: 1;
	-moz-transform: translateY(0%);
}

}
@
-ms-keyframes move_from_top {from { opacity:0;
	-ms-transform: translateY(60%);
}

to {
	opacity: 1;
	-ms-transform: translateY(0%);
}

}
@
-o-keyframes move_from_top {from { opacity:0;
	-o-transform: translateY(60%);
}

to {
	opacity: 1;
	-o-transform: translateY(0%);
}

}
.hr-stylish {
	padding: 0;
	border: none;
	line-height: 0;
	border-top: medium double #b3b3b3;
	color: #b3b3b3;
	text-align: center;
}

.hr-stylish:after {
	content: "";
	display: inline-block;
	position: relative;
	top: -12px;
	font-size: 14px;
	padding: 0 10px;
	background: #f7f7f7;
}

.actions-icons .icons {
	margin-right: 6px;
}

.page-title {
	margin-bottom: 20px;
	padding-bottom: 10px;
	display: block;
	color: #666666;
	font-weight: 300;
	/*   border-bottom: 1px solid #f7f7f7;  */
}

.page-title h2 {
	float: left;
	padding: 0;
	margin: 0;
	font-weight: 100;
	color: #4d4d4d;
}

.page-title h2 small {
	display: block;
	font-size: 11px;
	margin-left: 2px;
	padding-top: 5px;
	letter-spacing: 0px;
	font-weight: 300;
}

.page-title h2 small li {
	padding: 2px 4px 0 0;
	list-style: none;
	display: inline-block;
	color: #666666;
}

.page-title h2 small li:last-child {
	color: #f74e4d;
	font-size: 12px;
	font-weight: 500;
}

.page-title ul.stats {
	float: right;
}

.page-title ul.stats li {
	float: left;
	padding: 5px 10px;
	border: 3px solid #fbfaf6;
	/*       margin-left: 10px; */
	/*       -webkit-border-radius: 2px; */
	/*       -moz-border-radius: 2px; */
	/*       border-radius: 2px; */
	display: block;
}

.page-title ul.stats li .graph, .page-title ul.stats li .icon {
	float: left;
	margin: 2px 0 0 0;
	width: 60px;
}

.page-title ul.stats li [data-icon]:before {
	color: white;
	float: left;
	margin: 2px 0 0 0;
	width: 30px;
	font-size: 30px;
}

.page-title ul.stats li .details {
	float: right;
	margin-left: 10px;
	text-align: right;
	color: white;
}

.page-title ul.stats li .details span.big {
	font-size: 16px;
	font-weight: 600;
}

.page-title ul.stats li .details span.small {
	display: block;
	font-size: 12px;
}

.four-px-radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.six-px-radius {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.eight-px-radius {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.ten-px-radius {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bwizard {
	position: relative;
}

.bwizard .well {
	margin: 3px 0;
}

.bwizard .pager {
	margin: 10px 0 0 0;
}

.bwizard .pager li a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #f51d1c;
}

.bwizard .pager li.disabled a {
	color: #666666;
}

.bwizard-steps {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: white;
}

.bwizard-steps li {
	display: inline-block;
	position: relative;
	margin-right: 5px;
	line-height: 18px;
	list-style: none;
	padding: 12px 17px 10px 30px;
	background: #e6e6e6;
	zoom: 1;
	*display: inline;
	*padding-left: 17px;
}

.bwizard-steps li:first-child {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	padding-left: 12px;
}

.bwizard-steps li:first-child:before {
	border: none;
}

.bwizard-steps li:last-child {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin-right: 0;
}

.bwizard-steps li:last-child:after {
	border: none;
}

.bwizard-steps li:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	border-bottom: 20px inset transparent;
	border-left: 20px solid white;
	border-top: 20px inset transparent;
	content: "";
}

.bwizard-steps li:after {
	position: absolute;
	right: -20px;
	top: 0;
	height: 0;
	width: 0;
	border-bottom: 20px inset transparent;
	border-left: 20px solid #e6e6e6;
	border-top: 20px inset transparent;
	content: "";
	z-index: 2;
}

.bwizard-steps li .label-default {
	margin: 0 5px 0 0;
	padding: 1px 5px 2px;
	position: relative;
	top: -1px;
	background: #b3b3b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: white;
}

.bwizard-steps li .label-danger {
	background: #a40807;
}

.bwizard-steps li span.label {
	background: #b3b3b3;
	margin-right: 5px;
}

.bwizard-steps .active {
	color: white;
	background: #f74e4d;
}

.bwizard-steps .active:after {
	border-left-color: #f74e4d;
}

.bwizard-steps .active span.label {
	background: white;
	margin-right: 5px;
	color: black;
}

.bwizard-steps a {
	color: #4d4d4d;
}

.bwizard-steps .active a {
	color: white;
	cursor: default;
}

.bwizard-steps a:hover {
	text-decoration: none;
}

.bwizard-steps.clickable li:not (.active ) {
	cursor: pointer;
}

.bwizard-steps.clickable li:hover:not (.active ) {
	background: #cccccc;
}

.bwizard-steps.clickable li:hover:not (.active ) a {
	color: #4d4d4d;
}

.bwizard-steps.clickable li:hover:not (.active ):after {
	border-left-color: #cccccc;
}

.pie-chart {
	text-align: center;
	background: #fcfcfc;
	color: #4d4d4d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ededed;
	padding: 10px;
	margin-bottom: 20px;
}

.pie-chart .easyPieChart {
	position: relative;
	margin: auto;
	font-size: 18px;
}

.pie-chart .easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.pie-chart .name {
	padding-top: 10px;
	font-weight: 500;
	font-size: 13px;
	color: #4d4d4d;
}

.pie-chart:hover {
	cursor: pointer;
	border: 1px solid #e0e0e0;
}

@media ( max-width : 768px) {
	.pie-chart {
		margin-bottom: 10px;
	}
}

.chart-height {
	position: relative;
	height: 190px;
}

.demography .show-total {
	margin-bottom: 10px;
}

.demography .show-total .male, .demography .show-total .female {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: 24px;
	line-height: 24px;
	color: gray;
	font-weight: 100;
	vertical-align: baseline;
}

.yelp-wrapper li {
	display: block;
	border-bottom: 1px solid #ededed;
	padding: 5px 0;
}

.yelp-wrapper li .user img {
	width: 32px;
	height: 32px;
	padding: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.yelp-wrapper li .info {
	margin-left: 42px;
	color: #444444;
}

.yelp-wrapper li .info .rating {
	margin-bottom: 3px;
}

.yelp-wrapper li .info .rating .stars {
	float: left;
}

.yelp-wrapper li .info .rating small {
	color: gray;
	font-size: 11px;
	padding-left: 10px;
	margin-left: 5px;
	border-left: 1px solid #e6e6e6;
}

.yelp-wrapper li .info p.comment {
	margin: 0;
	padding: 0;
	color: #4d4d4d;
	font-size: 11px;
	line-height: 18px;
}

.yelp-wrapper li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.developers li {
	display: block;
	border-bottom: 1px solid #ededed;
	padding: 9px 0;
	cursor: pointer;
}

.developers li .user img {
	width: 32px;
	height: 32px;
	border: 1px solid #94d0e8;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.developers li .info {
	margin-left: 42px;
	color: #444444;
}

.developers li .info h6 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	line-height: 100%;
	font-size: 12px;
	margin-bottom: 3px;
}

.developers li .info p {
	margin: 0;
	padding: 0;
	color: gray;
	font-size: 11px;
	line-height: 16px;
}

.developers li .info small {
	color: #666666;
	font-size: 11px;
}

.developers li a {
	color: #444444;
	font-weight: 500;
}

.developers li a span {
	color: gray;
	font-size: 11px;
	font-weight: 200;
}

.developers li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.statistics {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 0;
	line-height: 1;
	padding: 0;
}

.statistics>li {
	min-width: 128px;
	display: inline-block;
	margin: 8px 14px;
	position: relative;
}

.statistics>li>span {
	margin-top: 7px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	color: #666666;
	font-size: 11px;
}

.statistics>li .main-info {
	margin-bottom: 6px;
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 6px;
	color: #6a6a6a;
}

.statistics>li .main-info>a {
	display: inline-block;
	float: left;
	margin-right: 8px;
	padding: 4px 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.statistics>li .main-info>a>span {
	color: white;
	padding: 6px 5px;
	margin: 0;
}

.statistics>li .main-info>strong {
	font-size: 24px;
	font-weight: 500;
	float: left;
	text-shadow: 0 1px 0 #fafafa;
}

.statistics>li .main-info:after {
	content: "";
	display: block;
	clear: both;
}

.progress-round {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

.progress-round .circle-a {
	display: inline-block;
	background: white;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #cccccc;
}

.progress-round .bar-a {
	display: inline-block;
	background: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #cccccc;
	position: relative;
	width: 110px;
	height: 6px;
	margin: 0 -5px 17px -5px;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.progress-round .circle-a .label-a {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-top: 4px;
	color: #666666;
	font-size: 18px;
}

.progress-round .circle-a .title {
	color: #666666;
	font-size: 13px;
	line-height: 30px;
	margin-left: -5px;
}

.progress-round .bar-a.done, .progress-round .circle-a.done {
	background: #e6e6e6;
}

.progress-round .bar-a.active {
	background: linear-gradient(to right, #e6e6e6 40%, white 60%);
}

.progress-round .circle-a.done .label-a {
	color: white;
	background: #f74e4d;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progress-round .circle-a.done .title {
	color: #4d4d4d;
}

.progress-round .circle-a.active .label-a {
	color: white;
	background: #40acd6;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progress-round .circle-a.active .title {
	color: #333333;
}

.gallery .visual {
	height: 180px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	border: 5px solid #e6e6e6;
	margin: 1px;
	background: white;
	padding: 0;
}

.gallery .visual .mask, .gallery .visual .content {
	padding: 10px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery .visual img {
	max-width: 100%;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.gallery .visual .mask {
	background-color: #fff2d4;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	opacity: 0;
}

.gallery .visual h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	padding: 20px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	color: #4d4d4d;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	opacity: 0;
}

.gallery .visual p {
	width: 90%;
	color: #4d4d4d;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.gallery .visual a.info {
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.gallery .visual:hover img {
	-webkit-transform: scale(10);
	-moz-transform: scale(10);
	-o-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
	opacity: 0;
}

.gallery .visual:hover .mask {
	opacity: 1;
}

.gallery .visual:hover h2, .gallery .visual:hover p, .gallery .visual:hover a.info
	{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

@media ( max-width : 768px) {
	.gallery .visual {
		margin-bottom: 10px;
	}
}

.todo {
	margin: 0px auto;
	background: white;
}

.todo .todo-list-item {
	border-bottom: 1px solid #ededed;
	padding: 9px 0 8px 0;
	cursor: pointer;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.todo .todo-list-item:first-child {
	padding-top: 0;
}

.todo .todo-list-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.todo .todo-list-cb {
	display: none;
}

.todo .todo-list-mark {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	border: 2px solid #b3b3b3;
	vertical-align: middle;
}

.todo .todo-list-mark:before {
	content: '';
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3px 0 0 -4px;
	height: 5px;
	width: 8px;
	border: solid #40acd6;
	border-width: 0 0 3px 3px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.todo label {
	margin-bottom: 0;
	font-size: 12px;
}

.todo .todo-list-cb:checked ~ .todo-list-mark {
	border-color: #40acd6;
}

.todo .todo-list-cb:checked ~ .todo-list-mark:before {
	display: block;
}

.todo .todo-list-desc {
	font-weight: 500;
	color: #666666;
}

.todo .todo-list-cb:checked ~ .todo-list-desc {
	color: #40acd6;
	text-decoration: line-through;
}

.comments li {
	display: block;
	padding: 8px 0;
	cursor: pointer;
}

.comments li .user img {
	width: 32px;
	height: 32px;
	border: 1px solid #94d0e8;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.comments li .info {
	background: #f7f7f7;
	margin-left: 42px;
	color: #444444;
	padding: 7px;
	position: relative;
}

.comments li .info .name {
	margin: 0;
	padding: 0;
	font-weight: 500;
	line-height: 100%;
	font-size: 12px;
	margin-bottom: 4px;
}

.comments li .info .time {
	position: absolute;
	right: 8px;
	top: 4px;
	display: block;
	font-size: 11px;
	font-weight: 800;
	color: gray;
}

.comments li .info .time .icon {
	margin-right: 3px;
}

.comments li .info small {
	color: #666666;
	font-size: 11px;
}

.comments li .info:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -5px;
	top: 4px;
	border-right: 5px solid #f7f7f7;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.comments li a {
	color: #444444;
	font-weight: 500;
}

.comments li a span {
	color: gray;
	font-size: 11px;
	font-weight: 200;
}

.comments li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.comments li:first-child {
	padding-top: 0;
}

.chats {
	margin: 0;
	padding: 0;
}

.chats li {
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
}

.chats li img.avatar {
	height: 60px;
	width: 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.chats li.in img.avatar {
	margin-right: 10px;
	float: left;
}

.chats li .name {
	color: #f08c56;
	font-size: 13px;
	font-weight: 400;
}

.chats li .date-time {
	color: #1a1a1a;
	font-size: 11px;
	font-weight: 400;
}

.chats li.out img.avatar {
	float: right;
	margin-left: 10px;
}

.chats li .message {
	display: block;
	padding: 5px 10px;
	position: relative;
}

.chats li.in .message {
	text-align: left;
	border-left: 2px solid #f08c56;
	margin-left: 80px;
}

.chats li.in .message .arrow {
	display: block;
	position: absolute;
	top: 7px;
	left: -8px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #f08c56;
}

.chats li.out .message {
	border-right: 2px solid #40acd6;
	margin-right: 80px;
	text-align: right;
}

.chats li.out .message .arrow {
	display: block;
	position: absolute;
	top: 7px;
	right: -8px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #40acd6;
}

.chats li.out .name {
	color: #40acd6;
}

.chats li.out .name, .chats li.out .date-time {
	text-align: right;
}

.chats li .message .body {
	display: block;
	color: #333333;
	padding-top: 10px;
}

.featured-articles {
	padding: 0;
}

.featured-articles .articles a {
	position: relative;
	border-bottom: 1px dotted #d9d9d9;
	color: #0d0d0d;
	display: block;
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
	padding: 6px 0;
	padding-left: 20px;
	margin-bottom: 1px;
}

.featured-articles .articles a:hover {
	color: #737373;
	text-decoration: underline;
}

.featured-articles .articles a .label-bullet {
	position: absolute;
	left: 1px;
	top: 12px;
	width: 0;
	height: 0;
	border: 3px solid #f29c6d;
}

.featured-articles .articles a .date {
	font-size: 10px;
	color: #b3b3b3;
	font-weight: normal;
	display: block;
}

.wysiwyg-container textarea {
	border: 1px solid #cccccc;
	outline: none;
}

.wysiwyg-container .wysihtml5-toolbar .btn {
	border: 1px solid #cccccc;
	color: #4d4d4d;
}

.wysiwyg-container .wysihtml5-toolbar .dropdown .dropdown-menu li a {
	padding: 6px 0 6px 70px;
}

.wysiwyg-container iframe {
	padding: 10px !important;
	margin-bottom: 10px !important;
}

#scrollbar, #scrollbar-one, #scrollbar-two, #scrollbar-three {
	width: 100%;
	clear: both;
	margin: 0;
}

#scrollbar .viewport, #scrollbar-one .viewport, #scrollbar-two .viewport,
	#scrollbar-three .viewport {
	width: 98%;
	height: 180px;
	overflow: hidden;
	position: relative;
}

#scrollbar .overview, #scrollbar-one .overview, #scrollbar-two .overview,
	#scrollbar-three .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#scrollbar .thumb, #scrollbar-one .thumb, #scrollbar-two .thumb,
	#scrollbar-three .thumb {
	background-color: #f08c56;
}

#scrollbar .thumb .end, #scrollbar-one .thumb .end, #scrollbar-two .thumb .end,
	#scrollbar-three .thumb .end {
	background-color: #f08c56;
}

#scrollbar .scrollbar, #scrollbar-one .scrollbar, #scrollbar-two .scrollbar,
	#scrollbar-three .scrollbar {
	position: relative;
	float: right;
	width: 2px;
}

#scrollbar .track, #scrollbar-one .track, #scrollbar-two .track,
	#scrollbar-three .track {
	background-color: #cccccc;
	height: 100%;
	width: 2px;
	position: relative;
	padding: 0;
}

#scrollbar .thumb, #scrollbar-one .thumb, #scrollbar-two .thumb,
	#scrollbar-three .thumb {
	height: 20px;
	width: 2px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#scrollbar .thumb .end, #scrollbar-one .thumb .end, #scrollbar-two .thumb .end,
	#scrollbar-three .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 13px;
}

#scrollbar .disable, #scrollbar-one .disable, #scrollbar-two .disable,
	#scrollbar-three .disable {
	display: none;
}

#scrollbar-one .thumb, #scrollbar-two .thumb {
	background-color: #40acd6;
}

#scrollbar-one .thumb .end, #scrollbar-two .thumb .end {
	background-color: #40acd6;
}

#scrollbar-three .viewport {
	height: 270px;
}

.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.info-fade {
	color: gray;
}

.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}

.show-grid span {
	display: block;
	background: #f2f2f2;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
}

.show-grid span:hover {
	background: #f7f7f7;
}

.google-visualization-table-tr-head, .google-visualization-table-tr-head td
	{
	background: #fafafa !important;
	text-align: left !important;
}

.google-visualization-table-table img {
	height: 10px;
}

.icomoon-small [data-icon]:before {
	font-size: 12px;
}

.icomoon-medium [data-icon]:before {
	font-size: 24px;
}

.icomoon-large [data-icon]:before {
	font-size: 36px;
}

.icomoon-super-large [data-icon]:before {
	font-size: 64px;
}

.imp-messages, .tasks {
	width: 100%;
}

.imp-messages li, .tasks li {
	background: #fafafa;
	border-bottom: 1px dotted #e6e6e6;
	padding: 10px;
}

.imp-messages li:last-child, .tasks li:last-child {
	border-bottom: 0;
}

.imp-messages li:hover, .tasks li:hover {
	background: #fcfcfc;
}

.imp-messages li img.avatar, .tasks li img.avatar {
	height: 32px;
	width: 32px;
	float: left;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
}

.imp-messages li .message-wrapper, .tasks li .message-wrapper {
	margin-left: 50px;
	margin-right: 40px;
}

.imp-messages li .message-wrapper h4.message-heading, .tasks li .message-wrapper h4.message-heading
	{
	color: #4d4d4d;
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	margin-bottom: 5px;
}

.imp-messages li .message-wrapper p.message, .tasks li .message-wrapper p.message
	{
	color: #666666;
	margin: 0;
}

.imp-messages li .message-date, .tasks li .message-date {
	float: right;
	text-align: right;
}

.imp-messages li .message-date h3.date, .tasks li .message-date h3.date
	{
	font-weight: normal;
	margin: 0;
	line-height: 24px;
}

.imp-messages li .message-date p.month, .tasks li .message-date p.month
	{
	color: #666666;
	margin: 0;
}

.tasks li .message-wrapper h4.message-heading {
	color: #4d4d4d;
	font-weight: normal;
	font-size: 14px;
	margin: 0;
	margin-bottom: 5px;
}

.tasks li .message-wrapper p.message {
	color: #666666;
	margin: 0;
	font-size: 11px;
}

.list-icons li {
	background: #fafafa;
	border-bottom: 1px dotted #ededed;
	padding: 7px 10px;
	margin-bottom: 1px;
}

.icons-container {
	text-align: center;
	margin: auto;
}

.icons-container li {
	background: #fafafa;
	border: 1px solid #e6e6e6;
	color: #666666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	float: left;
	margin: .3%;
	text-align: center;
	vertical-align: middle;
	width: 6%;
	height: 48px;
	line-height: 48px;
}

.icons-container li [data-icon]:before {
	font-size: 16px;
}

.icons-container li:hover {
	background: white;
	cursor: pointer;
}

.icons-container li:hover [data-icon]:before {
	color: #f74e4d;
}

@media ( max-width : 768px) {
	.icons-container li {
		margin: 1%;
		text-align: center;
		width: 12%;
	}
}

#dt_example {
	/* Sorting */
	
}

#dt_example .dataTables_length {
	float: left;
}

#dt_example .dataTables_length select {
	width: 80px;
	height: 30px;
	margin-bottom: 0;
}

#dt_example .dataTables_filter {
	float: right;
}

#dt_example .dataTables_filter input {
	width: 160px;
	margin-bottom: 0;
	outline: none;
}

#dt_example .dataTables_info {
	float: left;
	margin-bottom: 5px;
}

#dt_example .dataTables_paginate {
	margin: 5px 0;
	float: right;
}

#dt_example .dataTables_paginate .first, #dt_example .dataTables_paginate .previous,
	#dt_example .dataTables_paginate .next, #dt_example .dataTables_paginate .last
	{
	display: none;
}

#dt_example .dataTables_paginate .paginate_button, #dt_example .dataTables_paginate .paginate_active
	{
	background: #f2f2f2;
	margin: 1px;
	padding: 5px 10px;
}

#dt_example .dataTables_paginate .paginate_button:hover, #dt_example .dataTables_paginate .paginate_active:hover
	{
	background: #e6e6e6;
	cursor: pointer;
}

#dt_example .dataTables_paginate .paginate_active {
	background: #40acd6;
	color: white;
}

#dt_example .dataTable .sorting {
	cursor: pointer;
	background: url(../img/sorting.png) no-repeat center right;
}

#dt_example .dataTable .sorting_asc {
	cursor: pointer;
	background: url(../img/sorting_asc.png) no-repeat center right;
}

#dt_example .dataTable .sorting_desc {
	cursor: pointer;
	background: url(../img/sorting_desc.png) no-repeat center right;
}

.progress-statistics li {
	padding: 5px 10px;
	background: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	transition: All 0.5s ease;
	border: 1px solid #f2f2f2;
	height: 32px;
	margin-bottom: 4px;
}

.progress-statistics li:last-child {
	margin-bottom: 0px;
}

.progress-statistics li .progress {
	background-color: #e0e0e0;
	/* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke),
		to(#e0e0e0));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, whitesmoke, #e0e0e0);
	/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, whitesmoke, #e0e0e0);
	/* FF3.6 */
	background-image: -ms-linear-gradient(top, whitesmoke, #e0e0e0);
	/* IE10 */
	background-image: -o-linear-gradient(top, whitesmoke, #e0e0e0);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, whitesmoke, #e0e0e0);
	margin-top: 3px;
	margin-bottom: 10px;
	height: 6px;
}

.progress-statistics li .details {
	font-size: 11px;
	font-weight: bold;
	display: inline;
}

.invoice {
	padding: 10px;
}

.invoice .invoice-head {
	border-bottom: 1px solid #e6e6e6;
	height: 48px;
}

.invoice .invoice-head .logo {
	margin: 0;
	margin-top: 7px;
	width: 300px;
	color: #f4ac85;
}

.invoice .invoice-head .logo img {
	height: 30px;
}

.invoice .invoice-head .invoice-info {
	float: right;
	margin-top: 8px;
	text-align: right;
}

.invoice .invoice-head .invoice-info span {
	color: black;
	font-weight: bold;
	font-size: 12px;
	float: right;
	text-align: right;
}

.invoice .invoice-head .invoice-info .date {
	color: black;
	font-size: 11px;
	font-weight: 500;
}

.invoice .invoice-data-container {
	padding: 20px 0;
}

.invoice .invoice-data-container .from {
	width: 40%;
}

.invoice .invoice-data-container .from h5 {
	color: #0d0d0d;
	margin: 0 0 10px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.invoice .invoice-data-container .from span {
	color: #0d0d0d;
	display: block;
	font-size: 12px;
	margin-bottom: 3px;
}

.error-container {
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	color: #c4c4c4;
}

.error-container h1 {
	margin-bottom: .5em;
	line-height: 1em;
	color: #f74e4d;
	font-size: 60px;
	font-weight: 100;
}

.error-container h2 {
	margin-bottom: .75em;
	color: #c4c4c4;
	font-weight: 100;
}

.panel {
	margin-bottom: 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-body {
	padding: 15px;
}

.panel-heading {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 12px 15px;
}

.panel-title>a {
	color: inherit;
}

.panel-footer {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.panel-default {
	border-color: #dedede;
}

.panel-default>.panel-heading {
	color: #4d4d4d;
	background-color: whitesmoke;
	border-color: #dedede;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #dedede;
}

.panel-default>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #dedede;
}

.panel-primary {
	border-color: #636363;
}

.panel-primary>.panel-heading {
	color: #dddddd;
	background-color: #636363;
	border-color: #636363;
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #636363;
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #636363;
}

.panel-success {
	border-color: #8ecf67;
}

.panel-success>.panel-heading {
	color: #447726;
	background-color: #a5d986;
	border-color: #8ecf67;
}

.panel-success>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #8ecf67;
}

.panel-success>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #8ecf67;
}

.panel-info {
	border-color: #40acd6;
}

.panel-info>.panel-heading {
	color: #040f13;
	background-color: #62bbdd;
	border-color: #40acd6;
}

.panel-info>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #40acd6;
}

.panel-info>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #40acd6;
}

.panel-warning {
	border-color: #f08c56;
}

.panel-warning>.panel-heading {
	color: white;
	background-color: #f3a57b;
	border-color: #f08c56;
}

.panel-warning>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #f08c56;
}

.panel-warning>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #f08c56;
}

.panel-danger {
	border-color: #f74e4d;
}

.panel-danger>.panel-heading {
	color: white;
	background-color: #f97574;
	border-color: #f74e4d;
}

.panel-danger>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #f74e4d;
}

.panel-danger>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #f74e4d;
}

.panel-yellow {
	border-color: #ffe3a1;
}

.panel-yellow>.panel-heading {
	color: #d49500;
	background-color: #ffefca;
	border-color: #ffe3a1;
}

.panel-yellow>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #ffe3a1;
}

.panel-yellow>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #ffe3a1;
}

.panel-facebook {
	border-color: #4264ab;
}

.panel-facebook>.panel-heading {
	color: white;
	background-color: #5476bd;
	border-color: #4264ab;
}

.panel-facebook>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #4264ab;
}

.panel-facebook>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #4264ab;
}

.panel-linkedin {
	border-color: #1d95d3;
}

.panel-linkedin>.panel-heading {
	color: #dcf0fa;
	background-color: #31a6e3;
	border-color: #1d95d3;
}

.panel-linkedin>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #1d95d3;
}

.panel-linkedin>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #1d95d3;
}

.callout {
	margin: 10px 0;
	padding: 10px 20px;
	background-color: whitesmoke;
	border-left: 10px solid #e8e8e8;
}

.callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.callout p:last-child {
	margin-bottom: 0;
}

/* Variations */
.callout-danger {
	border-color: #f74e4d;
}

.callout-danger h4 {
	color: #f74e4d;
}

.callout-warning {
	border-color: #f08c56;
}

.callout-warning h4 {
	color: #f08c56;
}

.callout-info {
	border-color: #40acd6;
}

.callout-info h4 {
	color: #40acd6;
}

.callout-success {
	border-color: #8ecf67;
}

.callout-success h4 {
	color: #8ecf67;
}

.callout-facebook {
	border-color: #3b5999;
}

.callout-facebook h4 {
	color: #3b5999;
}

.callout-gplus {
	border-color: #dc4937;
}

.callout-gplus h4 {
	color: #dc4937;
}

.callout-yellow {
	border-color: #ffd46e;
}

.callout-yellow h4 {
	color: #ffd46e;
}

.callout-linkedin {
	border-color: #1a85bd;
}

.callout-linkedin h4 {
	color: #1a85bd;
}

.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

.panel-group {
	margin-bottom: -2px !important;
	/*     min-width: 230px; */
}

.cardSeg {
	max-width: 100% !important;
}

.card {
	/*     max-width: 475px !important; */
	-webkit-box-flex: 1;
	-ms-flex: 1 0 calc(33.33333333% - ( 10px + 20px));
	flex: 1 0 calc(33.33333333% - ( 10px + 20px));
	min-width: 200px;
	max-width: 500px;
	margin: 10px;
	border: 1px solid #ccc
}

.card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, .35)
}

#accordion .panel {
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 0px;
	background-color: #EEE;
}

#accordion .panel-heading {
	padding: 0;
	border-radius: 0;
	border: none;
}

#accordion .panel-title a {
	display: block;
	padding: 14px 30px 14px 40px;
	font-size: 16px;
	font-weight: bold;
	color: #75104c;
	background: #CFDFEF;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease 0s;
	text-decoration: none;
	display: inline-flex;
	width: 100%;
	/*     white-space: nowrap; */
}

#accordion .panel-title a.collapsed {
	background: #B3C9E0;
	color: #1e4276;
}

#accordion .panel-title a.collapsed:hover {
	color: #75104c;
}

#accordion .panel-title a:before {
	content: "";
	width: 75px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: -33px;
	transform: skewX(-25deg);
	transition: all 0.5s ease 0s;
}

#accordion .panel-title a.collapsed:hover:before {
	background: #CFDFEF;
}

#accordion .panel-title a:after {
	/* content: "\f039"; */
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
	top: 50%;
	color: #75104c;
	transform: translateY(-50%);
}

#accordion .panel-title a.collapsed:after {
	color: #75104c;
}

#accordion .panel-title a.collapsed:hover:after {
	color: #C7D6D9;
}

#accordion .panel-body {
	font-size: 14px;
	color: #5a3245;
	line-height: 25px;
	padding: 20px 15px 20px 15px;
	position: relative;
	border: none;
	transition: all 0.5s ease 0s;
}

#accordion .panel-body:before {
	content: "";
	width: 5px;
	height: 40px;
	background: #75104c;
	position: absolute;
	top: 30px;
	left: 0;
}

#accordion .panel-body p {
	margin-bottom: 0;
}

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.card-col-2 {
	-ms-flex-preferred-size: calc(50% - ( 10px + 20px));
	flex-basis: calc(50% - ( 10px + 20px))
}

.card-col-1 {
	-ms-flex-preferred-size: calc(100% - ( 10px + 20px));
	flex-basis: calc(100% - ( 10px + 20px))
}

.card-unbordered, .card-unbordered:hover {
	box-shadow: none;
	border: 0
}

.card-unbordered ul {
	list-style-type: none;
	padding: 0
}

.card-nohover:hover {
	box-shadow: none
}

.card img {
	max-width: 100%
}

.card-body {
	padding: 20px;
	font-size: .9em
}

.card-title {
	padding: 20px;
	background: #f7f7f7
}

.card-title>h2 {
	margin: 0
}

.card h2>a:hover, .card h3>a:hover, .card h4>a:hover {
	border-bottom-color: transparent
}

.card-body>h2 {
	font-size: 1.2em;
	margin: 0 0 .5em 0
}

a.wrapper {
	text-decoration: none;
	color: currentColor
}

a.wrapper>div {
	color: currentColor
}