/* Grid Marisa */
/*
.mr_col-1 {width: 8.33%;}
.mr_col-2 {width: 16.66%;}
.mr_col-3 {width: 25%;}
.mr_col-4 {width: 33.33%;}
.mr_col-5 {width: 41.66%;}
.mr_col-6 {width: 50%;}
.mr_col-7 {width: 58.33%;}
.mr_col-8 {width: 66.66%;}
.mr_col-9 {width: 75%;}
.mr_col-10 {width: 83.33%;}
.mr_col-11 {width: 91.66%;}
.mr_col-12 {width: 100%;}
*/

#containerPrincipal.main-container{
    padding: 5px 5px 45px 5px;
    background: #c6cace;
    margin: 10px 0px -5px 0px;
    border-radius: 3px;
    display: block;
    position: relative;
    overflow: hidden;
}
#panelDashboard{
    background-color: #ebf0f5;
    margin: 0px;
    padding: 0px;
    min-height: 100px;
}
/* ############################ base ########################## */
#panelLateralDireita #panelProcedimentos #cardProcedimento .card{min-width: auto;}
#panelLateralDireita #panelAtendimento #cardProcedimento .card{min-width: auto;}
#sidebar.mr_controleNavegacao{
    width: 90px;
    position: absolute;
    z-index: 99;
    left: 0px;
}
#panelPrincipal.dashboard-wrapper{
   width: 83.33%;
   background: #c6cace;
   margin: 0px;
   padding: 0px;
   padding-left: 85px;
   padding-right: 5px;
   float: left;
   min-height: 770px;
}
#panelLateralDireita{
   width: 16.66%;
   float: right;
}

@media only screen and (max-width: 1025px) {
    #panelPrincipal.dashboard-wrapper{width: 75%;}
    #panelLateralDireita{width: 25%;}
}
@media only screen and (max-width: 780px) {

    #panelPrincipal.dashboard-wrapper{width: 100%;padding-left: 0px;}
    #panelLateralDireita{width: 100%;}
    #panelProcedimentos{display: none;}
}

/* ############################ base ########################## */



#sidebar.mr_controleNavegacao {
    margin: 0px;
    padding: 0px;
    
}
#panelLateralDireita{
    margin: 0px;
    padding: 0px;
}
/*  */
#panelCardsDestaque {
    margin: 0px;
    padding-bottom: 0px;
}
#panelCardsDestaque .page-title{
    margin: 0;
    padding-bottom: 0px
}

#panelProcedimentos{
    width: 100%;
    float: none;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    padding-left: 0px;
    padding-bottom: 0px;            
}
#panelAtendimento{
    width: 100%;
    margin: 0 auto;
    float: none;
    height: auto;
    border-radius: 3px;
    padding-left: 0px;
    padding-bottom: 15px;            
}

    
        
    
/* estilos Mobile SAC */

@media screen and (max-width: 800px) {
    #cardLancamentoAtendimentoMobile{
        display: block;
        min-height: 50px;
        
    }
    #cardLancamentoAtendimentoMobile #box_lancamentos_dinamicos .card{
        max-width: 99%;
        margin-left: 10px;
    }
    #cardLancamentoAtendimentoMobile #box_lancamentos_dinamicos .card .card-body{
        padding: 10px;
    }
    

  
    
}




/* #panelPrincipal.dashboard-wrapper{
    background-color: #ebf0f5;
}
#panelCardsDestaque {
	margin: 0px;
	padding-bottom: 0px;
}
#panelCardsDestaque .page-title{
	margin: 0;
	padding-bottom: 0px
}
.panelNavRight{
    width: 30%;
    max-width: 215px;
    margin: 0;
    padding: 0;
}
#panelProcedimentos{
    width: 100%;
    float: none;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 0px;            
}
#panelAtendimento{
    width: 100%;
    margin: 0 auto;
    float: none;
    height: auto;
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 15px;            
}
.main-container{
    padding: 5px 5px 45px 5px;
    background: #c6cace;
    margin: 10px 0px -5px 0px;
    border-radius: 3px;
    display: flex;
    position: relative;
    overflow: hidden;
}
#btnMobileMostrarNavProcedimento{display: none}
#panelProcedimentos{ display: block;}    
#panelAtendimento{display: block;  }      
        
    


@media screen and (max-width: 800px) {
    .panelNavRight{
        position: relative;
        right: 0px;
        width: 0px;
    }
    #btnMobileMostrarNavProcedimento{
        position: absolute;
        left: -25px;
        display: block;
        z-index: 999;
    }
    #btnMobileMostrarNavProcedimento .btnShowNAV,
    #btnMobileMostrarNavProcedimento .hideNav{
        width: 30px;
        height:30px;
        padding: 0;
    }
    #btnMobileMostrarNavProcedimento .hideNav{
        position: relative;
        left: 0px;
        margin: 0px 0 5px 0;
    }
    #btnMobileMostrarNavProcedimento .btnShowNAV .fs1,
    #btnMobileMostrarNavProcedimento .hideNav .fs1{
        margin: 0px 0 0 0;
        top: 7px;
        position: absolute;
        left: 8px;
    }
    #btnMobileMostrarNavProcedimento .hideNav .fs1{
         left: 6px;
         top: 5px;
    }

    #panelProcedimentos{
        opacity: 0;
        display: none;
    }
    #panelAtendimento{
        opacity: 0;
        display: none;
    }
    
    .fundoNavRight{
        position: absolute;
        top: 0;
        right: -10px;
        bottom: -5px;
        left: -10px;
        z-index: 0;
        opacity: 0;
        background-color: #000;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

    
} */
