<div class="referenciaModalcard"></div>
<div class="cardReferenciaMaster row">

<div id="card_01" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-briefcase" style="left: -30px;"></span>
                             Serviços Disponíveis
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
                        <ul class="list-group">
                            <li id="bolsaprotegida" class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Bolsa Protegida</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 4,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#"  cp-popup-servico="bolsaprotegida" class="btn_vantagens btn btn-info btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon icon-info"></span>  
                                    </a>
                                    <a href="#" class="btn_contratar btn btn-success btn-xs" data-modalsac-type="bolsaprotegida" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li id="protecaofinanceira" class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Financeira</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 11,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#"  cp-popup-servico="protecaofinanceira" class="btn_vantagens btn btn-info btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon icon-info"></span>  
                                    </a>
                                    <a href="#" class="btn_contratar btn btn-success btn-xs" data-modalsac-type="protecaofinanceira" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li id="protecaocelular" class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 7,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#"  cp-popup-servico="protecaocelular" class="btn_vantagens btn btn-info btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon icon-info"></span>  
                                    </a>
                                    <a href="#" class="btn_contratar btn btn-success btn-xs" data-modalsac-type="protecaocelular" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ######## -->
<div id="card_07" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Ultima fatura Fechada
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="lista_servicos_vantagens list-group-item row header_cards_info" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 5px;">Vencimento</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">Limite</div>                           
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding: 0px 5px 0px 5px;">Total Fatura</div>
                            </li>
                             <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3 adequacao_fonte" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px 5px 0px 5px; text-align: center">R$ 300,90</div>                           
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 adequacao_fonte" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 0 0px 0px;">
                                    <a href="#" class="btn_envio_email fs1" aria-hidden="true" data-icon="" style="margin: 0px 5px 0 5px; float: left;"></a>
                                    <a href="#" class="btn_envio_sms fs1" data-icon="&#xe054;" aria-hidden="true" style="margin: 0px; float: left;" ></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_faturas.html" class="render_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> DETALHES</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_07" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Faturas Histórico
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="lista_servicos_vantagens list-group-item row header_cards_info" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 10px;">Data</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">Número</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 25px;">Valor</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 adequacao_fonte" style="padding: 0px 5px 0px 5px; text-align: center">12</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px; text-align: center">R$ 140,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 0 0px 0px;">
                                     <a href="#" class="fs1 btn_envio_email" aria-hidden="true" data-icon=""></a>
                                     <a href="#" class="fs1 btn_envio_sms" data-icon="&#xe054;" aria-hidden="true"></a>
                                </div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 adequacao_fonte" style="padding: 0px 5px 0px 5px; text-align: center">12</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px; text-align: center">R$ 140,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 0 0px 0px;">
                                     <a href="#" class="fs1 btn_envio_email" aria-hidden="true" data-icon=""></a>
                                     <a href="#" class="fs1 btn_envio_sms"  data-icon="&#xe054;" aria-hidden="true"></a>
                                </div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 adequacao_fonte" style="padding: 0px 5px 0px 5px; text-align: center">12</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 adequacao_fonte" style="padding: 0px; text-align: center">R$ 140,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 0 0px 0px;">
                                     <a href="#" class="fs1 btn_envio_email" aria-hidden="true" data-icon=""></a>
                                     <a href="#" class="fs1 btn_envio_sms" data-icon="&#xe054;" aria-hidden="true"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_faturas.html" data-custom-target="historico" class="link_faturas_historico btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> DETALHES</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_10" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                               Limites
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite compra</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 140,90</span></div><br>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite compra disponível</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor_disponivel">R$ 168,10</span></div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite saque</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 00,00</span></div><br>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite saque disponível</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor_disponivel">R$ 00,00</span></div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite Celular</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 1.400,00</div><br>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite Celular disponível</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor_disponivel">R$ 1.400,00</span></div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Limite de compra anterior</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 500,00</span></div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_financeiro.html" class="render_page btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> INFORMAÇÔES FINANCEIRAS</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_20" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-usd" style="left: -30px;"></span>
                              Saldo
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Devedor até a data atual</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 140,90</span></div>
                                <div class="tamanho_texto_cards col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Devedor geral</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor_disponivel">R$ 468,10</span></div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Pgtos total data atual</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 140,90</span></div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">Devedor futuro total</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;"><span class="detalhe_valor">R$ 340,90</span></div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_financeiro.html" class="render_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> DETALHES</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_09" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-comment" style="left: -30px;"></span>
                            Acordos
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px">
                        <ul id="listaCardAcordo" class="list-group" style="margin-bottom: 5px;">
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px; text-align: center">1/3</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_ok btn statusbtn btn-success btn-xs">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Finalizado
                                        </div>
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">12/07/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px; text-align: center">2/3</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 114,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_em_andamento btn statusbtn btn-info btn-xs">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Em Andamento
                                        </div>
                                        <span class="glyphicon icon-info"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px; text-align: center">3/3</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 124,90</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-danger btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Quebrado
                                        </div>
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;"> &nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_cobranca.html" class="render_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_07" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Compras Efetivadas
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                             <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">672</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">12/07/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">563</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 114,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">272</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 124,90</div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_compras_efetivadas.html" class="render_page btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-pencil"> TODAS</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_19" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-exclamation-sign" style="left: -30px;"></span>
                             Pendencias
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;">
                        <ul id="lista_pendencias" class="list-group" style="margin-bottom: 5px;">
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="padding: 0px 5px 0px 5px;">Estorno Produtos ser...</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-info btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Em Andamento
                                        </div>
                                        <span class="glyphicon icon-info"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="padding: 0px 5px 0px 5px;">Estorno Produtos ser...</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-success btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Encerrada
                                        </div>
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="padding: 0px 5px 0px 5px;">Estorno Produtos ser...</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-danger btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Em Atraso
                                        </div>
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="padding: 0px 5px 0px 5px;">Estorno Produtos ser...</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-success btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Encerrada
                                        </div>
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="item_lista_tooltipsac list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">05/01/2018</div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="padding: 0px 5px 0px 5px;">Estorno Produtos ser...</div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn_acordo btn_acordo_quebrado btn statusbtn btn-success btn-xs" style="margin-top: 0px">
                                        <div class="tooltipsac">
                                            <div class="marcador"></div>
                                            Encerrada
                                        </div>
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_pendencias.html?pag=1" data-custom-target="adicionarpendencia" class="render_partial_page btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        </a>
                        <a href="page_pendencias.html?pag=2" data-custom-target="historicopendencia" class="render_partial_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_02" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-briefcase" style="left: -30px;"></span>
                             Serviços Contratados
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
                        <ul id="listaServicosContratados" class="list-group">
                            <li id="produtoid_007" class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Cap 60</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 60,00</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" data-id-prod="007" class="btn_deletar_servico_contratado btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_03" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Informações Cadastrais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Nome:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">MARIA INES DA SILVA</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Endereço:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">AL TOCANTINS, 280</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Cidade/UF:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">SÃO PAULO/SP</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Telefone:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(11) 2104-8078</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Celular:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(19) 98100-8522</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">E-mail:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">lavandosk@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_infos_cadastrais.html" class="render_page btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-pencil"> ALTERAR</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_04" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
                            Bonificações
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                             <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; width: 85px">09/04/2018</div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding: 0px 0 0 0; width: 110px ">(11)92343-6776</div>                           
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px;">R$ 140,90</div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="page_cartao_bonus.html" class="render_page btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_06" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                                Memo File
                        </a>
                    </h4>
                </div>
                <div id="card_memofile" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <div class="card">
                            <div class="card-header" id="headingOne2" style="padding-top:0px;padding-bottom: 0px">
                                <a class="btn_drop_memo" href="#" data-toggle="collapse" data-target="#drop01memo" aria-expanded="true" aria-controls="drop01memo">
                                    <span class="titulo_memofile_card_drop">2018</span>                           
                                </a>
                            </div>
                            <div id="drop01memo" class="collapse" aria-labelledby="headingOne2" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group" style="margin-bottom: 5px;">
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
                                        </li>
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="card">
                            <div class="card-header" id="headingOne2" style="padding-top:0px;padding-bottom: 0px">
                                <a class="btn_drop_memo" href="#" data-toggle="collapse" data-target="#drop02memo" aria-expanded="true" aria-controls="drop02memo">
                                    <span class="titulo_memofile_card_drop">2017</span>                           
                                </a>
                            </div>
                            <div id="drop02memo" class="collapse" aria-labelledby="headingOne2" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group" style="margin-bottom: 5px;">
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
                                        </li>
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne2" style="padding-top:0px;padding-bottom: 0px">
                                <a class="btn_drop_memo" href="#" data-toggle="collapse" data-target="#drop03memo" aria-expanded="true" aria-controls="drop03memo">
                                    <span class="titulo_memofile_card_drop">2016</span>                           
                                </a>
                            </div>
                            <div id="drop03memo" class="collapse" aria-labelledby="headingOne2" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group" style="margin-bottom: 5px;">
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
                                        </li>
                                        <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>         
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        
                        <a href="page_memofile.html" class="render_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="card_08" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-ok-circle" style="left: -30px;"></span>
                            Pagamentos Efetivados
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="lista_servicos_vantagens list-group-item row header_cards_info" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; font-size: 12px">Pagamento</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 0px 0px 0px; text-align: center;font-size: 12px">Vencimento</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 25px;font-size: 12px">Valor</div>
                            </li>
                             <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">10/04/2018</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">10/03/2018</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">10/02/2018</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">10/01/2018</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="tamanho_texto_cards col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px; text-align: center">10/12/2017</div>                           
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">R$ 140,90</div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        
                        <a href="page_pagamentos_efetivados.html" class="render_page btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_08" class="cardServicos grd_sac">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-ok-circle" style="left: -30px;"></span>
                            Alteração de Limite
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:0px; padding:0px"> 
                            <div class="alt_din list-group-item list-group-item-primary" style="height:75px; padding-right: 5px">
                                <span class="item_lista_titulo" style="line-height: 23px; float:left">Limite de crédito à alterar</span>
                                <span class="item_lista_valor vrForm" style="line-height: 23px; float:right">
                                    <span>R$</span><input type="text" style="width: 70%" class="form-control" value="650,00" id="inputEmail4" placeholder="Nome">
                                    <a href="#" class="btn_alterar_limite btn btn-success btn" style="margin: 8px 0px 3px 3px;height: 20px;float: right;">
                                        <span class="glyphicon glyphicon-ok"> ALTERAR</span>
                                    </a>
                                </span>
                                <div class="lista_grupo_clear"></div>                         
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #### -->
</div>

<style type="text/css">
/*  */
    #popupVantagens2{
        position: absolute;
        width: 550px;
        z-index: 9999;
        left: 180px;
        top: 15px;
        min-height: 200px;
        border-radius: 5px;
        background-color: #eee;
    }
    #popupVantagens2 #marcadorServico{
        position: absolute;
        width: 50px;
        height: 30px;
        top: 70px;
        left: -50px;
        /* border-right: 30px solid #eaeff0;  */
        border-right: 30px solid #ebf0f5;
        border-top: 30px solid transparent;  
        border-bottom: 30px solid transparent; 


    }
    #popupVantagens2.custom_card .card-header{
        background: #28a745;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #ffffff;
        font-size: 17px;
    }
    #popupVantagens2.custom_card .card-header .iconeTitulo{
        font-size: 24px;
        top: 3px;
    }
    #popupVantagens2.custom_card .card-header .titulo_card_custom{
        font-size: 23px;
        padding-left: 5px;
        font-weight: bold;
    }
    #popupVantagens2.custom_card .card-header{
        background-color: #40acd6
    }
    #popupVantagens2.custom_card .card-body{
        font-size: 17px;
        background-color: #ebf0f5;

    }
    #popupVantagens2.custom_card .card-footer{
         background: #dddddd;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #ffffff;
        font-size: 17px;
    }
    #popupVantagens2.custom_card .card-footer #btnFecharinfos{
        float: right;
        font-size: 18px;
    }
    .item_lista_tooltipsac{
        cursor: pointer
    }
    .statusbtn{
        position: relative;
    }
    .statusbtn .tooltipsac{
        display: none;
        opacity: 0;
        position: absolute;
        padding: 9px;
        top: -8px;
        left: 30px;
        z-index: 99;
        border-radius: 5px;
        color: #666666;
        background-color: #f3e1e1;
    }
    .statusbtn .tooltipsac .marcador{
        position: absolute;
        width: 8px;
        height: 8px;
        top: 7px;
        left: -7px;
        border-right: 8px solid #f3e1e1;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    /* Novo icone de status */
    .btn.statusbtn{
        border-radius: 10px;
        width: 20px;
        height: 20px;
        padding: 0px;
    }
    .btn.statusbtn .glyphicon{
        margin-top: 3px
    }
</style>

<script type="text/javascript">
    $(function(){
        setTimeout(function(){
            $('.render_page').on('click', function(event) {
                event.preventDefault();
                var targetPage = $(this).attr('href');
                ClearApp.clear('#panelDashboard');
                renderPages.render(targetPage); 
            });
            $('.btn_contratar').on('click', function(event) {
                event.preventDefault();
                var tipoModal = $(this).attr('data-modalsac-type')
                modalContratacao.load('.referenciaModalcard',tipoModal) 
            });
            $('.link_faturas_historico').on('click', function(event) {
                event.preventDefault();
                linkDireto.load($(this))
            });
            $('.render_partial_page').on('click', function(event) {
                event.preventDefault();
                linkDireto.load($(this))
            });
            $('.btn_acordo').on('click', function(event) {
                event.preventDefault();
                linkDireto.load($(this))
            });
            $('#listaServicosContratados').on('click','.btn_editar_servico', function(event) {
                event.preventDefault();
                linkDireto.load($(this))
            });
            $('.btn_envio_email').on('click', function(event) {
                event.preventDefault();
                var elementoRaiz = $('.referenciaModalcard');
                var propsModal = {
                    "elementoRaiz":elementoRaiz,
                    "tipoModal":"acaodupla",
                    "titulo":"Confirmação de Envio de Email",
                    "texto":"Deseja realmente enviar esta fatura por email?"
                }
                modalEnvioEmailSms.load(propsModal)
            });
            $('.btn_envio_sms').on('click', function(event) {
                event.preventDefault();
                var elementoRaiz = $('.referenciaModalcard');
                var propsModal = {
                    "elementoRaiz":elementoRaiz, 
                    "tipoModal":"acaodupla",
                    "titulo":"Confirmação de Envio de SMS",
                    "texto":"Deseja realmente enviar o código de barras por SMS?"
                }
                modalEnvioEmailSms.load(propsModal)
            });
            $('.btn_alterar_limite').on('click', function(event) {
                event.preventDefault();
                var elementoRaiz = $('.referenciaModalcard');
                var propsModal = {
                    "elementoRaiz":elementoRaiz,
                    "tipoModal":"acaodupla",
                    "titulo":"Confirmação de Alteração de Limite",
                    "texto":"Deseja realmente alterar o Limite?"
                }
                modalEnvioEmailSms.load(propsModal)
            });
            // servicos contratados
            $('#listaServicosContratados').on('click','.btn_deletar_servico_contratado', function(event) {
                event.preventDefault();
                var dataProduto = $(this).attr('data-id-prod');
                var funcExcluir = function(){
                   return $('#produtoid_'+dataProduto).remove();
                }
                var elementoRaiz = $('.referenciaModalcard');
                var propsModal = {
                    "elementoRaiz":elementoRaiz,
                    "tipoModal":"modalCancelarServico",
                    "titulo":"Confirmação de Cancelamento de Serviço",
                    "texto":"Deseja realmente cancelar este Serviço?",
                    "funcao":funcExcluir
                }
                modalEnvioEmailSms.load(propsModal)
            });
            // 
            $('.panel-body').on("mouseenter", '.item_lista_tooltipsac', function(event) {
                event.preventDefault();
                $(this).find('.tooltipsac').show().animate({opacity:1},function(){})
            });
            $('.panel-body').on("mouseleave", '.item_lista_tooltipsac', function(event) {
                event.preventDefault();
                $(this).find('.tooltipsac').hide().animate({opacity:0},function(){})
            });
        },200)
    })

    var CardsServicos = {
        cardTemplate:function(titulo){
            var html;
                html = '<div id="card_01" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">';
                html += '<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">';
                html += '<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">';
                html += '<div class="panel panel-default">';
                html += '<div class="panel-heading" role="tab" id="heading card.id + "">';
                html += '<h4 class="panel-title">';
                html += '<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> ';
                html += '<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>';
                html += titulo;
                html += '</a>';
                html += '</h4>';
                html += '</div>';
                html += '<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">';
                html += '<div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">';
                html += '<ul class="list-group">';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto Plus</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 24,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '</ul>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            return html;
        },
        listarCard:function(obj){
            this.obj = obj;
            var content = document.querySelector('.cardReferenciaMaster');
            this.capturaBtn('.btn_vantagens');
            return;
        },
        capturaBtn:function(elid){
            var posicaoPopup,eleTop,eleLeft,elemento;
            $(elid).on('click', function(event) {
                event.preventDefault();
                elemento = $(this);
                getAtt = $(this).attr("cp-popup-servico");
                popUp.render(elemento,getAtt);
            });
           
        } 
    }
    /*
        Função que direciona para pagina e ativa a TAB
        referente ao conteudo que clicamos
    */
    function LinkDireto(){
        this.load = function(idBtn){
            this.idBtn = idBtn;
            this.personalData = $(this.idBtn).attr("data-custom-target");
            this.targetPage   = $(this.idBtn).attr('href');
            renderPages.render(this.targetPage); 
            this.controlador();
        };
        this.controlador = function(){
            switch (this.personalData) {
                case "historico":
                    this.faturasHistorico();
                    break;
                case "acordos":
                    this.parcelasCobranca();
                    break;
                case "adicionarpendencia":
                    this.adicionarPendencia();
                    break;
                case "historicopendencia":
                    this.historicoPendencia();
                    break;
                default:
                    this.faturasAtuais();
                    break;
            }
        }
        this.faturasHistorico = function(){
            setTimeout(function(){
               $("#box_faturas").addClass('ATIVAR_TAB');  
           },10)
        }
        this.parcelasCobranca = function(){
            setTimeout(function(){
               $("#box_cobranca").addClass('ATIVAR_TAB');  
           },10)
        }
        this.faturasAtuais = function(){
            console.log('this.faturasAtuais defalt')
        }
        this.adicionarPendencia = function(){
            setTimeout(function(){
               $("#masterPagePendencias").addClass('ATIVAR_ADD_PENDENCIA');  
           },200)
        }
        this.historicoPendencia = function(){
            setTimeout(function(){
               $("#masterPagePendencias").addClass('HISTORICO_ADD_PENDENCIA');  
           },200)
        }
    }


    CardsServicos.listarCard(); 
    var linkDireto = new LinkDireto(); 
</script>



