

<style type="text/css">
	.clear{
		display: block;
		clear: both;
	}
	#panelAtendimento .card_atendimento{
		padding-left: 0px;
		padding-right: 0px;
		min-height: 300px;
	}
	#panelAtendimento #cardProcedimento .panel-body{
		min-height: 300px;
	}

	#lancamentosAtendimento .panel-body{
		padding: 0 5px 0 5px;
	}
	#lancamentosAtendimento .panel-body .list-group{
		margin: 10px 0 10px 0;
	}

	.att_btn_editar{
		color: #5a3245;
		width: 85%;
		display: inline-block;
		float: left;
	}
	.att_btn_editar .nome_lancamento{
		float: left;
	}
	.btn_editar_log_atendimento{
		float: right;
		display: block;
	}
	.att_btn_editar .badge{
		background-color: #28a745;
	}
	.box_opcao_envio{
		background: #ffffff;
		padding: 5px 5px 5px 10px;
		border-radius: 5px;
		border: 1px solid #ddd;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.tituloEnvio{
		display: block;
		float: left;
	}
	.nav_acao_opcoes_envio{
		display: block;
		float: right;
	}
	
	.nav_acao_opcoes_envio .btn{
		padding-left: 4px;
		padding-right: 0px;
	}
	.nav_acao_opcoes_envio .icone_envio{
		padding: 0 5px 0 0;
	}
	.nav_acao_opcoes_envio .icone_envio:before{
		padding-right: 7px;
	}
	.lista_opcao_envio .item_lista.espaco{
		padding: 10px 0 5px 0;
	}

	/* ## */

	#box_lancamentos_dinamicos .card{
		margin: 0px;
	}
	#box_lancamentos_dinamicos .card:hover{
		box-shadow: none;

	}

	#box_lancamentos_dinamicos .card .card-body{
		padding: 10px 5px 0 5px;
	}
	#box_lancamentos_dinamicos .card .card-body .btn_editar_texto{
		padding: 5px 0 10px 0;
	}
	#box_lancamentos_dinamicos .card .card-body .btn_editar_texto .btn{
		float: right;
		margin: 0 5px 5px 0;
	}
	#box_lancamentos_dinamicos .card .card-body .form-control{
		background: none;
		font-size: 14px;
	}
	#box_lancamentos_dinamicos .card .card-body .form-control .textolancamentoEditar{
		min-height: 250px;
	}
	.box_btn_inserir{
		width: 100%;
		padding: 0 0 0 0;
	}
	.box_btn_inserir .btn{
		float: right;
	}
</style>

<div id="cardProcedimento" class="card_atendimento" nome-cp="teste-CP02">
	<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
		<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading card.id + "">
					<h4 class="panel-title">
						<a class="collapsed" id="btnShowProcedimentos" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
							<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
							Atendimento
						</a>
					</h4>
				</div>
				<div id="lancamentosAtendimento" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
					<div class="panel-body">
						<div class="box_opcao_envio">
							<h3 class="titulo_lancamentos">Lançamento Manual</h3>
							<ul class="lista_opcao_envio">
								<li class="item_lista espaco">
									<form>
									  <div class="form-group">
									    <textarea class="textolancamentoEditar form-control" id="campoTextoLogManual"></textarea>						    	
									  </div>
									  <div class="box_btn_inserir form-group">
									  	<button id="btnInseirLog" type="submit" class="btn btn-primary mb-2">Inserir</button>
									  </div>
									</form>
								</li>
								
							</ul>
							<div class="clear"></div>
						</div>
						<h3 class="titulo_lancamentos">Lançamentos</h3>
						<div id="box_lancamentos_dinamicos">
							<!-- <div class="card">
								<div class="card-header" id="headingOne" style="padding-top:0px;padding-bottom: 0px">
									<a class="att_btn_editar" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							    		<span class="nomeLancamento">Venda de serviço</span>				    		
									</a>
	                                <a href="#" class="btn_editar_log_atendimento btn btn-danger btn-xs" style="margin-top: 3px">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a> 
								</div>
								<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<form>
										  <div class="form-group">
										    <textarea class="textolancamentoEditar form-control" id="campoTexto" rows="5">
										    	Anim pariatur cliche reprehenderit, enim eiusmod high life 
												accusamus terry richardson ad squid. 3 wolf moon officia aute, 
												non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt 
												laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird 
												on it squid single-origin coffee nulla assumenda shoreditch et. 
												Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
												nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
												Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
												nesciunt you probably haven't heard of them accusamus labore sustainable 
												VHS.
										    </textarea>
										  </div>
										  <div class="btn_editar_texto form-group">
										  	<button id="btnEditartextoLancamento" type="submit" class="btn btn-primary mb-2">Editar</button>
										  </div>
										</form>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingOne2" style="padding-top:0px;padding-bottom: 0px">
									<a class="att_btn_editar" href="#" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
							    		<span class="nomeLancamento">Alteração de Cadastro</span>				    		
									</a>
	                                <a href="#" class="btn_editar_log_atendimento btn btn-danger btn-xs" style="margin-top: 3px">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a> 
								</div>
								<div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordion">
									<div class="card-body">
										<form>
										  <div class="form-group">
										    <textarea class="textolancamentoEditar form-control" id="campoTexto" rows="5">
										    	Anim pariatur cliche reprehenderit, enim eiusmod high life 
												accusamus terry richardson ad squid. 3 wolf moon officia aute, 
												non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt 
												laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird 
												on it squid single-origin coffee nulla assumenda shoreditch et. 
												Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred 
												nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
												Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth 
												nesciunt you probably haven't heard of them accusamus labore sustainable 
												VHS.
										    </textarea>
										  </div>
										  <div class="btn_editar_texto form-group">
										  	<button id="btnEditartextoLancamento" type="submit" class="btn btn-primary mb-2">Aplicar</button>
										  </div>
										</form>
									</div>
								</div>
							</div>	 -->					
						</div>


						
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a id="btnFinalizacaoChamado" href="page_finalizacao_chamado.html" class="sidebar_link btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> FINALIZAR</span> 
                        </a>
                    </div> 
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"> 
	$(function(){
		var servicosDisponiveis = new Templates();
		var arrServicos = ["servico01","servico02","servico03"]
		var props = {
			"nome":"Serviços Disponiveis",
			"objetos":arrServicos
		}
		servicosDisponiveis.load("servicos_disponiveis",props);
		
		$('#btnFinalizacaoChamado').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });
	})
	
	$('#btnInseirLog').on('click',function(event) {
		event.preventDefault();
		var textLogManual  = $('#campoTextoLogManual').val();
		var listaLogManual = $('#box_lancamentos_dinamicos');
		console.log('teste',textLogManual);
		if(textLogManual != ''){
			lancamentosSimultaneos.init(textLogManual,listaLogManual);
			$('#campoTextoLogManual').val('');
		}
		
	});
	function Go(){
		console.log('GO CLICK');
	}
	
</script>


