<!-- Sidebar start -->
<div class="mr_navegacaoLateral" class="sidebar">
    <ul class="slick-menu">
        <li class="active">
            <a id="menuDashboard" class="sidebar_link" href="home">
                <div class="current-page"></div>
                <span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
                <strong>Dashboard</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_infos_cadastrais.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe004;"></span>
                <strong>Cadastros</strong>
            </a>
            <!-- <ul>
                <li><a href="cad_dadospessoais.html"><span class="fs1" aria-hidden="true" data-icon="&#xe1cc;"></span>Dados Pessoais do Cliente</a></li>
                <li><a href="cad_referencias.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03e;"></span>Referências Pessoais</a></li>
            </ul> -->
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_cartoes.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>
                <strong>Cartões</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_faturas.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe032;"></span>
                <strong>Faturas</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_financeiro.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>
                <strong>Financeiro</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a id="menuServicos">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></span>
                <strong>Serviços</strong>
            </a>
            <ul>
                <li><a class="sidebar_link" href="serv_disp.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fb;"></span>Serviços Disponíveis</a></li>
                <li><a class="sidebar_link" href="serv_cont.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></span>Serviços Contratados</a></li>
                <li><a class="sidebar_link" href="serv_canc.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fa;"></span>Serviços Cancelados</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_lista_pendencias.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>
                <strong>Pendências</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_memofile.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe048;"></span>
                <strong>Memofile</strong>
            </a>
        </li>
        <!-- <li class="drop-menu">
            <a class="sidebar_link" href="page_generica.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0d4;"></span>
                <strong>Programa de Vantagens</strong>
            </a>
        </li> -->
        <li class="drop-menu">
            <a class="sidebar_link" href="page_cartao_bonus.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe034;"></span>
                <strong>Cartão Bonus</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_retencao.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0f5;"></span>
                <strong>Retenção</strong>
            </a>
        </li>
        
        <li class="drop-menu">
            <a class="sidebar_link" href="page_cobranca.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0d6;"></span>
                <strong>Cobrança</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_compras_efetivadas.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe035;"></span>
                <strong>Compras Efetivadas</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_pagamentos_efetivados.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe038;"></span>
                <strong>Pagamentos Efetivados</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a class="sidebar_link" href="page_finalizacao_chamado.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0ff;"></span>
                <strong>Finalização de Chamado</strong>
            </a>
        </li>
        
        <!-- <li class="drop-menu">
            <a href="#">
                <span class="fs1" aria-hidden="true" data-icon="&#xe06b;"></span>
                <strong>Solicitações</strong>
            </a>
            <ul>
                <li><a href="sol_diavencimento.html"><span class="fs1" aria-hidden="true" data-icon="&#xe053;"></span>Alterar Dia de Vencimento</a></li>
                <li><a href="sol_segundavia.html"><span class="fs1" aria-hidden="true" data-icon="&#xe032;"></span>Segunda Via Fatura</a></li>
                <li><a href="sol_liberacaocompras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>Liberação de Compras</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a href="#">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b6;"></span>
                <strong>Históricos</strong>
            </a>
            <ul>
                <li><a href="his_memofiles.html"><span class="fs1" aria-hidden="true" data-icon="&#xe048;"></span>Memo Files</a></li>
                <li><a href="his_faturas.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03a;"></span>Faturas</a></li>
                <li><a href="his_compras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>Compras</a></li>
            </ul>
        </li> -->
        
    </ul>
</div>
<!-- Sidebar end teste -->
<script>
    $(function(){
        console.log('<><>components<><',components) 
        $('.sidebar').on('click', '.sidebar_link', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            
            if(targetPage == 'home'){
                location.reload();
            }else{
                ClearApp.clear('#identificacaoPositiva,#panelDashboard')
                retornaTop();
                renderPages.render(targetPage); 
            }
       
        });
    })
    
    function retornaTop(){
        var body = $('html, body');
        body.stop().animate({scrollTop:0}, 300, 'swing', function() { 
           
        });
    }
    // 

</script>