<div id="search">
	<!-- PESQUISA --> 
	<div class="page-title clearfix row" style="margin: -5px 0px -10px 0px;padding: 0px 0px 0px 0px;"> 
	    <ul class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0px 0px 0px;list-style-type: none;"> 
	        <li id="menuPesquisa" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #b3c9e0ab;"> 
	            <div class="details " style="padding: 5px 15% 5px 15%;">                        
	                <div class="input-group" style="float: right;"> 
	                    <div class="input-group-btn search-panel"> 
	                        <select class="btn btn-default" id="tipoSearch" style="height: 40px;width: 120px;padding-left: 5px;font-size: 14px;"> 
	                            <option value="">Buscar por:</option>                                    
	                            <option selected="" value="CPF">CPF</option>                                     
	                            <option value="CARTAO">CARTÃO</option>                               
	                        </select>                            
	                    </div>                            
	                    <input type="text" class="form-control" placeholder="Entre com o CPF" id="cpfSearch" style="height: 40px;font-size: 20px;border: 1px solid #f9cbe0;" onkeypress="return isNumberKey(event);">                             
	                    <div class="input-group-btn" style="">                                 
	                        <button class="btn btn-default" type="submit" style="height: 40px;width: 80px;font-size: 20px;" onclick="search(); return false;"> 
	                            <i class="glyphicon glyphicon-search"></i> 
	                        </button>                             
	                    </div>                         
	                </div>                
	            </div>             
	        </li>                       
	    </ul>         
	</div>  
</div>

<script type="text/javascript">
	$(function () {
		$('#search').on('click', function(event) {
			event.preventDefault();
			$('#cardAviso_01').hide();
	        $('#cardAviso_02').hide();
	        $('#cardAviso_03').hide();
	        $('#cardAviso_04').hide();
	        $('#cardAviso_05').hide();  
			$(this).hide();
		});
	})
</script>
