@charset "UTF-8";
/*#####Component Procedimento#######*/
#parte01 .teste .teste02 {
  color: #fff;
}

.cursor_link {
  cursor: pointer;
}

.alert_info_finaceira {
  font-size: 16px;
  text-align: center;
}

#btn_scroll_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #a5b0bb;
  border-radius: 50%;
  z-index: 99999;
  opacity: 0;
}

.icon_scoll_top {
  display: inline-block;
  width: 85%;
  max-width: 32px;
  margin: 7px 0 0 9px;
}

#btn_scroll_top.btn_scroll_top_on {
  opacity: 1;
}

#panelPrincipal {
  background-color: #dde3e8;
}

.tabs_infos {
  padding: 1% 0 0 0;
}

.nav.lista_tabs {
  border-bottom: none;
}

.nav.lista_tabs li a {
  font-size: 15px;
}

.nav.lista_tabs li a.active {
  background-color: #B3C9E0;
}

.left_box_grid .list-group-item-info {
  background-color: #B3C9E0;
}

/* ### */
.list-blocos-group.lista_grid_02.margin_controle {
  margin-right: 1%;
}

.list-blocos-group.lista_grid_02.separador_conteudo {
  margin-bottom: 1%;
}

.list-blocos-group.lista_grid_02 {
  width: 49.3%;
  display: inline-block;
  float: left;
  position: relative;
}

.list-blocos-group.lista_grid_02.classeFullCamp {
  width: 100%;
}

/* ## */
.list-group.lista_grid_02 {
  width: 49.3%;
  display: inline-block;
  float: left;
}

.list-group.lista_grid_05 {
  width: 15%;
  display: inline-block;
  float: left;
}

.list-group.lista_grid_02.margin_controle {
  margin-right: 1%;
}

.left_box_grid .list-group-item {
  line-height: 15px;
  color: #666666;
  border-top-color: #B3C9E0;
}

.list-group-item-info {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.item_lista_titulo {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.lista_grupo_clear {
  clear: both;
  display: block;
}

.lista_grupo_clear_margin_top {
  margin-top: 20px;
}

.item_lista_valor {
  display: inline-block;
  width: 45%;
  text-align: right;
}

.list-blocos-group.lista_grid_02.classeFullCamp .item_lista_valor {
  width: 70%;
}

.destaque_vermelho {
  color: #FF0000;
  font-weight: bold;
}

.sidebar.sidebar-fixo {
  position: fixed;
  top: 10px;
  z-index: 50;
}

.controle_altura_dinamico_titulo {
  padding: 5px 0 5px 0;
  position: absolute;
  top: 25%;
  left: 12px;
}

.controle_altura_dinamico_valor {
  padding: 0px 0 5px 0;
  position: absolute;
  top: 25%;
  right: 12px;
}

.controle_altura_dinamico_titulo_btn {
  padding: 5px 0 5px 0;
  position: absolute;
  top: 25%;
  right: 12px;
}

.controle_altura_dinamico_valor_campo {
  padding: 0px 0 5px 0;
  position: absolute;
  top: 25%;
  left: 12px;
}

.list-blocos-group.lista_grid_02.classeFullCamp .item_lista_valor.controle_altura_dinamico_valor {
  top: 30%;
}

/* estilos dos cards de serviços */
.card.custom_card {
  display: inline-block;
  float: left;
  margin: 0px 1% 0px 0px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  width: 23.9%;
  min-width: 235px;
}

.titulo_card_custom {
  color: #ffffff;
  padding-left: 2%;
  font-size: 13px;
  font-weight: bold;
}

.card.custom_card .card-body {
  padding: 10px;
}

.card.custom_card .card-body .card_custom_texto {
  padding: 5px;
  display: block;
  font-size: 12px;
  border-bottom: 1px solid #B3C9E0;
}

.card.custom_card .card-body .card_custom_texto.border_controle {
  border: none;
}

.card.custom_card .card-body .card_custom_texto .titulo {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-right: 6px;
}

.card.custom_card .card-body .card_custom_texto .descricao {
  display: inline-block;
  font-size: 12px;
}

.card_custom_saiba_mais {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #d5dfe8;
}

.card_btn_saiba_mais {
  color: #666;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.saiba_mais_icon[data-icon]:before {
  font-size: 11px;
  padding-left: 5px;
}

.custom_card_cancelado .icone_card_cancelado[data-icon]:before {
  position: relative;
  top: 3px;
}

.box_mais_infos_card {
  height: 0px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* estilos do Modal de servicos */
.LVF_custom_modal .modal-dialog {
  /* 	top: 20%; */
  top: 150px;
  max-width: 800px;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title {
  text-align: left;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  padding-top: 2%;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title .icone_card_ativo[data-icon]:before {
  margin-right: 5px;
  /* 	color: #666666;
 */
}

.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title .icone_card_cancelado[data-icon]:before {
  color: #666666;
  margin-right: 5px;
  margin-top: -2px;
  top: 3px;
  /*     position: relative;
 */
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal {
  display: block;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #d5dfe8;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal.elemento_vazio_modal {
  display: none;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal.padding_top_0 {
  padding-top: 0;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal .item_descritivo_modal_titulo {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-right: 8px;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal .item_descritivo_modal_descricao {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}

/* Estilos tab Futuro */
#tab_futuro .custom_card .card-header {
  text-align: center;
}

#tab_futuro .custom_card .card-header .icone_card_futuro {
  color: #ffffff;
}

#tab_futuro .custom_card .card-header .icone_card_futuro[data-icon]:before {
  font-size: 21px;
  position: relative;
  top: 3px;
}

#tab_futuro .custom_card .card-header .titulo_card_custom {
  /* color: #ffffff; */
  font-size: 17px;
}

#tab_futuro .custom_card .card-header .card_btn_saiba_mais {
  color: #666;
  font-size: 13px;
}

#modal_Fatura_visualizar.LVF_custom_modal .modal-dialog.LVF_custom_modal_dialog {
  max-width: 700px;
}

.LVF_custom_modal .futuro_modal_infos .item_descritivo_modal {
  display: inline-block;
}

.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text {
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text .titulo {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  width: 45%;
  padding-left: 10%;
  text-align: left;
  float: left;
}

.LVF_custom_modal .futuro_modal_infos .item_descritivo_modal .btn_extrato {
  font-size: 15px;
}

.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text .descricao {
  font-size: 15px;
}

.accordion_Futuro_modal .card-header .card_btn_saiba_mais {
  text-align: center;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  width: 100%;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}

.accordion_Futuro_modal .card {
  width: 100%;
  max-width: 545px;
}

.accordion_Futuro_modal .card .collapset.box_fechado {
  /* height: 0px; */
  display: none;
  overflow: hidden;
}

.conteudo_dinamico_tabs {
  width: 100%;
  display: inline-block;
  padding-bottom: 4%;
}

/**/
.lista_acordos_titulo {
  display: inline-block;
  width: 19.5%;
  text-align: left;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.1em;
}

.lista_acordos_texto {
  display: inline-block;
  width: 19.5%;
  text-align: left;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.1em;
}

.lista_acordos .list-group {
  margin-top: 5px;
  margin-bottom: 3px;
}

/**/
.loaderCss {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EE008C;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.loaderPequeno {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #EE008C;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ESTILOS MOBILE*/
@media screen and (max-width: 1140px) {
  .card.custom_card {
    width: 32.2%;
  }
}

@media screen and (max-width: 880px) {
  .card.custom_card {
    width: 48.8%;
  }
}

@media screen and (max-width: 730px) {
  /* estilos mobile do menu final */
  .LVF_custom_modal .modal-dialog {
    top: 10%;
  }
  .list-group.lista_grid_02, .list-blocos-group.lista_grid_02 {
    width: 100%;
    display: inline-block;
    float: left;
  }
  .separador_dinamico {
    width: 100%;
    height: 15px;
    float: left;
    border-top: 1px solid #B3C9E0;
  }
  .lista_acordos_titulo {
    width: 19%;
  }
  .lista_acordos_texto {
    width: 19%;
  }
  .card.custom_card {
    width: 100%;
    /* max-width: auto; */
  }
}

.cardServicos {
  padding: 3px;
  display: inline-table;
}

.cardReferenciaMaster {
  position: relative !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.cardServicos.card_servicos_disponiveis {
  position: inherit !important;
}

#popupVantagens {
  position: absolute;
  width: 75%;
  z-index: 99;
  min-height: 200px;
  border-radius: 5px;
  background-color: #eee;
}

#popupVantagens #marcadorServico {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 70px;
  background-color: #000;
}

.grd_sac {
  width: 33.33%;
  display: flex;
  max-width: 420px;
  min-width: 120px;
}

.tamanho_texto_cards {
  font-size: 0.9em;
  padding: 5px 5px 0 5px;
  width: 50%;
  display: flex;
  float: left;
}

.preco_card {
  float: left;
  width: 76px;
  /* max-width: 85px;
        min-width: 80px; */
}

.btn_cards_responsivos {
  float: right;
  width: 60px;
}

.btn_cards_responsivos .btn_vantagens {
  margin-right: 5px;
}

@media screen and (max-width: 1100px) {
  .grd_sac {
    width: 49.99%;
  }
  .tamanho_texto_cards {
    width: 33%;
  }
}

@media screen and (max-width: 780px) {
  .grd_sac {
    width: 100%;
  }
  /* .tamanho_texto_cards{
            font-size: 1em;
            width: 100%;
            max-width: 185px;
            min-width: 80px;
        } */
  /* .btn_cards_responsivos{
             width: 100%;
            max-width: 85px;
            min-width: 60px;
        } */
}

/* ## */
.mini_card {
  padding: 3px 0 3px 0;
}

.mini_card:hover {
  background: #e7edf3;
}

.item_mini_card {
  padding: 3px 0 0 5px;
  line-height: 17px;
}

.item_mini_card_destaque {
  width: 60px;
  display: inline-block;
}

.btn_go_pagina {
  color: #5a3245;
}

.btn_go_pagina:hover {
  color: #5a3245;
}

.detalhe_valor {
  border-radius: 4px;
  padding: 2px;
}

.detalhe_valor_disponivel {
  /* background-color: #98FB98; */
  border-radius: 4px;
  padding: 2px;
}

.header_cards_info {
  background-color: #DCDCDC;
  font-weight: bold;
}

.adequacao_fonte {
  font-size: 13px;
}

.icone_enviar_email {
  margin-top: 0px;
  float: right;
  margin-right: 5px;
  font-size: 19px;
}

.cardServicos {
  padding: 3px;
  display: inline-table;
}

.cardReferenciaMaster {
  position: relative !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.cardServicos.card_servicos_disponiveis {
  position: inherit !important;
}

#popupVantagens {
  position: absolute;
  width: 75%;
  z-index: 99;
  min-height: 200px;
  border-radius: 5px;
  background-color: #eee;
}

#popupVantagens #marcadorServico {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 70px;
  background-color: #000;
}

.grd_sac {
  width: 33.33%;
  display: flex;
  max-width: 337px;
  min-width: 120px;
}

.tamanho_texto_cards {
  font-size: 0.9em;
  padding: 5px 5px 0 5px;
  width: 50%;
  display: flex;
  float: left;
}

.preco_card {
  float: left;
  width: 76px;
}

.btn_cards_responsivos {
  float: right;
  width: 60px;
}

.btn_cards_responsivos .btn_vantagens {
  margin-right: 5px;
}

@media screen and (max-width: 1100px) {
  .grd_sac {
    width: 49.99%;
  }
  .tamanho_texto_cards {
    width: 33%;
  }
}

@media screen and (max-width: 780px) {
  .grd_sac {
    width: 100%;
  }
}

.mini_card {
  padding: 3px 0 3px 0;
}

.mini_card:hover {
  background: #e7edf3;
}

.item_mini_card {
  padding: 3px 0 0 5px;
  line-height: 17px;
}

.item_mini_card_destaque {
  width: 60px;
  display: inline-block;
}

.btn_go_pagina {
  color: #5a3245;
}

.btn_go_pagina:hover {
  color: #5a3245;
}

.detalhe_valor {
  border-radius: 4px;
  padding: 2px;
}

.detalhe_valor_disponivel {
  border-radius: 4px;
  padding: 2px;
}

.header_cards_info {
  background-color: #DCDCDC;
  font-weight: bold;
}

.adequacao_fonte {
  font-size: 13px;
}

.icone_enviar_email {
  margin-top: 0px;
  float: right;
  margin-right: 5px;
  font-size: 19px;
}

#dadosCliente {
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

#dadosCliente .showContent {
  display: none;
}

#dadosCliente .stats {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0px;
}

#dadosCliente .stats .boxAlturaDinamicaDashboard {
  height: 100px;
}

#ListaIdentificacaoPositiva {
  position: relative;
}

#ListaIdentificacaoPositiva .details {
  float: left;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

#ListaIdentificacaoPositiva .details .big {
  text-align: left;
}

#ListaIdentificacaoPositiva .details .nav_top_ferramentas {
  width: 100%;
  float: left;
}

#ListaIdentificacaoPositiva .details .nav_top_ferramentas .titulo {
  display: block;
  float: left;
}

#ListaIdentificacaoPositiva .details .nav_top_ferramentas #verMaisInfos.btn_identificacao {
  float: right;
  padding: 0 0 5px 0;
}

#ListaIdentificacaoPositiva .details .nav_top_ferramentas #verMaisInfos.btn_identificacao .fs1:before {
  width: 25px;
  margin-top: 2px;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas {
  width: 100%;
  display: none;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas {
  border-top: 1px solid #ccc;
  padding: 5px 0 0 0;
  margin: 5px 0 0 0;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta {
  border: none;
  width: 100%;
  padding: 0 0 3px 0;
  margin: 0;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens {
  display: inline;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens.pergunta {
  font-size: 14px;
  padding-right: 5px;
  text-transform: lowercase;
}

#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens.resposta {
  font-size: 15px;
  font-weight: bold;
}

#ListaIdentificacaoPositiva .details .btn_identificacao {
  float: left;
  padding: 5px 10px 2px 0;
  margin-right: 15px;
}

#ListaIdentificacaoPositiva .details .btn_identificacao:last-child {
  margin-right: 0px;
}

#ListaIdentificacaoPositiva .details .btn_identificacao .fs1:before {
  font-size: 13px;
  margin-top: 0px;
}

#ListaIdentificacaoPositiva .details .uniao {
  position: absolute;
  bottom: -35px;
  opacity: 0;
  width: 100%;
  height: 45px;
  right: 0px;
  left: 0px;
  background-color: #34a097;
}

@media screen and (min-width: 1024px) {
  #ListaIdentificacaoPositiva .nav_acao_infos_cliente {
    width: 95%;
    left: 10px;
  }
}

@media screen and (min-width: 990px) {
  #ListaIdentificacaoPositiva .nav_acao_infos_cliente {
    width: 95%;
    left: 10px;
  }
}

#infosCliente .details {
  width: 85%;
  float: left;
  text-align: left;
}

#infosCliente .details .big {
  font-weight: bold;
  font-size: 17px;
}

#infosCliente .details .small {
  font-weight: bold;
  font-size: 17px;
}

#infosCliente .details .labelCliente {
  font-weight: normal;
  font-size: 16px;
}

#CartaoCliente .details {
  width: 85%;
  float: left;
  text-align: left;
}

#CartaoCliente .details .big {
  font-weight: bold;
  font-size: 17px;
}

#CartaoCliente .details .small {
  font-weight: bold;
  font-size: 17px;
}

#CartaoCliente .details .labelCliente {
  font-weight: normal;
  font-size: 16px;
}

.titulo_atendente {
  font-size: 14px;
  font-weight: bold;
}

.box_img_user {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.img_user {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.detalhe_lista {
  display: block;
}

#conteudoListaHistoricoCartoes {
  padding-top: 15px;
}

.nav_editar {
  padding: 15px 0 15px 0;
}

.nav_editar .acaoCartao {
  float: right;
  padding: 8px 14px 8px 10px;
}

.Titulo_form {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 10px;
  font-size: 18px;
}

#box_faturas #accordion .panel-body:before {
  display: none;
}

.lista_infos_item .grupo_infos {
  width: 45%;
  float: left;
  display: block;
}

#conteudo_tabs_info {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#conteudo_tabs_info .left_box_grid {
  display: none;
}

#conteudo_tabs_info .left_box_grid.showTab {
  display: block;
}

.controle_altura_dinamico_titulo.tituloColunaRef {
  left: 50%;
  margin-left: -42px;
}

#btnEditarInfos {
  float: right;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
}

.list-group.titulo_divisor {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.list-blocos-group.lista_grid_02.grid_divisor {
  width: 100%;
}

.vrForm .form-control {
  width: 95%;
  float: right;
  margin-left: 8px;
}

.checkbox_alterar {
  float: left;
  display: block;
  position: absolute;
  top: 50px;
  right: 16px;
}

.nav_page_infos_financeiras {
  padding-top: 20px;
}

#tabelaParcelas .infos_header {
  text-align: center;
}

#tabelaParcelas .infostxt {
  text-align: center;
}

.nav_parcelas {
  background: #ccc;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav_parcelas .titulo_nav {
  display: inline-block;
  float: left;
  padding: 5px 10px 0 0;
  font-weight: bold;
}

.nav_parcelas .btn_nav_parcelas {
  float: left;
  padding: 5px 10px 5px 10px;
  margin-left: 15px;
  font-size: 13px;
}

.nav_parcelas .btn_nav_parcelas .fs1:before {
  position: relative;
  top: 1px;
  left: -2px;
}

.box_lista_parcelas {
  width: 100%;
}

.box_lista_parcelas .lista_parcela .item_lista_parcela {
  display: block;
  width: 17%;
  font-size: 0.8em;
  padding: 3px 0 0 5px;
  float: left;
  font-weight: normal;
}

.box_lista_parcelas .lista_parcela .item_lista_parcela.ajustaAlturaLista {
  padding: 10px 0 11px 5px;
}

.box_lista_parcelas .lista_parcela .item_lista_parcela.on_color {
  background-color: #e4dede;
}

.box_lista_parcelas .lista_parcela .item_lista_parcela.header_lista {
  background-color: #40acd6;
  font-weight: bold;
  color: #fff;
  width: 17%;
  padding: 5px;
  float: left;
}

.box_total {
  width: 100%;
  min-height: 34px;
  background: #a5b0bb;
  padding: 5px 0 5px 0;
}

.box_lista_parcelas .lista_total_parcelas .item_lista_parcela {
  display: block;
  float: left;
  text-align: left;
  width: 20%;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.lista_parcela.head_lista {
  width: 100%;
  float: left;
  background-color: #40acd6;
  margin-bottom: 0px;
}

.lista_itens_historico {
  width: 100%;
  float: left;
}

.lista_itens_historico .item_historico {
  width: 100%;
  display: block;
  float: left;
}

.lista_itens_historico .item_historico.on_color {
  background-color: #e4dede;
}

.btn_popup_acao {
  color: #666;
  float: left;
  width: 100%;
}

.btn_popup_acao:hover {
  background-color: #cec5c5;
}

.txt_lista_hist {
  display: block;
  float: left;
  padding: 3px 0 3px 0;
  width: 30%;
}

.clear {
  clear: both;
}

.cardReferenciaMaster {
  position: relative !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#nav_filtro_pagamentos {
  background-color: #ddd;
  width: 100%;
  min-height: 50px;
  clear: both;
}

#nav_filtro_pagamentos .titulo_filtro {
  display: block;
  float: left;
  width: 20%;
  font-size: 15px;
  padding: 17px 0 0 15px;
  font-weight: bold;
}

#nav_filtro_pagamentos .texto_filtro {
  display: block;
  float: left;
  font-size: 15px;
  padding: 17px 0 0 0;
  font-weight: normal;
}

#nav_filtro_pagamentos .item_form_filtro {
  display: block;
  float: left;
  padding: 15px;
  width: 20%;
}

#nav_filtro_pagamentos .item_form_filtro .form-control {
  height: 25px;
}

#nav_filtro_pagamentos .item_nav_filtro {
  display: block;
  float: left;
  padding: 15px;
  width: 35%;
}

#nav_filtro_pagamentos .item_nav_filtro .btn_form_filtro {
  float: left;
  margin-left: 15px;
  height: 25px;
}

#headerlista_pagamentos {
  display: block;
  width: 100%;
  min-height: 30px;
  background-color: #eee;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

#conteudoListaHistoricoCartoes .box_lista_parcelas .lista_parcela .item_lista_parcela {
  line-height: 18px;
  min-height: 47px;
}

.lista_pagamentos_efetivados .lista_parcela .item_lista_parcela {
  font-size: 12px;
  text-align: center;
}

.lista_pagamentos_efetivados .lista_parcela .header_lista {
  text-align: center;
}

.custom_card_sac {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

.custom_card_sac .titulo_header {
  background-color: #eaeff0;
  font-size: 16px;
  font-weight: bold;
}

.custom_card_sac .body_card_custom {
  padding: 20px 0 20px 10px;
}

#paginaRetencao .custom_card_sac .panel-body:before {
  display: none;
}

#paginaRetencao .custom_card_sac .panel {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

#paginaRetencao #panelBotoes {
  padding: 15px 0 0 0;
}

.agrupamento_sac .control-label {
  margin-top: 0px;
}

.agrupamento_sac ._row {
  display: block;
  float: left;
  width: 48%;
  margin-right: 2%;
}

.agrupamento_sac ._row_titulo {
  display: block;
  text-align: center;
  background-color: #B3C9E0;
  float: left;
  width: 100%;
  margin: 10px 0 10px 0;
}

.agrupamento_sac ._row_titulo .titulo {
  padding: 7px 0px 7px 0px;
  margin: 0px;
}

.agrupamento_sac .lista_sac_infos {
  width: 100%;
  float: left;
}

.agrupamento_sac .lista_sac_infos .titulo {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: #B3C9E0;
  margin: 10px 0 10px 0;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header {
  display: block;
  float: left;
  width: 100%;
  background-color: #71869c;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header {
  display: block;
  float: left;
  width: 16%;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had01 {
  width: 12%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had02 {
  width: 35%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had03 {
  width: 21%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had04 {
  width: 16%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had05 {
  width: 15%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_header .item_header.had06 {
  width: 20%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo {
  display: block;
  float: left;
  width: 100%;
  border-bottom: 1px solid #d0c9c9;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo {
  display: block;
  float: left;
  width: 16%;
  text-align: center;
  font-weight: normal;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con01 {
  width: 12%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con02 {
  width: 35%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con03 {
  width: 21%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con04 {
  width: 16%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con05 {
  width: 15%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con06 {
  width: 10%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo.con07 {
  width: 5%;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo .item_conteudo .btn_reenviar {
  width: 55px;
  padding: 0 5px 0 5px;
}

.agrupamento_sac .lista_sac_infos .lista_infos_conteudo.on_color {
  background-color: rgba(179, 201, 208, 0.6);
}

.conteudo_pendencias .nav_btn_acao {
  width: 100%;
  margin: 0;
  padding: 0;
}

.conteudo_pendencias .nav_btn_acao .btn {
  float: right;
  padding: 5px;
  margin-left: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.conteudo_pendencias .lista_sac_infos {
  width: 100%;
  float: left;
}

.conteudo_pendencias .lista_sac_infos .titulo {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: #B3C9E0;
  margin: 10px 0 10px 0;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header {
  display: block;
  float: left;
  width: 100%;
  background-color: #71869c;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header {
  display: block;
  float: left;
  width: 16%;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  padding-left: 10px;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had01 {
  width: 12%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had02 {
  width: 35%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had03 {
  width: 21%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had04 {
  width: 16%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had05 {
  width: 15%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had06 {
  width: 20%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had_pend01 {
  width: 16%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had_pend02 {
  width: 8%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had_pend03 {
  width: 24%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had_pend04 {
  width: 20%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_header .item_header.had_pend05 {
  width: 23%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo {
  display: block;
  float: left;
  width: 100%;
  border-bottom: 1px solid #d0c9c9;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo {
  display: block;
  float: left;
  width: 16%;
  text-align: left;
  font-weight: normal;
  line-height: 13px;
  font-size: 13px;
  text-transform: lowercase;
  padding: 5px 0 5px 5px;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con01 {
  width: 12%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con02 {
  width: 35%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con03 {
  width: 21%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con04 {
  width: 16%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con05 {
  width: 15%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con06 {
  width: 10%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con07 {
  width: 5%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con_pend01 {
  width: 17%;
  font-size: 0.8em;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con_pend02 {
  width: 5%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con_pend03 {
  width: 22%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con_pend04 {
  width: 24%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo.con_pend05 {
  width: 28%;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo .item_conteudo .btn_reenviar {
  width: 55px;
  padding: 0 5px 0 5px;
}

.conteudo_pendencias .lista_sac_infos .lista_infos_conteudo.on_color {
  background-color: rgba(179, 201, 208, 0.6);
}

#navegacao_rapida {
  width: 100%;
  margin: 0;
  padding: 0px;
  min-height: 30px;
  overflow: hidden;
  background-color: #34a097;
  margin-bottom: 5px;
}

#navegacao_rapida .lista_menu {
  margin: 0px;
  padding: 5px 0 0 5px;
  height: 40px;
}

#navegacao_rapida .lista_menu .item {
  display: block;
  float: left;
  margin-right: 5px;
}

#navegacao_rapida .lista_menu .item .btn_nav_rapida {
  font-size: 13px;
  padding: 5px 10px 5px 10px;
}

.divisor_bloco {
  background-color: #eae0e0;
}

#card_memofile .card {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#card_memofile .card .card-header {
  text-align: center;
}

#card_memofile .card .card-header .btn_drop_memo {
  width: 100%;
  display: block;
}

#card_memofile .card .card-header .btn_drop_memo .titulo_memofile_card_drop {
  font-size: 16px;
  color: #75104c;
  font-weight: bold;
}

#box_lista_cartoes_adicionais .lista_itens {
  float: left;
  width: 100%;
}

#box_lista_cartoes_adicionais .lista_itens .list-group-item {
  padding: 0px;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista {
  background-color: #c6cace;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista.list-group-item {
  float: left;
  padding: 0px;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista.list-group-item .header_lista_cartoes {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista.list-group-item .header_lista_cartoes.grd10 {
  width: 10%;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista.list-group-item .header_lista_cartoes.grd15 {
  width: 15%;
}

#box_lista_cartoes_adicionais .lista_itens .header_lista.list-group-item .header_lista_cartoes.grd20 {
  width: 20%;
}

#box_lista_cartoes_adicionais .lista_itens .lista_infos_cartoes {
  display: block;
  float: left;
  padding-left: 5px;
  font-weight: normal;
  font-size: 0.8em;
}

#box_lista_cartoes_adicionais .lista_itens .lista_infos_cartoes.grd10 {
  width: 10%;
}

#box_lista_cartoes_adicionais .lista_itens .lista_infos_cartoes.grd15 {
  width: 15%;
}

#box_lista_cartoes_adicionais .lista_itens .lista_infos_cartoes.grd20 {
  width: 21%;
}

#box_lista_cartoes_adicionais .lista_itens .lista_infos_cartoes.grd25 {
  width: 25%;
}

/* @media screen and (max-width: 780px){
	.mobileNone{display: block;}
	.grd_sac {
	    width: 100%;
	    max-width: 780px
	}
	#dadosCliente .stats{
		padding-left: 15px;
    	padding-right: 7px;
    	margin-bottom: 0px;
	}
	
	#dadosCliente .stats .boxAlturaDinamicaDashboard  {
    	width: 33%;
    	border: 1px solid #fbfaf6;
	}
	#infosCliente .details,
	#CartaoCliente .details,
	#ListaIdentificacaoPositiva .details{
		width: 82%;
	    float: right;
	    text-align: left;
	    font-size: 11px;
	    margin-left: 0px;
	    padding-left: 20px;
	}

	#infosCliente .details .big,
	#CartaoCliente .details .big,
	#ListaIdentificacaoPositiva .details .big{
		font-size: 11px
	}
	#infosCliente .details .small,
	#CartaoCliente .details .small,
	#ListaIdentificacaoPositiva .details .small{
		font-size: 11px
	}
	#dadosCliente .stats .boxAlturaDinamicaDashboard .page-title ul.stats li [data-icon]:before{
		float: left;
	    margin: 2px 0 0 0;
	    width: 25px;
	    font-size: 27px;
	}
	#ListaIdentificacaoPositiva .details .nav_acao_infos_cliente{
		left: 0px;
		position: relative;
		bottom: 0px;
	}
	#CartaoCliente .details .labelCliente{
		font-size: 14px
	}
	#infosCliente .details .labelCliente{
		font-size: 14px
	}
}  */
@media screen and (max-width: 400px) {
  .mobileNone {
    display: none !important;
  }
}

/* Grid Marisa */
/*
.mr_col-1 {width: 8.33%;}
.mr_col-2 {width: 16.66%;}
.mr_col-3 {width: 25%;}
.mr_col-4 {width: 33.33%;}
.mr_col-5 {width: 41.66%;}
.mr_col-6 {width: 50%;}
.mr_col-7 {width: 58.33%;}
.mr_col-8 {width: 66.66%;}
.mr_col-9 {width: 75%;}
.mr_col-10 {width: 83.33%;}
.mr_col-11 {width: 91.66%;}
.mr_col-12 {width: 100%;}
*/
#containerPrincipal.main-container {
  padding: 5px 5px 45px 5px;
  background: #c6cace;
  margin: 10px 0px -5px 0px;
  border-radius: 3px;
  display: block;
  position: relative;
  overflow: hidden;
}

#panelDashboard {
  background-color: #ebf0f5;
  margin: 0px;
  padding: 0px;
  min-height: 100px;
}

/* ############################ base ########################## */
#panelLateralDireita #panelProcedimentos #cardProcedimento .card {
  min-width: auto;
}

#panelLateralDireita #panelAtendimento #cardProcedimento .card {
  min-width: auto;
}

#sidebar.mr_controleNavegacao {
  width: 90px;
  position: absolute;
  z-index: 99;
  left: 0px;
}

#panelPrincipal.dashboard-wrapper {
  width: 83.33%;
  background: #c6cace;
  margin: 0px;
  padding: 0px;
  padding-left: 85px;
  padding-right: 5px;
  float: left;
  min-height: 770px;
}

#panelLateralDireita {
  width: 16.66%;
  float: right;
}

@media only screen and (max-width: 1025px) {
  #panelPrincipal.dashboard-wrapper {
    width: 75%;
  }
  #panelLateralDireita {
    width: 25%;
  }
}

@media only screen and (max-width: 780px) {
  #panelPrincipal.dashboard-wrapper {
    width: 100%;
    padding-left: 0px;
  }
  #panelLateralDireita {
    width: 100%;
  }
  #panelProcedimentos {
    display: none;
  }
}

/* ############################ base ########################## */
#sidebar.mr_controleNavegacao {
  margin: 0px;
  padding: 0px;
}

#panelLateralDireita {
  margin: 0px;
  padding: 0px;
}

/*  */
#panelCardsDestaque {
  margin: 0px;
  padding-bottom: 0px;
}

#panelCardsDestaque .page-title {
  margin: 0;
  padding-bottom: 0px;
}

#panelProcedimentos {
  width: 100%;
  float: none;
  margin: 0 auto;
  height: auto;
  border-radius: 3px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#panelAtendimento {
  width: 100%;
  margin: 0 auto;
  float: none;
  height: auto;
  border-radius: 3px;
  padding-left: 0px;
  padding-bottom: 15px;
}

/* estilos Mobile SAC */
@media screen and (max-width: 800px) {
  #cardLancamentoAtendimentoMobile {
    display: block;
    min-height: 50px;
  }
  #cardLancamentoAtendimentoMobile #box_lancamentos_dinamicos .card {
    max-width: 99%;
    margin-left: 10px;
  }
  #cardLancamentoAtendimentoMobile #box_lancamentos_dinamicos .card .card-body {
    padding: 10px;
  }
}

/* #panelPrincipal.dashboard-wrapper{
    background-color: #ebf0f5;
}
#panelCardsDestaque {
	margin: 0px;
	padding-bottom: 0px;
}
#panelCardsDestaque .page-title{
	margin: 0;
	padding-bottom: 0px
}
.panelNavRight{
    width: 30%;
    max-width: 215px;
    margin: 0;
    padding: 0;
}
#panelProcedimentos{
    width: 100%;
    float: none;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 0px;            
}
#panelAtendimento{
    width: 100%;
    margin: 0 auto;
    float: none;
    height: auto;
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 15px;            
}
.main-container{
    padding: 5px 5px 45px 5px;
    background: #c6cace;
    margin: 10px 0px -5px 0px;
    border-radius: 3px;
    display: flex;
    position: relative;
    overflow: hidden;
}
#btnMobileMostrarNavProcedimento{display: none}
#panelProcedimentos{ display: block;}    
#panelAtendimento{display: block;  }      
        
    


@media screen and (max-width: 800px) {
    .panelNavRight{
        position: relative;
        right: 0px;
        width: 0px;
    }
    #btnMobileMostrarNavProcedimento{
        position: absolute;
        left: -25px;
        display: block;
        z-index: 999;
    }
    #btnMobileMostrarNavProcedimento .btnShowNAV,
    #btnMobileMostrarNavProcedimento .hideNav{
        width: 30px;
        height:30px;
        padding: 0;
    }
    #btnMobileMostrarNavProcedimento .hideNav{
        position: relative;
        left: 0px;
        margin: 0px 0 5px 0;
    }
    #btnMobileMostrarNavProcedimento .btnShowNAV .fs1,
    #btnMobileMostrarNavProcedimento .hideNav .fs1{
        margin: 0px 0 0 0;
        top: 7px;
        position: absolute;
        left: 8px;
    }
    #btnMobileMostrarNavProcedimento .hideNav .fs1{
         left: 6px;
         top: 5px;
    }

    #panelProcedimentos{
        opacity: 0;
        display: none;
    }
    #panelAtendimento{
        opacity: 0;
        display: none;
    }
    
    .fundoNavRight{
        position: absolute;
        top: 0;
        right: -10px;
        bottom: -5px;
        left: -10px;
        z-index: 0;
        opacity: 0;
        background-color: #000;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

    
} */
#box_faturas .card .card-body {
  padding: 0 0 0 0;
}

#box_faturas .card .card-body .grupo_faturas {
  margin-top: 0px;
  background-color: transparent;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#tab_fatura_atual01 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual02 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual03 .grupo_faturas .item_fatura.item_fatura_body,
.dropPadrao .grupo_faturas .item_fatura.item_fatura_body {
  padding: 10px 0 10px 0px;
  width: 16.4%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #666666;
}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura,
.dropPadrao .card .card-body .listagem_detalhe_fatura {
  padding: 10px 0 10px 15px;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #666666;
}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
.dropPadrao .card .card-body .listagem_detalhe_fatura .item_fatura_body {
  width: 17%;
  display: inline-block;
}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura .item_fatura_body.item_texto_normaliza {
  text-transform: lowercase;
}

#tab_fatura_atual01 .grupo_faturas,
#tab_fatura_atual02 .grupo_faturas,
#tab_fatura_atual03 .grupo_faturas,
.dropPadrao .grupo_faturas {
  background-color: #a1b5c9;
}

.card_ativo {
  background-color: #9DD8EF !important;
}

#box_faturas .card {
  width: 100%;
  max-width: 100%;
  margin: 0 0 0 0;
}

#box_faturas .card .card-header {
  background-color: #d9e8f7;
  padding: 0 0 0 0;
}

#box_faturas .card .card-header .area_click {
  width: 87%;
  float: left;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4%;
}

#box_faturas .card .card-header .area_click .titulo_fatura {
  width: 30%;
  text-align: left;
}

#box_faturas .card .card-header .area_click .titulo_fatura.tm_M {
  width: 25%;
}

#box_faturas .card .card_acordeon .titulo_fatura.visualizador_fatura {
  width: 6%;
  float: left;
  padding-top: 7px;
}

#box_faturas .card .card_acordeon .titulo_fatura.visualizador_fatura .icone_visualizar:before {
  font-size: 27px;
}

#box_faturas .card .card_acordeon .titulo_fatura.enviar_email {
  width: 5%;
  float: left;
  padding-top: 7px;
}

#box_faturas .card .card_acordeon .titulo_fatura.enviar_email .icone_enviar_email:before {
  font-size: 27px;
}

#box_faturas .grupo_faturas .item_fatura {
  width: 19.5%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

#box_faturas .card .card_acordeon .titulo_fatura {
  width: 19%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

#tab_fatura_atual01 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual02 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual03 .grupo_faturas .item_fatura.item_fatura_body,
.dropPadrao .grupo_faturas .item_fatura.item_fatura_body {
  width: 16.4%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #666666;
  padding: 10px 0px 10px 15px;
  font-weight: bold;
}

#tab_fatura_atual01 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
#tab_fatura_atual02 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
#tab_fatura_atual03 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
.dropPadrao .listagem_detalhe_fatura .item_fatura.item_fatura_body {
  float: left;
}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura,
.dropPadrao .card .card-body .listagem_detalhe_fatura {
  border-bottom: 1px solid #cccccc;
}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura:last-child,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura:last-child,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura:last-child,
.dropPadrao .card .card-body .listagem_detalhe_fatura:last-child {
  border-bottom: none;
}

/* estilos do modal fatura */
#palco_sombra {
  width: 100%;
  height: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 77;
  background-color: #000;
  opacity: 0.5;
}

#palco_modal {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 9999;
}

/**/
/**/
/* #texto_dinamico_modal .modal_pergunta{
  position: relative;
  font-size: 14px;
  padding-left: 35px;
  margin-left: 20px;
} */
#modal_Fatura_email.LVF_custom_modal .modal-dialog.LVF_custom_modal_dialog {
  width: 100% !important;
  min-width: 200px !important;
}

#modal_Fatura_email #texto_dinamico_modal.modal_pergunta {
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

#modal_Fatura_email #texto_dinamico_modal.modal_pergunta::before {
  position: absolute;
  left: 0px;
  top: -10px;
  font-size: 30px;
}

#modal_Fatura_email #texto_dinamico_modal.modal_pergunta.erroClasse_200::before {
  color: #F0AD4E;
}

#mensagem_modal_fatura {
  text-align: center;
}

#mensagem_modal_fatura #texto_dinamico_modal {
  font-size: 17px;
  text-align: center;
}

#mensagem_modal_fatura #texto_dinamico_modal:before {
  font-size: 19px;
  margin-right: 5px;
}

/* ## */
#header_faturas .item_aberto {
  width: 20%;
  border-radius: 5px;
  background-color: #ccc;
  display: inline-block;
}

/* #header_faturas .item_aberto_header{
  
}  */
#panelProcedimentos .btnRedirectProcedimentos {
  width: 80%;
  height: 28px;
  margin: 0 auto;
  float: none;
  padding: 4px 0 25px 0;
  display: block;
  font-size: 18px;
}

#panelProcedimentos .btnRedirectProcedimentos .teste {
  color: #fff;
}

#panelProcedimentos .fs1::before {
  margin: 0 5px 0 0;
}
