<script type="text/javascript">
  require("./components/informacoesFinanceiras/js/servicos_js_tabs.js");
   require("./components/informacoesFinanceiras/js/modulo_js_saldo.js");
</script>

<div id="tab_saldo" class="left_box_grid" style="display: block">
    <ul class="list-group lista_grupo_clear">
      <li class="list-group-item list-group-item-info">Posi&ccedil;&atilde;o dos Saldos</li>
    </ul>
    <div id="conteudo_dinamico_saldo_posicao" class="conteudo_dinamico_tabs"></div>
    <!--  -->
    <ul id="titulo_header_saldo_atual" class="list-group lista_grupo_clear">
      <li class="list-group-item list-group-item-info">Fatura Atual</li>
    </ul>
    <div id="conteudo_dinamico_saldo_atual" class="conteudo_dinamico_tabs"></div>
    <!--  -->
    <ul id="titulo_header_saldo_consolidados" class="list-group lista_grupo_clear">
      <li class="list-group-item list-group-item-info">Posi&ccedil;&atilde;o de Saldos Consolidados</li>
    </ul>
    <div id="conteudo_dinamico_saldo_consolidados" class="conteudo_dinamico_tabs"></div>
  </div>