<style type="text/css">
	.controle_altura_dinamico_valor.item_Origem{ width: 80%;}
	
</style>
<script type="text/javascript">
	require("./components/informacoesFinanceiras/js/servicos_js_tabs.js");
   require("./components/informacoesFinanceiras/js/modulo_js_inadimplencia.js");
</script>
<div id="tab_conta" class="left_box_grid" style="display: block">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Inadimplência</li>
  </ul>
  <div id="conteudo_dinamico_inadimplencia" class="conteudo_dinamico_tabs"></div>

  

  <div id="lista_acordos" class="conteudo_dinamico_tabs">
 	
	<div class="list-blocos-group lista_acordos">
		<ul class="list-group">
		    <li class="list-group-item list-group-item-info">Situação do acordo - <span id="situacao_acordo">QUITADO</span></li>
		</ul> 
		<div class="alt_din list-group-item list-group-item-primary">
			<span class="lista_acordos_titulo">Parcela/Qtde Parcelas</span>
			<span class="lista_acordos_titulo">Data Vencimento</span>
			<span class="lista_acordos_titulo">Valor Parcela</span>
			<span class="lista_acordos_titulo">Data Pagamento</span>
			<span class="lista_acordos_titulo">Valor Pago</span>
		</div>
		<div id="conteudo_dinamico_inadimplencia_acordo"></div>
	</div>



  </div>

</div>
