
<script type="text/javascript">
    require("components/cobranca/cobrancaInstance.js");
</script>

<div class="referenciaModalcard"></div>
<div id="box_cobranca" class="cardReferenciaMaster col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Clientes em Cobrança 
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <div id="navegacaoTabCobranca"></div>
                            <div class="page-title" id="conteudoTabCobranca" style="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var navegacaoTabCobranca = $('#navegacaoTabCobranca');
    var conteudoTabCobranca  = $('#conteudoTabCobranca');
    DadosCurrent    = controllStorageSac.getinfosCliEmAtendimento();
    cpfCli = DadosCurrent.cpf;
    cobrancaInstance.load(navegacaoTabCobranca,conteudoTabCobranca,cpfCli);
   
</script>
