<script type="text/javascript">
    require("./procedimento/init_procedimento.js");
</script>
<style type="text/css">
    #panelProcedimentos .card_procedimento{
        padding-left: 0px;
        padding-right: 0px;

    }
    #panelProcedimentos #cardProcedimento .panel-body{
        min-height: 50px;
        padding: 0px;
    }
    #panelProcedimentos #cardProcedimento .panel-body:before{
        top: 10px;
    }

    .navegacao_rapida{
        width: 100%;
        padding: 15px;
    }
.lista_navegacao_rapida .btn_nav_rapida{
    padding: 7px;
}
.lista_navegacao_rapida .btn_nav_rapida .fs1{
    padding-left: 4px;
}
.lista_navegacao_rapida .btn_nav_rapida .fs1:before{
    font-size: 11px;
    margin-top: 10px;
    top: 13px;
    margin-right: 8px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<div id="cardProcedimento" class="card_procedimento" nome-cp="teste-CP02" style="margin-bottom: 15px;">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="btnShowProcedimentos" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Procedimentos
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group" style="padding-top: 10px">
                                    <select id="selectProcedimento" style="width: 100%">
                                        <option></option>
                                        <optgroup label="PROCEDIMENTOS SAC">
                                            <optgroup label="&nbsp;&nbsp;CRÉDITO">
                                                <optgroup label="&nbsp;&nbsp;&nbsp;Política do Cartão Marisa">
                                                    <option value="proctemplate.html?proc=politicacredito">&nbsp;&nbsp;&nbsp;Política de Crédito - Cartão Marisa</option>
                                                    <option value="proctemplate.html?proc=documentos">&nbsp;&nbsp;&nbsp;Documentos</option>
                                                    <option value="proctemplate.html?proc=beneficios">&nbsp;&nbsp;&nbsp;Benefícios</option>
                                                </optgroup>
                                                <optgroup label="&nbsp;&nbsp;Proposta do Cartão Marisa">
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Consulta de Proposta</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Proposta - Sala de análise</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Tempo de análise de proposta</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Proposta Pendenciada</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Painel de Regras</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Proposta Negada pela Central de Crédito</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Proposta realizada pela Loja Virtual 188 ou 668</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Biometria Facial</option>
                                                    <option value="proctemplate.html">&nbsp;&nbsp;Cadastro realizado indevidamente com o CPF do esposo</option>
                                                </optgroup>
                                            </optgroup> 
                                        </optgroup>
                                        <optgroup label="PROCEDIMENTOS EMPRÉSTIMO PESSOAL - SYSIN">
                                            <optgroup label="&nbsp;&nbsp;Registro de Ocorrências">
                                                <option value="proctemplate.html">&nbsp;&nbsp;&nbsp;&nbsp;Código de Pendências</option>
                                                <option value="proctemplate.html">&nbsp;&nbsp;&nbsp;&nbsp;Registro de Ocorrência passo</option>
                                            </optgroup>
                                        </optgroup>
                                    </select>
                                 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    initProcedimento.load();
</script>
