 
<div id="card_01" class="card_identificacao_positiva col-xs-12 col-sm-4 col-md-4 col-lg-4">
<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
	<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading card.id + "">
				<h4 class="panel-title">
					<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
						<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
						Histórico - Consulta de Chamados 
					</a>
				</h4>
			</div>
			<div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
				<div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Data de Abertura</th>
					      <th scope="col">Número do Chamado </th>
					      <th scope="col">Status </th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>20/05/2015 </td>
					      <td>66.211.172 </td>
					      <td>INTERROMPIDO </td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>29/09/2014 </td>
					      <td>64.179.343</td>
					      <td>INTERROMPIDO</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>29/09/2014</td>
					      <td>64.179.343</td>
					      <td>INTERROMPIDO</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div> 
<script>
var identificacaoPositiva = {
		render:function (exibir) {
			var conteudo = document.querySelector('#identificacaoPositiva');
			if(exibir == "SIM"){
				$(conteudo).append(this.templatePerguntas());
			}else{
				$(conteudo).hide();
			}
			return;
		},
		templatePerguntas:function(){
			var htmlPerguntas;
				htmlPerguntas  = '<div id="card_01" class="card_identificacao_positiva col-xs-12 col-sm-8 col-md-8 col-lg-8">';
				htmlPerguntas += '<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">';
				htmlPerguntas += '<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">';
				htmlPerguntas += '<div class="panel panel-default">';
				htmlPerguntas += '<div class="panel-heading" role="tab" id="heading card.id + "">';
				htmlPerguntas += '<h4 class="panel-title">';
				htmlPerguntas += '<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> ';
				htmlPerguntas += '<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>';
				htmlPerguntas += 'Identificação Positivas - Perguntas Opcionais';
				htmlPerguntas += '</a>';
				htmlPerguntas += '</h4>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '<div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">';
				htmlPerguntas += '<div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">';
				htmlPerguntas += '<ul class="list-group" style="margin-bottom: 5px;">';
				htmlPerguntas += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">QUAL E O DIA DE VENCIMENTO DE SUA FATURA?</div>';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">17</div>';
				htmlPerguntas += '</li>';
				htmlPerguntas += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">QUAL A SUA ATIVIDADE PROFISSIONAL?</div>';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">AUXILIARES DE ESCRITORIO E SIMILARES</div>';
				htmlPerguntas += '</li>';
				htmlPerguntas += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">QUAL E A SUA DATA DE ADMISSAO NO TRABALHO?</div>';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">30/12/1999</div>';
				htmlPerguntas += '</li>';
				htmlPerguntas += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">HA QUANTO TEMPO RESIDE EM SEU ENDERECO?</div>';
				htmlPerguntas += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">19</div>';
				htmlPerguntas += '</li>';
				htmlPerguntas += '</ul>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '</div>';
				htmlPerguntas += '</div>';
			return htmlPerguntas;
		}
	}
	identificacaoPositiva.render('SIM');
</script>