	<style type="text/css">
		.menuDoc{
			display: inline-block;
			min-width: 100px;
		}
		.menuDoc .fs1{
			display: inline-block;
		}
	</style>
	<div id="header">
		<div id="logo" >
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h1 style="padding-top: 0px;"><img class="png_bg" src="../resources/images/novo-logo.png" style=" margin-left: 12px;"/></h1>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h3 style="padding-top: 20px;" id="tituloPagina">Documentação PSF</h3>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>
	<nav id="navBarSac" class="navbar navbar-default mr_navbarSac" style="border-radius: 0; padding: 0px;">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="text-align: left;height: 35px;padding-left: 10px; color: white;">
			<a href="swaggerPage" class="docLinkPage navbar-brand" style="padding-left: 0px;font-size: 18px;padding-top: 10px;cursor: pointer;"> 
				<span class="menuDoc">
					<div class="fs1" aria-hidden="true" data-icon=""></div>
					Swagger
				</span>
			</a>
			<a href="fluxoPage" class="docLinkPage navbar-brand" style="padding-left: 0px;font-size: 18px;padding-top: 10px;cursor: pointer;"> 
				<span class="menuDoc">
					<div class="fs1" aria-hidden="true" data-icon=""></div>
					Fluxo
				</span>
			</a>
        </div>
		<!-- <div id="navbar-search" class="col-xs-8 col-sm-6 col-md-4 col-lg-4" style="height: 18px;padding: 0px;"></div> -->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style=" text-align: right; height: 18px; padding-right: 10px;padding-left: 0px;">
			<label class="text-left" style=" margin-bottom: 0px; color: #fff; font-size: 10px; padding-top: 5px;white-space: nowrap;">Vers&atilde;o 1.0.0</label>
        </div>        
    </nav>


