.cursor_link{
	cursor: pointer;
}
.alert_info_finaceira{
	font-size: 16px;
	text-align: center;
}
#btn_scroll_top{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	background-color: #a5b0bb;
	border-radius: 50%;
	z-index: 99999;
	opacity: 0;
}
.icon_scoll_top{
	display: inline-block;
	width: 85%;
	max-width: 32px;
	margin: 7px 0 0 9px;

}
#btn_scroll_top.btn_scroll_top_on{
	opacity: 1
}
#panelPrincipal{background-color: #dde3e8}
.tabs_infos{
	padding: 1% 0 0 0;
}
.nav.lista_tabs{
	border-bottom: none;
}
.nav.lista_tabs li a{
	font-size: 15px;
}
.nav.lista_tabs li a.active{
	background-color: #B3C9E0;
}
.left_box_grid .list-group-item-info{
	background-color: #B3C9E0;
}
/* ### */
.list-blocos-group.lista_grid_02.margin_controle{
	margin-right: 1%;
}
.list-blocos-group.lista_grid_02.separador_conteudo{
	margin-bottom: 1%;
}
.list-blocos-group.lista_grid_02{
	width: 49.3%;
	display: inline-block;
	float: left;
	position: relative;
}
.list-blocos-group.lista_grid_02.classeFullCamp{
	width: 100%;
}
/* ## */
.list-group.lista_grid_02{
	width: 49.3%;
	display: inline-block;
	float: left;
}
.list-group.lista_grid_05{
	width: 15%;
	display: inline-block;
	float: left;
}
.list-group.lista_grid_02.margin_controle{
	margin-right: 1%;
}

.left_box_grid .list-group-item{
	line-height: 15px;
	color: #666666;
	border-top-color: #B3C9E0;
}

.list-group-item-info{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;

}

.item_lista_titulo{
	display: inline-block;
	width: 50%;
	text-align: left;
	font-weight: bold;
	font-size: 1.4em;
}
.lista_grupo_clear{clear: both; display: block}
.lista_grupo_clear_margin_top{margin-top: 20px}

.item_lista_valor{
	display: inline-block;
	width: 45%;
	text-align: right;
	font-size: 1.4em;
}
.list-blocos-group.lista_grid_02.classeFullCamp .item_lista_valor{
	width: 70%;
}

.destaque_vermelho{color: #FF0000; font-weight: bold;}
.sidebar.sidebar-fixo{
	position: fixed; 
	top: 10px;
	z-index: 50;
}
.controle_altura_dinamico_titulo{
	padding: 5px 0 5px 0;
	position: absolute;
	top: 25%;
    left: 12px;
}
.controle_altura_dinamico_valor{
	padding: 0px 0 5px 0;
	position: absolute;
	top: 25%;
    right: 12px;
}
.list-blocos-group.lista_grid_02.classeFullCamp .item_lista_valor.controle_altura_dinamico_valor{
	top: 30%;
}
/* estilos dos cards de serviços */

.card.custom_card{
	display: inline-block;
	float: left;
	margin: 0px 1% 0px 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 23.9%;
	min-width: 235px;
}
.titulo_card_custom{
	color: #ffffff;
	padding-left: 2%;
	font-size: 13px;
	font-weight: bold;
}
.card.custom_card .card-body{
	padding: 10px;
}
.card.custom_card .card-body .card_custom_texto{
	padding: 5px;
	display: block;
	font-size: 12px;
	border-bottom: 1px solid #B3C9E0;
}
.card.custom_card .card-body .card_custom_texto.border_controle{
	border: none;
}
.card.custom_card .card-body .card_custom_texto .titulo{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding-right: 6px;
}
.card.custom_card .card-body .card_custom_texto .descricao{
	display: inline-block;
	font-size: 12px;
}
.card_custom_saiba_mais{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #d5dfe8;
	
}
.card_btn_saiba_mais{
	color: #666;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.saiba_mais_icon[data-icon]:before{
	font-size: 11px;
	padding-left: 5px;

}
.custom_card_cancelado .icone_card_cancelado[data-icon]:before{
	position: relative;
    top: 3px;

}
.box_mais_infos_card{
	height: 0px;
	width: 100%;
	overflow: hidden;
	text-align: center
}
/* estilos do Modal de servicos */
.LVF_custom_modal .modal-dialog{
/* 	top: 20%; */
    top: 150px;
    max-width: 800px;	
}
.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title{
	text-align: left;
	font-size: 16px;
	width: 100%;
	font-weight: bold;
	padding-top: 2%;
}
.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title .icone_card_ativo[data-icon]:before{
	margin-right: 5px;
/* 	color: #666666;
 */}
.LVF_custom_modal .modal-dialog .modal-content .modal-header .modal-title .icone_card_cancelado[data-icon]:before{
	color: #666666;
	margin-right: 5px;
    margin-top: -2px;
    top: 3px;
/*     position: relative;
 */	
}
.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal{
	display: block;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid #d5dfe8;
}

.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal.elemento_vazio_modal{display: none;}
.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal.padding_top_0{padding-top: 0;}
.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal .item_descritivo_modal_titulo{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-right: 8px;
}
.LVF_custom_modal .modal-dialog .modal-content .modal-body .item_descritivo_modal .item_descritivo_modal_descricao{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
}

/* Estilos tab Futuro */
#tab_futuro .custom_card .card-header{
	text-align: center;
}
#tab_futuro .custom_card .card-header .icone_card_futuro{
	color: #ffffff;
}
#tab_futuro .custom_card .card-header .icone_card_futuro[data-icon]:before{
	font-size: 21px;
	position: relative;
	top: 3px;
}
#tab_futuro .custom_card .card-header .titulo_card_custom{
	/* color: #ffffff; */
	font-size: 17px;

}
#tab_futuro .custom_card .card-header .card_btn_saiba_mais{
	color: #666;
	font-size: 13px;
}  

#modal_Fatura_visualizar.LVF_custom_modal .modal-dialog.LVF_custom_modal_dialog
{
	max-width: 700px;
}
.LVF_custom_modal .futuro_modal_infos .item_descritivo_modal{
	display: inline-block;
}

.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text{
	display: inline-block;
	width: 100%;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #cccccc;
	text-align: center;
}
.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text .titulo{
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	width: 45%;
	padding-left: 10%;
	text-align: left;
	float: left;
}
.LVF_custom_modal .futuro_modal_infos .item_descritivo_modal .btn_extrato{
	font-size: 15px;
}
.LVF_custom_modal .futuro_modal_infos .infos_extrato_card .card-text .descricao{
	font-size: 15px;
}
.accordion_Futuro_modal .card-header .card_btn_saiba_mais{
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 100%;
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
.accordion_Futuro_modal .card{
	width: 100%;
	max-width: 545px;
}
.accordion_Futuro_modal .card .collapset.box_fechado{
	/* height: 0px; */
	display: none;
	overflow: hidden;

}
.conteudo_dinamico_tabs{
	width: 100%;
	display: inline-block;
	padding-bottom: 4%;
}


/**/
.lista_acordos_titulo{
	display: inline-block;
	width: 19.5%;
	text-align: left;
	font-weight: bold;
	text-align: center;
	padding: 5px 0 5px 0;
	font-size: 1.1em;
}
.lista_acordos_texto{
	display: inline-block;
	width: 19.5%;
	text-align: left;
	font-weight: normal;
	text-align: center;
	padding: 5px 0 5px 0;
	font-size: 1.1em;
}
.lista_acordos .list-group{
	margin-top: 5px;
	margin-bottom: 3px;
}
/**/
.loaderCss {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EE008C;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* ESTILOS MOBILE*/
@media screen and (max-width: 1140px) {
	.card.custom_card{
		width: 32.2%;
	}
}
@media screen and (max-width: 880px) {
	.card.custom_card{
		width: 48.8%;
	}
}
@media screen and (max-width: 730px) {
	/* estilos mobile do menu final */
	.LVF_custom_modal .modal-dialog{
		top: 10%;
	}
	.list-group.lista_grid_02,.list-blocos-group.lista_grid_02{
		width: 100%;
		display: inline-block;
		float: left;
	}
	.separador_dinamico{
		width: 100%;
		height: 15px;
		float: left;
		border-top: 1px solid #B3C9E0;
	}

	.lista_acordos_titulo{
		width: 19%;
	}
	.lista_acordos_texto{

		width: 19%;

	}

	.card.custom_card{
		width: 100%;
		/* max-width: auto; */
	}

}