/* Header */

#header {
/* 	width: 99.9%; */
	height:55px;
	text-align:center;
	vertical-align:middle;
	background: #7592AE;
}

/* Logo */

#logo {
	
}

#logo h1 {
  	float: left;
	margin-left:0px;
	margin-top:10px;
	margin-botton:0px;
	margin-right:5px;
	display: block;
	padding-top: 5px;
}

#logo h2 {
    float: right;
	margin-left:0px;
	margin-top:10px;
	margin-botton:0px;
	margin-right:5px;
	display: block;
	padding-top: 5px;
}

#logo_contrato h2 {
    float: left;
	margin-left: 4px;
	margin-top: 10px;
	margin-botton:0px;
	padding-left: 4px;
	display: block;
}

#logo h3 {
	margin-top:0px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	padding-top: 15px;
	color: #FFF;
	font-variant: small-caps;
}

#logo_contrato h3 {
	margin-top:0px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align:top;
	padding-top: 5px;
	padding-bottom: 10px;
	color: #FFF;
	font-variant: small-caps;
}
 
#logo h1 a {
	display: block;
	text-decoration: none;
	color: #FFF;
}

#logo p {
	margin: -103px 0 0 2px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #FFF;
}

