	<div id="header">
		<div id="logo" >
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h1 style="padding-top: 0px;"><img class="png_bg" src="../resources/images/novo-logo.png" style=" margin-left: 12px;"/></h1>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h3 style="padding-top: 20px;" id="tituloPagina">PSF SAC</h3>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>
	<nav id="navBarSac" class="navbar navbar-default mr_navbarSac" style="border-radius: 0; padding: 0px;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: left;height: 18px;padding-left: 10px; color: white;">
	       	<form id="formMenu" name="formMenu" method="post" >
				<a class="navbar-brand" style="padding-left: 0px;padding-top: 3px;cursor: pointer;" onclick="javascript: goHref('/psfsecurity/paginas/security/menu/tela/menu.html', null, null); "> 
					<span><img alt="Brand" src="../resources/images/menu-ccm.png" style="top: -2px;position: relative;">MENU</span>
				</a>
			</form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;height: 18px;padding-left: 10px; color: white;">
			<a class="navbar-brand" style="padding-left: 0px;padding-top: 3px;cursor: pointer;"> 
				<span><img alt="Brand" src="../resources/images/menu-ccm.png" style="top: -2px;position: relative;">Finalizar Chamado</span>
			</a>
        </div>         
		<!-- <div id="navbar-search" class="col-xs-8 col-sm-6 col-md-4 col-lg-4" style="height: 18px;padding: 0px;"></div> -->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style=" text-align: right; height: 18px; padding-right: 10px;padding-left: 0px;">
			<label class="text-left" style=" margin-bottom: 0px; color: #fff; font-size: 10px; padding-top: 5px;white-space: nowrap;">Vers&atilde;o 1.0.0</label>
        </div>        
    </nav>
