<script type="text/javascript">
  	// console.log('LOAD');
    
    
</script>

<div id="cardPageCadastro" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable=" false"="">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id">
                    <h4 class="panel-title">
                    	<span class="fs1" aria-hidden="true" data-icon="&#xe020;" style="left: 12px !important;position: absolute;top: 15px;z-index: 100;"></span>
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls=" collapsecard.id"=""> 
                            &nbsp;&nbsp;Informações Financeiras
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">

						<div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos">
						  <ul class="nav nav-tabs lista_tabs" role="tablist">
						    <li class="nav-item">
						      <a class="nav-link active" id="conta_tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Conta</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="saldo_tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Saldo</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="anuidade_tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Anuidades</a>
						    </li>
						     <li class="nav-item">
						      <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="#inadimplencia" role="tab" aria-controls="contact" aria-selected="false">Inadimplência</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="faturar_tab" data-toggle="tab" href="#faturar" role="tab" aria-controls="contact" aria-selected="false">Faturar</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="servicos_tab" data-toggle="tab" href="#servicos" role="tab" aria-controls="contact" aria-selected="false">Serviços</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" id="futuro_tab" data-toggle="tab" href="#futuro" role="tab" aria-controls="contact" aria-selected="false">Futuro</a>
						    </li>
						  </ul>
						  <div class="page-title " id="conteudo_tabs_info"></div>
						</div>

					</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

	$(function() {
		disparar();
	})
	
	function disparar() {

		setTimeout(function() {

			$('.lista_tabs').on('click','#conta_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_conta.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});

			$('.lista_tabs').on('click','#saldo_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_saldo.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});
					
			$('.lista_tabs').on('click','#anuidade_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_anuidades.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});
					
			$('.lista_tabs').on('click','#inadimplencia_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_inadimplencia.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});
					
			$('.lista_tabs').on('click','#faturar_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_faturar.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});
					
			$('.lista_tabs').on('click','#servicos_tab',function(event) {
				event.preventDefault();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_servicos.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});
					
			$('.lista_tabs').on('click','#futuro_tab',function(event) {
				event.preventDefault();
				// $("#conteudo_tabs_info").hide();
				loadGif("#conteudo_tabs_info");
				$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_futuro.html');
				$("#conteudo_tabs_info").fadeIn('slow');
			});

			btnScollTop('#btn_scroll_top');

			$(window).scroll(function() {
				if ($(this).scrollTop() > 250) {
					$('.sidebar').addClass('sidebar-fixo', 20);
				} else {
					$('.sidebar').removeClass('sidebar-fixo', 20);
				}
			});
					
			$(window).scroll(function() {
				if ($(this).scrollTop() > 50) {
					$('#btn_scroll_top').addClass('btn_scroll_top_on');
				} else {
					$('#btn_scroll_top').removeClass('btn_scroll_top_on');
				}
			});

			pegarDadosConta();

		}, 500);
	}; // final disparar()

	function btnScollTop(btn_class) {
		$(btn_class).on('click', function(event) {
			event.preventDefault();
			$('html, body').animate({
				scrollTop : 0
			}, 'slow');
		});
	};

	function pegarDadosConta() {
		$("#conteudo_tabs_info").hide();
		$("#conteudo_tabs_info").load('./components/informacoesFinanceiras/modulos/modulo_tab_conta.html');
		$("#conteudo_tabs_info").fadeIn('slow');
		lancamentosManuais.setLogAutomatico('Efetuada consulta de informações financeiras do cliente em ' + formatDateTime(new Date()));
		
	};
	
</script>
