<script type="text/javascript">
    require("./dadosCliente/init_dadosCliente.js");
</script>
<!-- DADOS CLIENTE -->
<div id="dadosCliente" class="page-title clearfix row"> 
    <ul class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <li id="infosCliente" class="boxAlturaDinamicaDashboard marisa-pink-bg col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a class="pageCadastro" href="page_infos_cadastrais.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe075;" ></span> 
                <div class="details"> 
                    <span class="big">MARIA INES DA SILVA</span> 
                    <span id="cpfDadosCliente" class="small"><span class="labelCliente">CPF:</span> 999.999.999.99</span> 
                    <span class="small"><span class="labelCliente">Situação Conta:</span> CONTA ATIVA</span> 
                    <div class="showContent">
                        <span class="small"><span class="labelCliente">Nome Mãe:</span> TEREZINHA DOS SANTOS ANDRADE</span>
                        <span class="small"><span class="labelCliente">RG:</span> 34772143</span>
                        <span class="small"><span class="labelCliente">Situação Conta:</span> CONTA ATIVA NORMAL </span>
                        <span class="small"><span class="labelCliente">e-mail:</span> LIVIASANDRADE14@GMAIL.COM</span>
                        <span class="small"><span class="labelCliente">Data Nascimento / Idade:</span> 14/01/1979 -  39 anos</span>
                        <span class="small">&nbsp;</span>
                    </div>
                </div>
            </a>
        </li> 
        <li id="CartaoCliente" class="boxAlturaDinamicaDashboard marisa-blue-bg col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
            <span class="fs1" aria-hidden="true" data-icon="&#xe039;" ></span> 
            <div class="details"> 
                <span class="big">6034.7520.1361.9038 </span> 
                <span class="small"><span class="labelCliente">Situação Cartão:</span> CARTÃO ATIVO</span> 
                <div class="showContent">
                    <span class="small"><span class="labelCliente">Data Cadastro:</span> 01/12/2014 </span>
                    <span class="small"><span class="labelCliente">Data Última Alteração:</span> 11/09/2017 </span>
                    <span class="small"><span class="labelCliente">Vencimento / Melhor Dia:</span> 16 </span>
                    <span class="small"><span class="labelCliente">Filial / Loja Origem:</span> L 900 SP / SP </span>
                    <span class="small"><span class="labelCliente">Filial / Loja Retirada:</span> L 900 SP / SP</span>
                    <span class="small">&nbsp;</span>
                </div>
            </div>
        </li> 
        <li id="ListaIdentificacaoPositiva" class="boxAlturaDinamicaDashboard sea-green-bg col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
            <span class="fs1" aria-hidden="true" data-icon="&#xe0f7;" ></span> 
            <div class="details">
                <div class="nav_top_ferramentas">
                    <span class="titulo big">
                        Ferramentas
                    </span>
                    <a id="verMaisInfos" href="#" class="maisInfos btn_identificacao btn btn-warning">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe102;"></span>
                    </a> 
                </div> 
                <div class="perguntasRespostas">
                    <span class="titulo_atendente">Atendente:</span>
                    <ul class="lista_perguntas_e_respostas">
                        <li class="item_perguntaResposta">
                            <span class="itens resposta">Nome:</span>
                            <span class="itens pergunta">Laercio Vacca Filho</span><br>
                            <span class="itens resposta">Matricula:</span>
                            <span class="itens pergunta">234.234</span><br>
                            <span class="itens resposta">Mensagens:</span>
                            <span class="itens pergunta">2</span>
                        </li>
                    </ul>
                </div>
                <div class="nav_acao_infos_cliente"> 
                    <a id="ativaNavegacaoRapida" href="#" class="btn_identificacao btn btn-info">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe08b;">Navegação Rapida</span>
                    </a>
                </div>
                <div class="uniao"></div>
            </div> 
        </li> 
    </ul> 
</div> 
<script>
    $(function(){
        $('.pageCadastro').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            console.log('Load Page >>', targetPage);
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
        });
        $('#ativaNavegacaoRapida').on('click', function(event) {
            event.preventDefault();
            if($('#panelNavegacaoRapida').hasClass('navegacao_on')){
                $('#panelNavegacaoRapida').animate({
                    height: 0,
                    opacity: 0
                },200);
                $('.uniao').animate({opacity: 0},200);
                $('#panelNavegacaoRapida').removeClass('navegacao_on');
            }else{
                $('.uniao').animate({opacity: 1},200);
                $('#panelNavegacaoRapida').animate({
                    height: 40,
                    opacity: 1
                },200);
                $('#panelNavegacaoRapida').addClass('navegacao_on');
            }
        });
    })
    var alturaDinamica = {
        start:function(){
            this.aumentarAltura();
        },
        aumentarAltura:function(){
            var larg = $(window).width();
            $('#verMaisInfos').on('click', function(event) {
                event.preventDefault();
                  if($(this).hasClass('maisInfos')) {
                    console.log('LARGURA TELA',larg)
                    // $('.boxAlturaDinamicaDashboard').animate({height:340},200);
                    if(larg <=1024){
                        $('.boxAlturaDinamicaDashboard').animate({height:340},200);
                    }else{
                        $('.boxAlturaDinamicaDashboard').animate({height:280},200);
                    }
                    $('.perguntasRespostas').fadeIn( "slow" );
                    $('.showContent').fadeIn("slow");
                    $(this).removeClass('maisInfos');
                    $(this).addClass('menosInfos');
                    $(this).html('<span class="fs1" aria-hidden="true" data-icon="&#xe101;"></span>');
                  } else { 
                    $('.boxAlturaDinamicaDashboard').animate({height:100},200);
                    $('.perguntasRespostas').fadeOut( "fast" );
                    $('.showContent').fadeOut( "fast" );
                    $(this).addClass('maisInfos');
                    $(this).removeClass('menosInfos');
                    $(this).html('<span class="fs1" aria-hidden="true" data-icon="&#xe102;"></span>');
                  }
                
            });
        }
    }
    setTimeout(function(){
        alturaDinamica.start();
    },300)
    function renderPageCadastro(){
        
    }
</script>
<script type="text/javascript">
    initDadosCliente.load();
</script>
