<script type="text/javascript">
    require("components/finalizaChamado/init_finalizaChamado.js");
</script>

<div class="referenciaModalcard"></div>
<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Finalização de Chamado
                        </a>
                    </h4>
                </div>
                <div id="conteudoFinalizaChamado" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div id="tituloClienteAtendido"></div>
                        <div id="tiposDeEnvioProc"></div>
                        <div id="listaLancamentosAtendimento"></div>
                        <div id="navAcoesFinalizaChamado"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('.card_acordeon').on('click', function(event) {
            event.preventDefault();
            var target = $(this).closest('.card').attr('data-id');
            console.log('Olha o target',target)
            $('#'+target).find('collapse').toggleClass('show');
             // ativarCard($(this));
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
        });
        // 
        $('#btnProtocoloAberto').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "modalcard":false,
                "modalpage":true,
                "titulo":"Confirmação de Finalização de Chamado",
                "texto":"Deseja manter Protocolo em Aberto?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
        // 
        $('#btnFinalizar').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "modalcard":false,
                "modalpage":true,
                "titulo":"Confirmação de Finalização de Chamado",
                "texto":"Deseja realmente Finalizar este chamado?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
       
        
    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
</script>
<script type="text/javascript">
    var elemPai                     = $('#conteudoFinalizaChamado');
    var tituloClienteAtendido       = $('#tituloClienteAtendido');
    var tiposDeEnvioProc            = $('#tiposDeEnvioProc');
    var listaLancamentosAtendimento = $('#listaLancamentosAtendimento')
    var navAcoesFinalizaChamado     = $('#navAcoesFinalizaChamado');

    initFinalizaChamado.load(elemPai,tituloClienteAtendido,tiposDeEnvioProc,listaLancamentosAtendimento,navAcoesFinalizaChamado);

</script>

