<script type="text/javascript">
    
</script>
<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls=" collapsecard.id"=""> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                            Memofile
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
