<script type="text/javascript">
  require("./components/informacoesFinanceiras/js/servicos_js_tabs.js");
  require("./components/informacoesFinanceiras/js/modulo_js_faturar.js");
</script>
<div id="tab_conta" class="left_box_grid" style="display: block">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">Faturar</li>
  </ul>
  <div id="conteudo_dinamico_faturar" class="conteudo_dinamico_tabs"></div>
  
</div>
