<script type="text/javascript">
  require("./components/informacoesFinanceiras/js/servicos_js_tabs.js");
  require("./components/informacoesFinanceiras/js/modulo_js_servicos.js");
</script>

<div id="tab_servicos" class="left_box_grid" style="display: block">
  <div id="controle_de_servicos_ativos">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Servi&ccedil;&otilde;s Contratados Ativos</li>
    </ul>
    <div id="conteudo_dinamico_servicos_ativos" class="conteudo_dinamico_tabs"></div>
  </div>
  <div class="lista_grupo_clear"><!--final Servicos ativos--></div>

  <ul id="header_servicos_cancelados" class="list-group lista_grupo_clear lista_grupo_clear_margin_top">
    <li class="list-group-item list-group-item-info">Servi&ccedil;&otilde;s Contratados Cancelados</li>
  </ul>
  <div id="conteudo_dinamico_servicos_cancelados" class="conteudo_dinamico_tabs"></div>
  <!-- Inicio Serviços cancelados -->

  <div class="lista_grupo_clear"></div>

 </div>


