<script type="text/javascript">
  require("./components/informacoesFinanceiras/js/servicos_js_tabs.js");
  require("./components/informacoesFinanceiras/js/modulo_js_futuro.js");
</script>

<div id="tab_futuro" class="left_box_grid" style="display:block">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">FUTUROS</li>
  </ul>

  <div id="conteudo_dinamico_futuros" class="conteudo_dinamico_tabs"></div>
  <div class="lista_grupo_clear"><!--final Servicos ativos--></div>
</div>


