<link href="../../../../resources/libs/datatable/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/fixedColumns.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/select.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/jquery-ui-1.12.1.custom/css/jquery-ui.css" rel="stylesheet">	
<link href="../../../../resources/css/modulos/style_cadastro_dependentes_odonto.css" rel="stylesheet">

<script type="text/javascript" src="./local/cadastro.js"></script>
<style type="text/css">
	#table-local_wrapper .row{
		width: 100%;
	}
</style>

<div id="card.cadastro_local_risco"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
	<div class="card menu" id="menucard.id" style="margin: 0px; border: 5px solid #fbfaf6; max-width: 100%;">
		<div class="panel-group" id="accordion" role="tablist"	aria-multiselectable="false">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="cadAdicionais">
					<h4 class="panel-title">
						<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px; color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id" > 
							<span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
							<spam id="tituloDinamico">Cadastro de Local de Risco</spam>
						</a>
					</h4>
				</div>
				<!-- inicio form -->
				<div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
					<div class="panel-body" style="visibility: visible; padding: 5px; height: auto; overflow: auto;">
						<form id="formLocal" class="form-horizontal" data-toggle="validator" role="form">
							<!-- Content -->
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
									<legend id="titleCadAdicionais">Seguro</legend>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group" style="margin: -10px -15px 0px -15px;">
										<label class="control-label" style="margin-top: 0px" for="locVlrMensalSeguro">Valor Mensal do Seguro</label><br>
										<input type="text" id="locVlrMensalSeguro" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly" value="R$ 0.00">
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0 0 0;">
									<legend id="titleCadAdicionais" style="padding:5px 0 7px 0; margin: 0px 0 5px 0; font-size: 15px">Lista de Coberturas</legend>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="margin-top: 0px" for="locCoberturaDescr">Cobertura</label><br>
										<input type="text" id="locCoberturaDescr" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly">
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
									<div class="form-group" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="margin-top: 0px" for="locCoberturaValor">Valor Cobertura</label><br>
										<input type="text" id="locCoberturaValor" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly">
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
							</div>
							<div class="panel-heading" style="margin: 10px 10px 0px 10px;background-color: #dce1ea; font-size: 15px">
								Local de Risco <label class="pull-right" id="labelSubstituicao" style="font-size: 11px; color:#800040">* Obs: Preencha os campos sem acentuação</label>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locCep">CEP</label><br>
										<input class="form-control" id="locCep" type="text"	style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" data-error="Valor inválido!" required>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
									<div class="form-group" style="margin: 0 0 0 0">
										<label class="control-label" style="padding-top: 0px"></label><br>
										<button id="btnPesquisar" type="button" style = "padding-bottom: 1px; padding-top: 1px; border-radius: 3px; font-size: 13px; margin-top: 0px; margin-right: 15px;" class="btn btn-primary">Pesquisar</button>
										<button id="btnInformar" type="button" style = "padding-bottom: 1px; padding-top: 1px;font-size: 13px;margin-top: 0px" class="btn btn-primary">Informar Endereço</button>
									</div>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locRua">Rua</label><br>
										<input type="text" id="locRua" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[_A-z 0-9]{1,}$" data-error="Valor inválido!" maxlength="100" required>										<div class="help-block with-errors" style="display: inline;"></div>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locNumero">Número</label><br>
										<input type="text" inputmode="tel" onkeypress="return isNumberKey(event);" id="locNumero" class="form-control" maxLength="5" minLength="1" 
										style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;"
										pattern="^[0-9]{1,5}$" data-error="Valor inválido!" maxlength="10" required>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locComplemento">Complemento</label><br>
										<input type="text" id="locComplemento" class="form-control" maxlength="20" 
										style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;"
										pattern="^[A-z -/0-9]{1,}$" data-error="Valor inválido!">
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locBairro">Bairro</label><br>
										<input type="text" id="locBairro" class="form-control" maxlength="30"
										style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;"
										pattern="^[A-z 0-9]{1,}$" data-error="Valor inválido!" required>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
							</div>
							<div class="row" style="margin: 0px 10px 0px 10px;">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locMunicipio">Município</label><br>
										<input type="text" id="locMunicipio" class="form-control" maxlength="30"
										style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;"
										pattern="^[A-z 0-9]{1,}$" data-error="Valor inválido!" required>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
									<div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
										<label class="control-label" style="padding-top: 0px" for="locUf">UF</label><br>
										<select class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" id="locUf" data-error="Valor inválido!" required>
											<option value="">Selecione...</option>
												<option value="">Selecione...</option>
												<option value="AC">Acre</option>
												<option value="AL">Alagoas</option>
												<option value="AP">Amapá</option>
												<option value="AM">Amazonas</option>
												<option value="BA">Bahia</option>
												<option value="CE">Ceará</option>
												<option value="DF">Distrito Federal</option>
												<option value="ES">Espirito Santo</option>
												<option value="GO">Goiás</option>
												<option value="MA">Maranhão</option>
												<option value="MS">Mato Grosso do Sul</option>
												<option value="MT">Mato Grosso</option>
												<option value="MG">Minas Gerais</option>
												<option value="PA">Pará</option>
												<option value="PB">Paraíba</option>
												<option value="PR">Paraná</option>
												<option value="PE">Pernambuco</option>
												<option value="PI">Piauí</option>
												<option value="RJ">Rio de Janeiro</option>
												<option value="RN">Rio Grande do Norte</option>
												<option value="RS">Rio Grande do Sul</option>
												<option value="RO">Rondônia</option>
												<option value="RR">Roraima</option>
												<option value="SC">Santa Catarina</option>
												<option value="SP">São Paulo</option>
												<option value="SE">Sergipe</option>
												<option value="TO">Tocantins</option>
										</select>
										<div class="help-block with-errors" style="display: inline;"></div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
								<button id="submita_locrisco" type="submit" class="btn btn-primary btn-lg disabled" title="Grava os dados do Local" style="width: 95px;" tabindex="10">Salvar</button>
								<button id="cancela_operacao_loc_risco" class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="11" onclick="javascript: confirmaCancelamentoCadastroLocalRisco(); return false;">Cancelar</button>
							</div>							
						</form>
						<!-- final form -->
						<!-- Modal HTML -->
						<div id="modalCadastroLoc" class="LVF_custom_modal LVF_custom_modal_pdf modal fade" style="padding-right: 0px;">
							<div class="modal-dialog modal-dialog-centered LVF_custom_modal_dialog">
								<div class="modal-content">
									<!-- data-toggle="validator" role="form" -->
									<form id="formCadastroLoc" class="form-vertical">
										<div class="panel panel-default" style="margin-bottom: auto;">
											<!-- Default panel contents -->
											<div class="panel-heading" id="formModalTitle">
												Informar Endereço
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											</div>
											<div class="panel-body">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0px;padding-right: 5px;">
														<div class="form-group has-feedback" style="margin-bottom: 0px;">
															<label for="pesqEstado" class="control-label" style="margin-top: 5px;">Estado</label><br>
															<select class="form-control" style="width: 100%;" id="pesqEstado" data-error="Valor inválido!">
																<option value="">Selecione...</option>
																<option value="AC">Acre</option>
																<option value="AL">Alagoas</option>
																<option value="AP">Amapá</option>
																<option value="AM">Amazonas</option>
																<option value="BA">Bahia</option>
																<option value="CE">Ceará</option>
																<option value="DF">Distrito Federal</option>
																<option value="ES">Espirito Santo</option>
																<option value="GO">Goiás</option>
																<option value="MA">Maranhão</option>
																<option value="MS">Mato Grosso do Sul</option>
																<option value="MT">Mato Grosso</option>
																<option value="MG">Minas Gerais</option>
																<option value="PA">Pará</option>
																<option value="PB">Paraíba</option>
																<option value="PR">Paraná</option>
																<option value="PE">Pernambuco</option>
																<option value="PI">Piauí</option>
																<option value="RJ">Rio de Janeiro</option>
																<option value="RN">Rio Grande do Norte</option>
																<option value="RS">Rio Grande do Sul</option>
																<option value="RO">Rondônia</option>
																<option value="RR">Roraima</option>
																<option value="SC">Santa Catarina</option>
																<option value="SP">São Paulo</option>
																<option value="SE">Sergipe</option>
																<option value="TO">Tocantins</option>
															</select>
															<div class="help-block with-errors" style="display: inline;"></div>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 5px;padding-right: 5px;">
														<div class="form-group text-left has-feedback"	style="padding-left: 0px; margin-bottom: 0px;">
															<label for="pesqMunicipio" class="control-label" style="margin-top: 5px;">Município</label><br> 
															<input type="text" class="form-control" maxlength="100"	id="pesqMunicipio" placeholder="Município" style="width: 100%;"	pattern="^[A-z 0-9]{1,}$" data-error="Valor inválido!">
															<div class="help-block with-errors" style="display: inline;"></div>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 5px;padding-right: 0px;">
														<div class="form-group text-left has-feedback" style="padding-left: 0px;">
															<label for="pesqLogradouro" class="control-label" style="margin-top: 5px;">Logradouro</label><br> 
															<input type="text" class="form-control" maxlength="100" id="pesqLogradouro" placeholder="Logradouro" style="width: 100%;" pattern="^[A-z 0-9}$" data-error="Valor inválido!">
															<div class="help-block with-errors" style="display: inline;"></div>
														</div>
													</div>
													<label class="pull-left" id="labelSubstituicao" style="font-size: 11px; color: #800040; margin-bottom: 0px;">* Obs: Preencha os campos sem acentuação</label>
													<button type="button" class="btn btn-info btn-md pull-right" id="btnBuscar">Buscar</button>
													<p style="margin-bottom: 10px;">&nbsp;</p>
													<div class="panel-body" style="padding: 0px; width: 100%">
														<table id="table-local"	class="table table-striped table-hover table-responsive" style="margin-top: 0px !important;">
															<thead>
																<tr>
																	<th></th>
																	<th>CEP</th>
																	<th>Logradouro</th>
																	<th>Bairro</th>
																	<th>Cidade</th>
																	<th>UF</th>
																	<!-- <th>Ações</th> -->
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>
											<div class="panel-footer text-right">
												<button type="button" id="btnSelecionar" class="btn btn-success">Selecionar</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- modal question -->  
						<div id="modalQuestion" class="modal fade" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document" style="top: 100px;">
								<div id="modalContent" class="modal-content">
									<div class="modal-header" id="messageHeader" style="background-color: #DDDDDD;">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 id="messageTitle" class="modal-title">Atenção</h4>
									</div>
									<div class="modal-body row" style="min-height: 60px;">
										<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
											<h1 style="margin-top: auto;">
												<i id="dialog-icon" class="fa fa-check" style="color: green;" ></i>
											</h1>
										</div>
										<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
											<label id="dialog-message">Tem certeza!</label>
										</div>
									</div>
									<div class="modal-footer" style="background-color: rgb(243, 243, 243);padding: 10px;">
										<button type="button" id="btnYesOk" class="btn btn-primary"  data-dismiss="modal">Fechar</button>
										<button type="button" id="btnNoCancel" class="btn btn-default"  data-dismiss="modal">Cancelar</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- modal question -->
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>
