
<link href="../../../../resources/libs/datatable/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/fixedColumns.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/select.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/jquery-ui-1.12.1.custom/css/jquery-ui.css" rel="stylesheet">	
<link href="../../../../resources/css/modulos/style_cadastro_dependentes_odonto.css" rel="stylesheet">	

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

 -->
<style type="text/css">
	.control-label{
		margin-top: 0px!important;
	}
</style>
<script type="text/javascript" src="./dependentes/cadastro.js"></script>

	<div id="card.cadastro_dependente" data-acao="contratar" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
		<div class="card menu" id="menucard.id" style="margin: 0px; border: 5px solid #fbfaf6; max-width: 100%;">
			<div class="panel-group" id="accordion" role="tablist"	aria-multiselectable="false">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="cadAdicionais">
						<h4 class="panel-title">
							<a class="collapsed" id="menuCollapsecard.id" role="button"
								style="padding-right: 5px; color: #75104c;" data-toggle=""
								data-parent="#accordion" aria-expanded="true"
								aria-controls="collapsecard.id" > 
								<span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
								Cadastro de Dependentes
							</a>
						</h4>
					</div>
					<!-- ## -->
					<div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
						<div class="panel-body" style="visibility: visible; padding: 5px; height: auto; overflow: auto;">
							<!--########################################-->
							<form id="formDependente" class="form-horizontal" data-toggle="validator" role="form">
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
										<legend id="titleCadAdicionais">Seguro</legend>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group" style="margin: -10px -15px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="depVlrMensalSeguro">Valor Mensal do Seguro</label><br>
											<input type="text" id="depVlrMensalSeguro" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly" value="R$ 0.00">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0 0 0;">
										<legend id="titleCadAdicionais" style="padding:5px 0 7px 0; margin: 0px 0 5px 0; font-size: 15px">Lista de Coberturas</legend>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group" style="margin: -10px -5px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="coberturaDescr">Cobertura</label><br>
											<input type="text" id="coberturaDescr" class="form-control" style="width: 100%;font-size: 14px;height: 22px;" readonly="readonly">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
										<div class="form-group" style="margin: -10px -5px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="coberturaValor">Valor Cobertura</label><br>
											<input type="text" id="coberturaValor" class="form-control" style="width: 100%;font-size: 14px;height: 22px;" readonly="readonly">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0 0 0;">
										<legend id="titleInforCliente" style="padding:5px 0 7px 0; margin: 0px 0 5px 0; font-size: 15px">Informações Adicionais Cliente</legend>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="form-group" style="margin: -10px -5px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="numeroRgCliente">RG</label><br>
											<input class="form-control" id="numeroRgCliente" maxlength="14" placeholder="" style="width: 100%; text-transform: uppercase; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" data-error="Campo inválido!" data-validate="true" data-rg-error='RG inválido!' data-toggle="tooltip" data-title="RG do Cliente!" data-rg required="required">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="form-group" style="margin: -10px -5px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="orgaoEmissorCliente">Orgão Emissor</label><br>
											<input class="form-control" id="orgaoEmissorCliente" maxlength="5" type="text" style="width: 100%; background-color: #fbfaf6; text-transform: uppercase; font-weight: bold;border-radius: 3px;" data-error="Valor obrigatório!"  data-validate="true" required="required">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-right: 5px;">
											<div class="form-group" style="margin: -10px -5px 0px -15px;">
												<label class="control-label" style="padding-top: 0px" for="estadoEmissorCliente">UF Emissor</label><br>
												<select class="form-control" style="width: 80%; height: 90%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" id="estadoEmissorCliente" >
													<option value="">Selecione...</option>
													<option value="AC">AC</option>
													<option value="AL">AL</option>
													<option value="AM">AM</option>
													<option value="AP">AP</option>
													<option value="BA">BA</option>
													<option value="CE">CE</option>
													<option value="DF">DF</option>
													<option value="ES">ES</option>
													<option value="GO">GO</option>
													<option value="MA">MA</option>
													<option value="MG">MG</option>
													<option value="MS">MS</option>
													<option value="MT">MT</option>
													<option value="PA">PA</option>
													<option value="PB">PB</option>
													<option value="PE">PE</option>
													<option value="PI">PI</option>
													<option value="PR">PR</option>
													<option value="RJ">RJ</option>
													<option value="RN">RN</option>
													<option value="RO">RO</option>
													<option value="RR">RR</option>
													<option value="RS">RS</option>
													<option value="SC">SC</option>
													<option value="SE">SE</option>
													<option value="SP">SP</option>
													<option value="TO">TO</option>
												</select>
												<div class="help-block with-errors" style="display: inline;"></div>	
											</div>
									</div>
								</div>
													
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0 0 0;">
										<legend id="titleCadAdicionais" style="padding:5px 0 7px 0; margin: 5px 0 5px 0; font-size: 15px">Lista de Dependentes
											<button id="btnIncluir" type="button" class="btn btn-success pull-right" style="padding: 4px 10px 4px 10px !important;font-size: 12px;">INCLUIR</button>
										</legend>
									</div>
								</div>
								<div id="panelTable" class="row" style="margin: 0px -5px 0px 20px;">
									<div id="controle-tabela-dependentes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
										<table id="table-dependentes" name="table-dependentes" class="table table-striped table-hover table-responsive controle_tabela">
											<thead>
												<tr>
													<th></th>
													<th>CPF</th>
													<th class="cp_dependentes cp_nome">Nome</th>
													<th>Nome Mãe</th>
													<th class="cp_dependentes cp_data_nascimento">Data Nasc</th>
													<th>Sexo</th>
													<th>Estado Civil</th>
													<th class="cp_dependentes cp_grau_parentesco">Parentesco</th>
													<th>RG</th>		
													<th>Orgão Emissor</th>		
													<th>UF Emissor</th>		
													<th class=" cp_dependentescp_situacao">Situação</th>		
													<th class="cp_dependentes actions" style="width: 70px;">Ações</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
									<button id="submita_dependentes" type="submit" class="btn btn-primary btn-lg btn-lg" title="Grava os dados dos dependentes" style="width: 95px;" tabindex="10">Salvar</button>
									<button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="11" onclick="javascript: confirmaCancelamentoCadastroDependentes(); return false;">Cancelar</button>
								</div>
								<!-- Content OLD -->
							
								<!-- Content final  -->
							</form>
							<!-- Modal HTML -->
							
							<div id="modalCadastroDep" class="LVF_custom_modal LVF_custom_modal_pdf modal fade">
								<div class="modal-dialog modal-dialog-centered LVF_custom_modal_dialog" role="document">
									<div class="modal-content">
										<form id="formCadastroDep" class="form-vertical" data-toggle="validator" role="form" >
											<div class="panel panel-default" style="margin-bottom: auto;">
												<!-- Default panel contents -->
												<div class="panel-heading" id="formModalTitle">
													Incluir Dependente 
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												</div>
												<div class="panel-body">
													<!-- ## -->
													<div class="row" style="padding-bottom: 3px;">
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="cpfCad">CPF</label><br>
																<input class="form-control" id="cpfCad" maxlength="14" type="text" 
																style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;"
																data-error="Campo inválido!" 
																data-validate="true" 
																data-cpf-error='CPF inválido!'
																data-cpfDuplicado-error='CPF já cadastrado!'
																data-toggle="tooltip" 
																data-title="CPF do Dependente!" 
																data-cpf 
																data-cpfDuplicado>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="nomeCad">Nome</label><br>
																<input type="text" id="nomeCad" class="form-control" style="width: 100%; background-color: #fbfaf6; text-transform: uppercase; font-weight: bold;border-radius: 3px;"
																pattern="^[_A-z 0-9]{1,}$" data-error="Valor inválido!" maxlength="40" required>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
													</div>
													<!-- ## -->
													<div class="row" style="padding-bottom: 3px;">
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="nomeMaeCad">Nome da Mãe</label><br>
																<input type="text" id="nomeMaeCad" class="form-control" style="width: 100%; background-color: #fbfaf6; font-weight: bold;text-transform: uppercase; border-radius: 3px;" 
																pattern="^[_A-z 0-9]{1,}$" data-error="Valor inválido!" maxlength="40" required>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">												
																<label for="dataNascCad" style="padding-left: 0px; margin-top: 0px">Data Nascimento</label>
																<input class="form-control col-lg-12" 
																style="border: 0px; padding: 0px; width: 100%; background-color: #fbfaf6;  font-weight: bold; border-radius: 3px; padding-left: 15px;    
																border: 1px solid #b3c9d0;border-top-color: rgb(179, 201, 208);border-top-style: solid; 
																border-top-width: 1px; border-right-color: rgb(179, 201, 208); border-right-style: solid; border-right-width: 1px; 
																border-bottom-color: rgb(179, 201, 208); border-bottom-style: solid; border-bottom-width: 1px; border-left-color: rgb(179, 201, 208); 
																border-left-style: solid; border-left-width: 1px; border-image-source: initial; border-image-slice: initial; border-image-width: initial; 
																border-image-outset: initial; border-image-repeat: initial;"     
																id="dataNascCad" type="text" required/>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>									
													</div>
													<!-- ## -->
													<div class="row" style="padding-bottom: 3px;">
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="sexoCad">Sexo</label><br>
																<select class="form-control" style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" id="sexoCad" pattern="^[ 123]{0,1}$" data-error="Valor inválido!"required>
																	<option value="">Selecione...</option>
																	<option value="1">Feminino</option>
																	<option value="2">Masculino</option>
																</select>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="estadoCivilCad">Estado Civil </label><br>
																<select class="form-control" style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" id="estadoCivilCad" pattern="^[123456]{0,1}$" data-error="Valor inválido!" required>
																	<option value="">Selecione...</option>
																	<option value="1">Solteiro</option>
																	<option value="2">Casado</option>
																	<option value="3">Divorciado</option>
																	<option value="4">Viúvo</option>
																	<option value="5">Desquitado/Separado</option>
																	<option value="6">Outros</option>
																</select>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
													</div>
													<!-- ## -->
													<div class="row" style="padding-bottom: 3px;">
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="grauParentescoCad">Grau de Parentesco</label><br>
																<select class="form-control" style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" id="grauParentescoCad" pattern="^[12345]{0,1}$" data-error="Valor inválido!" required>
																	<option value="">Selecione...</option>
																	<option value="1">Pais</option>
																	<option value="2">Filhos</option>
																	<option value="3">Conjuge</option>
																	<option value="4">Amizade</option>
																	<option value="5">Outros</option>
																</select>
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="rgCad">RG</label><br>
																<input class="form-control" id="rgCad" maxlength="14" placeholder="" pattern="^[0-9]{1,14}$" style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" data-error="Campo inválido!" data-validate="true" data-toggle="tooltip" data-title="RG do Dependente!" >
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
													</div>
													<!-- ## -->
													<div class="row" style="padding-bottom: 3px;">
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
															<div class="form-group has-feedback">
																<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="orgaoEmissorCad">Orgão Emissor</label><br>
																<input class="form-control" id="orgaoEmissorCad" maxlength="5" type="text" style="width: 100%; background-color: #fbfaf6; text-transform: uppercase; font-weight: bold;border-radius: 3px;" >
																<div class="help-block with-errors" style="display: inline;"></div>
															</div>
														</div>
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<div class="form-group has-feedback">
																	<label class="control-label" style="padding-top: 5px; padding-bottom: 3px" for="ufEmissorCad">UF Emissor</label><br>
																	<select class="form-control" style="width: 100%; background-color: #fbfaf6; font-weight: bold;border-radius: 3px;" id="ufEmissorCad" >
																		<option value="">Selecione...</option>
																		<option value="AC">AC</option>
																		<option value="AL">AL</option>
																		<option value="AM">AM</option>
																		<option value="AP">AP</option>
																		<option value="BA">BA</option>
																		<option value="CE">CE</option>
																		<option value="DF">DF</option>
																		<option value="ES">ES</option>
																		<option value="GO">GO</option>
																		<option value="MA">MA</option>
																		<option value="MG">MG</option>
																		<option value="MS">MS</option>
																		<option value="MT">MT</option>
																		<option value="PA">PA</option>
																		<option value="PB">PB</option>
																		<option value="PE">PE</option>
																		<option value="PI">PI</option>
																		<option value="PR">PR</option>
																		<option value="RJ">RJ</option>
																		<option value="RN">RN</option>
																		<option value="RO">RO</option>
																		<option value="RR">RR</option>
																		<option value="RS">RS</option>
																		<option value="SC">SC</option>
																		<option value="SE">SE</option>
																		<option value="SP">SP</option>
																		<option value="TO">TO</option>
																	</select>
																	<div class="help-block with-errors" style="display: inline;"></div>	
																</div>
														</div>
													</div>
													<!-- ##  -->
												</div>
												<div class="panel-footer text-right">
													<button type="submit" class="btn btn-success">Confirmar</button>
													<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div> 







							<!-- FINAL Modal HTML -->
							<!-- modal question -->  
							<div id="modalQuestion" class="modal fade" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document" style="top: 100px;">
									<div id="modalContent" class="modal-content">
										<div class="modal-header" id="messageHeader" style="background-color: #DDDDDD;">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 id="messageTitle" class="modal-title">Atenção</h4>
										</div>
										<div class="modal-body row" style="min-height: 60px;">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
												<h1 style="margin-top: auto;">
													<i id="dialog-icon" class="fa fa-check" style="color: green;" ></i>
												</h1>
											</div>
											<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
												<label id="dialog-message">Tem certeza!</label>
											</div>
										</div>
										<div class="modal-footer" style="background-color: rgb(243, 243, 243);padding: 10px;">
											<button type="button" id="btnYesOk" class="btn btn-primary"  data-dismiss="modal">Fechar</button>
											<button type="button" id="btnNoCancel" class="btn btn-default"  data-dismiss="modal">Cancelar</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div>
							<!-- modal question -->
							<!--########################################-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


