#dadosCliente.mr_dadosClienteDash{overflow: inherit}
#dadosCliente.mr_dadosClienteDash #navegacaoMobile{display: none;}
#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas #btnProcedimentoMobile{display: none;}
#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas #btnMenuMobile{display: none;}

	#dadosCliente.mr_dadosClienteDash #infosCliente{ 
		width: 33.33%;
		
	}
	#dadosCliente.mr_dadosClienteDash #CartaoCliente{
		width: 33.33%;
		
	}
	#dadosCliente.mr_dadosClienteDash #ListaIdentificacaoPositiva{
		width: 33.33%
	}

#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard #ativaNavegacaoRapida .fs1::before,
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard #verMaisInfos .fs1::before,
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .sub_menu_ferramentas #btnAtivarMenuMobile .fs1::before{
	font-size: 15px;
}
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details{
margin-left: 5px;
}
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .big{
font-size: 12px;
}
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .small{
font-size: 12px;
}
#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .labelCliente{
font-size: 12px;
}

#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas{
	display: block;
    width: 100%;
    padding-top: 5px;
    min-height: 30px;
    float: left;
}

#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas .item_menu{
	border: 0px;
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
}

@media screen and (max-width: 800px){
	
	#dadosCliente .showContent.mr_showContentMobile{display: block}
	
	#dadosCliente.mr_dadosClienteDash #infosCliente{ 
		width: 50%;
		height: 135px 
	}
	#dadosCliente.mr_dadosClienteDash #CartaoCliente{
		width: 50%;
		height: 135px
	}
	#dadosCliente.mr_dadosClienteDash #ListaIdentificacaoPositiva{
		width: 100%;
	    height: 75px;
	}
	
	#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas #btnProcedimentoMobile{display: block;}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard #verMaisInfos{
		display: none;
	}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard #linkProcedimentos .fs1::before{
		font-size: 13px
	}
	
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .fs1::before{
		font-size: 25px;
	}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details{
		margin-left: 5px;
	}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .big{
		font-size: 12px;
	}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .small{
		font-size: 12px;
	}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard .details .labelCliente{
		font-size: 12px;
	}
	#ListaIdentificacaoPositiva .details .btn_identificacao:last-child{
		margin-top: 0px;
	}
	#navegacao_rapida{
		position: relative;
		z-index: 999;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 520px){

	#dadosCliente.mr_dadosClienteDash #infosCliente{ width: 100% }
	#dadosCliente.mr_dadosClienteDash #CartaoCliente{width: 100%}
	#dadosCliente.mr_dadosClienteDash .boxAlturaDinamicaDashboard{
		min-width: 360px;
	}
	#dadosCliente.mr_dadosClienteDash #navegacaoMobile{display: block;}
	#dadosCliente.mr_dadosClienteDash .icoClienteMobile{
		float: right;
		margin: 0 0 0 5px;
	}

	#dadosCliente.mr_dadosClienteDash .icoClienteMobile.fs1::before{
		font-size: 34px
	}
	#dadosCliente.mr_dadosClienteDash #navegacaoMobile .details{
		float: right;
	}
	#dadosCliente.mr_dadosClienteDash #navegacaoMobile.boxAlturaDinamicaDashboard{
		height: 55px
	}
}
@media screen and (max-width: 400px){
	
	#ListaIdentificacaoPositiva .details .nav_acao_infos_cliente .sub_menu_ferramentas{
		position: absolute;
		left: 12px;
    	top: 32px;
	}
}
