
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #box_faturas #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
    #btnEditarInfos{
        float: right;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    .list-group.titulo_divisor{
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 15px;}
    .list-blocos-group.lista_grid_02.grid_divisor{
        width: 100%;
    }
    .vrForm .form-control {
        width: 80%;
        float: right;
        margin-left: 8px;
    }
    .checkbox_alterar{
        float: left;
        display: block;
        position: absolute;
        top: 50px;
        right: 16px;
    }
    .nav_page_infos_financeiras{
        padding-top: 20px
    }

    .btn_page_infos{
        float: right;
        font-size: 13px;
        margin-left: 15px;
        padding: 10px 15px 10px 15px;
    }
    .destaque_protocolo{
        color: #FF0000
    }
    .form-control{
        height: 27px;
    }
        
    .form-control.form_dif{

        margin-left: 8px;
    }

    .tipos_envio_protocolo.hideTiposEnvio{
        display: none;
    }
    #boxInfosEnvioProtocolo,
    #boxInfosEnvioProtocolo02,
    #boxInfosEnvioProtocolo03,
    #boxInfosEnvioProtocolo04{
        display: none;
    }
    #boxInfosEnvioProtocolo .item_lista_titulo,
    #boxInfosEnvioProtocolo02 .item_lista_titulo,
    #boxInfosEnvioProtocolo03 .item_lista_titulo,
    #boxInfosEnvioProtocolo04 .item_lista_titulo{
        width: 25%;
        text-align: center;
        padding-top: 4px;
    }
    #boxInfosEnvioProtocolo .item_lista_valor,
    #boxInfosEnvioProtocolo02 .item_lista_valor,
    #boxInfosEnvioProtocolo03 .item_lista_valor,
    #boxInfosEnvioProtocolo04 .item_lista_valor{
        width: 65%
    }
    #listaLancamentos .infos_header{
         padding-left: 10px;
    }
    #listaLancamentos .infostxt{
        font-size: 12px;
        padding-left: 10px;
    }
    .content_finalizacao{
        background-color: #fff;
        padding-bottom: 20px;
    }
    .content_finalizacao .list-group{
        margin-bottom: 5px;
    }


/* lista Select envio protocolo */
    .listaFullGrupo .list-blocos-group.full_grid{
        width: 100%;
    }
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item{
        padding: 10px 0 5px 15px;
    }
    .listaFullGrupo .list-blocos-group .contentFormDrop .form-group{
        margin-bottom: 0px;
    }
    .listaFullGrupo .list-blocos-group .contentFormDrop .form-group .btn{
        float: left;
        margin-left: 10px;
        margin-top: 2px;
    }
    .listaFullGrupo .list-blocos-group .contentFormDropTitulo{
        padding-top: 5px;
        float: left;
        width: 25%
    }
    .listaFullGrupo .list-blocos-group .contentFormDrop{
        float: right;
        width: 75%;
    }
    .listaFullGrupo .list-blocos-group .contentFormDrop .select_drop{
        width: 70%;
        float: left;
    }
    .listaFullGrupo .list-blocos-group .contentFormDrop .input_drop{
        width: 50%;
    }
    .listaFullGrupo .list-blocos-group .list-group-item.content_btn_salvar_drop{
        text-align: center
    }
    /* EMAIL */
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_titulo{
        width: 13%;
    }
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor{
        width: 85%;
    }
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor .input_drop{
        width: 45%;
        float: left;
        margin-right: 10px;
    }
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor .checkbox{
        float: left;
        margin: 6px 0 0 0;
        font-size: 11px;
    }
    .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor .checkbox .checkEmail{
        width: 17px;
        height: 17px;
        margin-top: -1px;
    }

   @media screen and (max-width: 555px){
        .listaFullGrupo .list-blocos-group .contentFormDropTitulo{
            width: 100%;
            padding: 5px 0 5px 0;
        }

        .listaFullGrupo .list-blocos-group .contentFormDrop{
            width: 100%;
        }
        .listaFullGrupo .list-blocos-group .contentFormDrop .select_drop{
            width: 95%
        }
        .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_titulo{
            width: 100%;
            padding: 5px 0 5px 0;
        }
        .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor{
            width: 100%;
        }
        .listaFullGrupo .list-blocos-group.full_grid .list-group-item.itemEmail .item_lista_valor .input_drop{
            width: 95%;
            margin-bottom: 5px;
        }
   }