#lancamentosAtendimento .panel-body{
	padding: 0 0 0 0;             
}
#lancamentosAtendimento .panel-body .lista_opcao_envio{
	background-color: #ffffff;
	padding: 10px
}
#lancamentosAtendimento .panel-body .titulo_lancamentos{
	margin-left: 10px;
}
#box_lancamentos_dinamicos .card{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	min-width: auto;
	max-width: 800px;
}

#box_lancamentos_dinamicos .card .card-header{
	padding: 0 0 0 0;
}
#box_lancamentos_dinamicos .card .card-header .att_btn_editar{
	display: block;
	width: 85%;
	float: left;
}
.att_btn_editar .nomeLancamento{
	padding-left: 10px;
}
#box_lancamentos_dinamicos .card .card-header .btn_editar_log_atendimento {
	display: block;
	float: right;
}

/* ##### */
#box_lancamentos_dinamicos .card .card-body{
	padding: 8px;
}