#acoesNavegacao{

}
.lista_btn_detalhe_chamado .btnAcao{
	margin-right: 10px;

}
.lista_btn_detalhe_chamado .btnAcao .fs1::before{
	font-size: 13px;
	margin-right: 5px;
}
#boxInfoAcao{
	display: none;
}