
@media screen and (max-width: 780px){
	#sidebar .mr_navegacaoLateral ul.slick-menu li .current-page{display: none}
	#panelGeral.container.mr_contentPrincipal{
		padding-right: 5px;
		padding-left: 5px;
	}

	#dadosCliente.mr_dadosClienteDash .nav_acao_infos_cliente .sub_menu_ferramentas #btnMenuMobile{display: block;}
	#panelPrincipal.dashboard-wrapper{margin-left: 0px;}
	#sidebar.mr_controleNavegacao{
	    display: block;
	    left: 5px;
	    position: absolute;
	    width: 85px;
	    top: 0;
	    margin: 5px 0 0 0px;
	    padding: 3px 0 0 0;
	    background: #ededed;
	    list-style-type: none;
	    -webkit-font-smoothing: antialiased;
	    transform-origin: 0% 0%;
	    transform: translate(-108%, 0);
	    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#sidebar.mr_controleNavegacao.menuMobileAtivado{
		transform: translate(0, 0);
	}
	#panelGeral.container.mr_contentPrincipal{
		padding-right: 5px;
		padding-left: 5px;
	}
}