/* popup identificação positiva */
.mr_cardAviso{
	padding-left: 0px;
	padding-right: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}
.mr_cardAviso .mr_card{
	margin: 0px;
}
.mr_cardAviso-titulo{
	font-size: 24px;
	font-weight: bold;
}
.mr_cardAviso-texto{
	font-size: 16px;
}
.mr_cardAviso .callout{
	padding: 10px;
	margin: 0px;
}

.mr_botFechar{
	display: block;
	float: right;
	color: #b1bdbf;
	font-size: 15px;
}
/* ### */
.mr_PopUpOfertas {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 15px;
}
.callout {
	color: #666666;
}
.callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.callout p:last-child {
	margin-bottom: 0;
}

/* Variations */
.callout-danger {
	border-color: #f74e4d;
}

.callout-danger h4 {
	color: #f74e4d;
}

.callout-warning {
	border-color: #f08c56;
}

.callout-warning h4 {
	color: #f08c56;
}

.callout-info {
	border-color: #40acd6;
}

.callout-info h4 {
	color: #40acd6;
}

.callout-money {
	border-color: #34a097;
}

.callout-money h4 {
	color: #34a097;
}

.callout-success {
	border-color: #8ecf67;
}

.callout-success h4 {
	color: #8ecf67;
}

.callout-facebook {
	border-color: #3b5999;
}

.callout-facebook h4 {
	color: #3b5999;
}

.callout-gplus {
	border-color: #dc4937;
}

.callout-gplus h4 {
	color: #dc4937;
}

.callout-yellow {
	border-color: #ffc107;
}

.callout-yellow h4 {
	color: #ffc107;
}

.callout-linkedin {
	border-color: #1a85bd;
}

.callout-linkedin h4 {
	color: #1a85bd;
}

.mr_cardAviso.mr_cardAviso-interno .callout-warning{border-color: #d9534f;}
.mr_cardAviso.mr_cardAviso-interno .mr_cardAviso-titulo{color: #d9534f;}

.mr_cardAviso.mr_cardAviso-preaprovadoItau .callout-warning{border-color: #40acd6;}
.mr_cardAviso.mr_cardAviso-preaprovadoItau .mr_cardAviso-titulo{color: #d9534f;}

.mr_cardAviso.mr_cardAviso-emprestimoPessoal .callout-warning{border-color: #8ecf67;}
.mr_cardAviso.mr_cardAviso-emprestimoPessoal .mr_cardAviso-titulo{color: #d9534f;}

.mr_cardAviso.mr_cardAviso-preaprovadoSac .callout-warning{border-color: #ffd46e;}
.mr_cardAviso.mr_cardAviso-preaprovadoSac .mr_cardAviso-titulo{color: #d9534f;}

@media screen and (max-width: 700px){
	.mr_cardAviso{margin-right: 0px;margin-top: 5px;margin-bottom: 5px;}
	.mr_cardAviso-titulo{font-size: 18px;}
	.mr_cardAviso-texto{font-size: 16px;}
	.mr_cardAviso .callout{margin-bottom: 0px !important}

	.dados_cliente_identificacao_positiva #dadosCliente .fs1::before{
		font-size: 18px;
		width: 21px;
	}
	.dados_cliente_identificacao_positiva #dadosCliente .details {
    	padding-left: 0px;
    	margin-left: 5px;
	}
	
}