
#header .navbar_header .menuHeader{
	width: 100%;

}
#header .navbar_header .menuHeader .item_menuHeader{
	float: left;
}

#navBarSac.mr_navbarSac{
	margin-bottom: 0px
}
/* Grid Personalizado */

.lista_chamados .titulo_header.itemData{width: 30%; text-align: center;}
.lista_chamados .titulo_header.itemChamado{width: 30%; text-align: center;}
.lista_chamados .titulo_header.itemSolucao{width: 30%; text-align: center;}
.lista_chamados .titulo_header.itemStatus{width: 30%;text-align: center;}

.titulo_fatura.itemData{width: 30%; text-align: center; float: left;}
.titulo_fatura.itemChamado{width: 30%; text-align: center; float: left;}
.titulo_fatura.itemSolucao{width: 30%; text-align: center; float: left;}
.titulo_fatura.itemStatus{width: 30%;text-align: center;float: left;}

.mr_naveBusca ul.stats li .details{
	width: 100%;
    max-width: 600px;
    margin: 0 auto;
    float: none;
}
.mr_naveBusca .select_tipo_busca{
	height: 40px;
	max-width: 120px;
	padding-left: 5px;
	font-size: 14px;
}
.mr_naveBusca #clearSearch{
	position: absolute;
    right: 90px;
    top: 0;
    bottom: 0;
    height: 18px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #999999;
    z-index: 10;
}
.mr_naveBusca #btnSearch{
	height: 40px;
    width: 80px;
    font-size: 20px;
}
/*#####Component Procedimento#######*/
#panelProcedimentos .btnRedirectProcedimentos{
    width: 80%;
    height: 28px;
    margin: 0 auto;
    float: none;
    padding: 4px 0 25px 0;
    display: block;
    font-size: 16px;
}
#panelProcedimentos .btnRedirectProcedimentos .fs1::before{
	margin: 0 5px 0 0;
}
/* ####### */
/* @media screen and (min-width: 1100px){
	.lista_chamados .titulo_header.itemData{width: 15%; text-align: center;}
	.lista_chamados .titulo_header.itemChamado{width: 25%; text-align: center;}
	.lista_chamados .titulo_header.itemSolucao{width: 28%; text-align: center;}
	.lista_chamados .titulo_header.itemStatus{width: 25%;text-align: center;}
	.titulo_fatura.itemData{width: 15%; text-align: center; float: left;}
	.titulo_fatura.itemChamado{width: 25%; text-align: center; float: left;}
	.titulo_fatura.itemSolucao{width: 27%; text-align: center; float: left;}
	.titulo_fatura.itemStatus{width: 27%;text-align: center;float: left;}
} */
@media screen and (max-width: 768px){
	#panelPrincipal.dashboard-wrapper{
		    margin-left: 85px;
	}
}
@media screen and (max-width: 700px){
	.mr_naveBusca .select_tipo_busca{
		max-width: 65px;
		padding-left: 2px;
	}
	.mr_naveBusca #btnSearch{
		width: 40px;
		font-size: 16px;
	}
	.mr_naveBusca #clearSearch{
		right: 45px;
	}
}
@media screen and (max-width: 480px){
	.lista_chamados .titulo_header.itemData{width: 25%;	text-align: center;}
	.lista_chamados .titulo_header.itemChamado{width: 35%; text-align: center;}
	.lista_chamados .titulo_header.itemSolucao{display: none;}
	.lista_chamados .titulo_header.itemStatus{width: 35%; text-align: center;}
	.titulo_fatura.itemData{width: 25%; text-align: center; float: left;}
	.titulo_fatura.itemChamado{width: 33%; text-align: center; float: left;}
	.titulo_fatura.itemSolucao{display: none;}
	.titulo_fatura.itemStatus{width: 40%;text-align: center;float: left;}
}