    
    .MSF_drop_type01 .txt_lista_hist{font-size: 13px;}       
    .MSF_drop_type01 .box_lista_parcelas .lista_parcela .item_lista_parcela{font-size: 15px; }


    .lista_detalhe_item{
        width: 100%;

    }
    .MSF_drop_type01 .item_lista_valor {
        display: inline-block;
        width: 48%;
        text-align: left;
        padding-left: 5px;
        font-size: 14px;
    }

    .MSF_drop_type01 .item_lista_titulo {
        display: inline-block;
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .MSF_drop_type01 .item_lista_valor.item_unico{width: 100%}
    .MSF_drop_type01 .item_lista_titulo.item_unico{width: 100%}

    .MSF_drop_type01 .custom-select{
        width: 50%
    }
    .MSF_drop_type01 .list-blocos-group .list-group-item{ 
       /* padding: 0px!important; */
    }
    .MSF_drop_type01 .list-blocos-group .list-group-item-primary .item_lista_titulo.titulo_full_grid{
        float: left;
        text-align: right;
        padding-top: 5px;
        padding-right: 25px;
    }
    .MSF_drop_type01 .list-blocos-group .list-group-item-primary .item_lista_titulo.valor_full_grid{
        float: left;
        text-align: left;
        padding-top: 0px;
        padding-right: 25px;
    }
    .list-blocos-group .list-group-item-primary .memo_select{
        padding: 0px;
        width: 45%;
        float: left;
    }
    .list-blocos-group .list-group-item-primary .memo_btn{
        float: left;
        display: block;
        height: 25px;
        margin-left: 10px;
    }
    .titulo_divisor{
        background-color: #f3f3f3;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 5px

    }
    .titulo_divisor.titulo_divisor_textarea{
        background-color: #fff;
        
    }
    .memo_select{
        width: 50%;
        
    }

    .list-blocos-group.lista_grid_02.full_grid{
        width: 99.5%;
    }

    .MSF_drop_type01 .titulo_divisor .item_lista_titulo{
        width: 100%;
        text-align: center;
        font-size: 16px
    }
    @media screen and (min-width: 1024px) {
        
        .MSF_drop_type01 .item_full_grid .item_lista_valor{padding-right: 5%;}
        .MSF_drop_type01 .item_full_grid .item_lista_titulo{padding-left: 5%%;}
    }

    @media screen and (max-width: 780px) {
        #box_faturas .card .card-header .area_click .titulo_fatura{
            font-size: 13px
        }
        .MSF_drop_type01 .item_lista_valor{
            font-size: 12px;
        }
        .MSF_drop_type01 .item_lista_titulo{
            font-size: 12px;
        }
        
    }

   
    .MSF_drop_type01 .MRF_listadrop .card{
        max-width: 100%;

        margin: 0px;
    }
    .MSF_drop_type01 .MRF_listadrop .card-header{padding:0;}
    .MRF_float{
        float: left;
    }   
    .lista_chamados .titulo_header{
        color: #ffffff;
        display: inline-block;
    }
    .MSF_drop_type01 .MRF_listadrop .card .list-blocos-group .contentFormDrop .form-group{
        margin-bottom: 0px;
    }
    .MSF_drop_type01 .MRF_listadrop .card .list-blocos-group .contentFormDrop .form-group .btn{
        float: left;
        margin-left: 10px;
        margin-top: 2px;
    }
    .MSF_drop_type01 .MRF_listadrop .card .list-blocos-group .contentFormDropTitulo{
        padding-top: 5px;
    }
    .MSF_drop_type01 .MRF_listadrop .card .list-blocos-group .contentFormDrop .select_drop{
        width: 40%;
        float: left;
    }
    .MSF_drop_type01 .MRF_listadrop .card .list-blocos-group .contentFormDrop .input_drop{
        width: 50%;
    }
    .MSF_drop_type01 .list-blocos-group .list-group-item.content_btn_salvar_drop{
        text-align: center
    }

