.Titulo_form{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    margin: 0 0 10px 0;
    padding: 5px 0 5px 10px;
    font-size: 18px;
}
#cardPageCadastro #accordion .panel-body:before{
    display: none
}
.lista_infos_item .grupo_infos{
    width: 45%;
    float: left;
    display: block;
}
#conteudo_tabs_info{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#conteudo_tabs_info .left_box_grid{
    display: none;
}
#conteudo_tabs_info .left_box_grid.showTab{
    display: block;
}
.controle_altura_dinamico_titulo.tituloColunaRef{
    left: 50%;
    margin-left: -42px;
}

.btn_page_infos{
    float: right;
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 20px 10px 20px;
}
.item_lista_titulo{
    font-size: 14px;
}
.item_lista_valor{
    font-size: 14px;
}
.box_agrupamento_campos{
    display: block;
    float: left;
    width: 50%;
}
.box_agrupamento_campos .list-blocos-group.lista_grid_02{
    width: 98%;
}
.list-group-item{
    height: auto;
}
.form-horizontal.PSF_form .list-group-item.tituloCustom{
    padding-top: 10px;
    padding-bottom: 10px
}

.list-group{
    margin-bottom: 10px;
}
/* ## */
.form-horizontal.PSF_form .form-group{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    float: right;
    width: 60%;
}
.form-horizontal.PSF_form .control-label{
    display: block;
    float: left;
    margin-top: 5px;
    width: 35%;
    text-align: left;
    font-size: 13px;
    padding-top: 0px
}
.form-horizontal.PSF_form .form-control{
    height: 25px;
    font-size: 12px;
}
.form-horizontal.PSF_form .list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-horizontal.PSF_form .item_lista_valor{
    width: 70%;
    font-size: 12px;
}
.form-horizontal.PSF_form .list-unstyled{
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
    position: absolute;
    left: 5px;
    z-index: 9;
    padding: 5px;
    font-size: 12px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: 5px;
    /* width: 300px; */
}
.form-horizontal.PSF_form .list-unstyled::before{
    content: '';
    width: 0;
    height: 0px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -9px;
    left: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff3cd;
}

.form-horizontal.PSF_form #infosCadastroOutrasInfos .personalTamanhos .form-group{
    width: 35%;
    text-align: right;
}
.form-horizontal.PSF_form #infosCadastroOutrasInfos .personalTamanhos .control-label{
    width: 65%;
}
/*  */
.list-blocos-group.lista_grid_02.personalTamanhosTextoGG{
    width: 99.7%
}
.form-horizontal.PSF_form #infosCadastroOutrasInfos .personalTamanhosTextoGG .form-group{
    width: 35%;
    text-align: right;
}
.form-horizontal.PSF_form #infosCadastroOutrasInfos .personalTamanhosTextoGG .control-label{
    width: 65%;
}

/* Tab com erro */
.nav.lista_tabs li a.nav-link.TAB_ERRO{
    /* background-color: #cc7c84; */
    color: #f58180;
}
.nav.lista_tabs li a.nav-link.TAB_ERRO.active{
    background-color: #f58180;
    color: #ffffff;
}
.left_box_grid .list-group-item-info.ITEM_ERRO{
    background-color: #f58180;
    color: #ffffff;
    border-top-color: #f58180;
}




@media screen and (max-width: 830px) {
    .box_agrupamento_campos {
        width: 100%;
    }
    .list-blocos-group.lista_grid_02{
        width: 100%;
    }
    .form-horizontal.PSF_form .form-group{
        width: 65%;
    }
    .form-horizontal.PSF_form #infosCadastroOutrasInfos .control-label{
        width: 50%;
    }
    .form-horizontal.PSF_form #infosCadastroOutrasInfos .form-group{
        width: 48%;
        text-align: right;
    }

    .form-horizontal.PSF_form .list-unstyled{
        margin-top: 5px;
        margin-bottom: 0px;
        display: inline-block;
        position: relative;
        left: 5px;
        z-index: 999;
        padding: 5px;
        font-size: 12px;
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
        border-radius: 5px;
        /* width: 300px; */
    }
    
}