
    .cardServicos{
        padding: 3px;
        display: inline-table;
    }
    .cardReferenciaMaster{
         position: relative!important;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 15px;
         flex-wrap: wrap;
    }
    .cardServicos.card_servicos_disponiveis{
        position: inherit!important;
    }
    #popupVantagens{
        position: absolute;
        width: 75%;
        z-index: 99;
        min-height: 200px;
        border-radius: 5px;
        background-color: #eee;
    }

    
    #popupVantagens #marcadorServico{
        position: absolute;
        width: 50px;
        height: 30px;
        top: 70px;
        background-color: #000;
    }
    .grd_sac{
        width: 33.33%;
        display: flex;
        max-width: 420px;
        min-width: 120px;
    }
    .tamanho_texto_cards{
        font-size: 0.9em;
        padding: 5px 5px 0 5px;
        width: 50%;
        display: flex;
        float: left;
        
    }
    .preco_card{
        float: left;
        width: 76px;
        /* max-width: 85px;
        min-width: 80px; */
    }
    .btn_cards_responsivos{
        float: right;
        width: 60px;

    }
    .btn_cards_responsivos .btn_vantagens{
        margin-right: 5px
    } 
    
   @media screen and (max-width: 1100px) {
        .grd_sac{
            width: 49.99%;
        }
        .tamanho_texto_cards{
            width: 33%;
        }
    }
    
    @media screen and (max-width: 780px) {
        .grd_sac{
            width: 100%;
        }
         /* .tamanho_texto_cards{
            font-size: 1em;
            width: 100%;
            max-width: 185px;
            min-width: 80px;
        } */
        /* .btn_cards_responsivos{
             width: 100%;
            max-width: 85px;
            min-width: 60px;
        } */
    } 
    /* ## */
    .mini_card{
        padding: 3px 0 3px 0;
    }
    .mini_card:hover{
        background: #e7edf3;
    }
    .item_mini_card{
        padding: 3px 0 0 5px;
        line-height: 17px;
    }

    .item_mini_card_destaque{
        width: 60px;
        display: inline-block;
    }
    .btn_go_pagina{
        color: #5a3245;
    }
    .btn_go_pagina:hover{
        color: #5a3245;

    }
    .detalhe_valor{
        border-radius: 4px;
        padding: 2px;
    }
    .detalhe_valor_disponivel{
        /* background-color: #98FB98; */
        border-radius: 4px;
        padding: 2px;
    }
    .header_cards_info{
        background-color: #DCDCDC;
        font-weight: bold;
    }
    .adequacao_fonte{
        font-size: 13px
    }

.icone_enviar_email{
    margin-top: 0px;
    float: right;
    margin-right: 5px;
    font-size: 19px;}
