#box_faturas .card .card-body{
  padding: 0 0 0 0;
}
#box_faturas .card .card-body .grupo_faturas{
  margin-top: 0px;
  background-color: transparent;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc; 
}
#tab_fatura_atual01 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual02 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual03 .grupo_faturas .item_fatura.item_fatura_body,
.dropPadrao .grupo_faturas .item_fatura.item_fatura_body{
  padding: 10px 0 10px 0px;
  width: 16.4%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #666666;
}
#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura,
.dropPadrao .card .card-body .listagem_detalhe_fatura{
  padding: 10px 0 10px 15px;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: #666666;
}
#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura .item_fatura_body,
.dropPadrao .card .card-body .listagem_detalhe_fatura .item_fatura_body{
  width: 17%;
  display: inline-block; 
}
#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura .item_fatura_body.item_texto_normaliza{
  text-transform: lowercase;
}
#tab_fatura_atual01 .grupo_faturas,
#tab_fatura_atual02 .grupo_faturas,
#tab_fatura_atual03 .grupo_faturas,
.dropPadrao .grupo_faturas {
  background-color: #a1b5c9;
}
.card_ativo {
    background-color: #9DD8EF !important;
}

#box_faturas .card {
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
}
#box_faturas .card .card-header {
  background-color: #d9e8f7;
  padding: 0 0 0 0;
}
#box_faturas .card .card-header .area_click{
  width: 87%;
  float: left;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4%;
}
#box_faturas .card .card-header .area_click .titulo_fatura{
  width: 30%;
  text-align: left;
} 
#box_faturas .card .card-header .area_click .titulo_fatura.tm_M{
  width: 25%;
} 
#box_faturas .card .card_acordeon .titulo_fatura.visualizador_fatura{
  width: 6%;
  float: left;
  padding-top: 7px;
}
#box_faturas .card .card_acordeon .titulo_fatura.visualizador_fatura .icone_visualizar:before{
  font-size: 27px;
}
#box_faturas .card .card_acordeon .titulo_fatura.enviar_email{
  width: 5%;
  float: left;
  padding-top: 7px;
}
#box_faturas .card .card_acordeon .titulo_fatura.enviar_email .icone_enviar_email:before{
   font-size: 27px;
}
#box_faturas .grupo_faturas .item_fatura{
  width: 19.5%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

#box_faturas .card .card_acordeon .titulo_fatura {
    width: 19%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
}

#tab_fatura_atual01 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual02 .grupo_faturas .item_fatura.item_fatura_body,
#tab_fatura_atual03 .grupo_faturas .item_fatura.item_fatura_body,
.dropPadrao .grupo_faturas .item_fatura.item_fatura_body  {
    width: 16.4%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    color: #666666;
    padding: 10px 0px 10px 15px;
    font-weight: bold;
}
#tab_fatura_atual01 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
#tab_fatura_atual02 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
#tab_fatura_atual03 .listagem_detalhe_fatura .item_fatura.item_fatura_body,
.dropPadrao .listagem_detalhe_fatura .item_fatura.item_fatura_body{float: left;}

#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura,
.dropPadrao .card .card-body .listagem_detalhe_fatura {
    border-bottom: 1px solid #cccccc;
}
#tab_fatura_atual01 .card .card-body .listagem_detalhe_fatura:last-child,
#tab_fatura_atual02 .card .card-body .listagem_detalhe_fatura:last-child,
#tab_fatura_atual03 .card .card-body .listagem_detalhe_fatura:last-child,
.dropPadrao .card .card-body .listagem_detalhe_fatura:last-child{
  border-bottom: none;
}
/* estilos do modal fatura */
#palco_sombra{
  width: 100%;
  height: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 77;
  background-color: #000;
  opacity: 0.5;
}
#palco_modal{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 9999;
}
/**/
/**/
/* #texto_dinamico_modal .modal_pergunta{
  position: relative;
  font-size: 14px;
  padding-left: 35px;
  margin-left: 20px;
} */
#modal_Fatura_email.LVF_custom_modal .modal-dialog.LVF_custom_modal_dialog{
  width: 100%!important;
  min-width: 200px!important;
}
#modal_Fatura_email #texto_dinamico_modal.modal_pergunta{
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}
#modal_Fatura_email #texto_dinamico_modal.modal_pergunta::before{
  position: absolute;
    left: 0px;
    top: -10px;
    font-size: 30px;
}

#modal_Fatura_email #texto_dinamico_modal.modal_pergunta.erroClasse_200::before{
    color: #F0AD4E;
}
#mensagem_modal_fatura{
  text-align: center;
}
#mensagem_modal_fatura #texto_dinamico_modal{
  font-size: 17px;
  text-align: center;
}
#mensagem_modal_fatura #texto_dinamico_modal:before{
  font-size: 19px;
  margin-right: 5px;
}

/* ## */

#header_faturas .item_aberto{
  width: 20%;
  border-radius: 5px;
  background-color: #ccc;
  display: inline-block
}
/* #header_faturas .item_aberto_header{
  
}  */