/*#####Component Procedimento#######*/
@import 'parte01';
@import 'customestilos';
@import 'estilosCards';
@import 'estilosportalsac';
// @import 'page';
@import 'sacstyles';
@import 'stylemodulos';







#panelProcedimentos {
	.btnRedirectProcedimentos{
	    width: 80%;
	    height: 28px;
	    margin: 0 auto;
	    float: none;
	    padding: 4px 0 25px 0;
	    display: block;
	    font-size: 18px;
	    .teste{
	    	color: #fff
	    }
	}
	.fs1::before{
		margin: 0 5px 0 0;
	}
	
}


