<script type="text/javascript">
	require("components/identificacao_positiva/init_positiva.js")
</script>

<style type="text/css">

	.dados_cliente_identificacao_positiva{
		padding-left: 15px;
		padding-right: 15px;

	}
	.dados_cliente_identificacao_positiva .details{
		float: left;
		text-align: left;
	}
	.dados_cliente_identificacao_positiva{
		font-size: 16px;
		font-weight: bold;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 5px;
	}
	.dados_cliente_identificacao_positiva #dadosCliente{
		margin: 0;
	}
	.dados_cliente_identificacao_positiva #dadosCliente .lista_infos_cliente{
		padding-right: 0px!important;
		padding-left: 0px!important;
	}
	.dados_cliente_identificacao_positiva .card_identificacao_positiva{
		padding: 0px;
	}
	.dados_cliente_identificacao_positiva .card_identificacao_positiva:first-child{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.dados_cliente_identificacao_positiva .card_identificacao_positiva:last-child{
		padding-bottom: 15px;
	}
	.nav_identificacao_positiva{
		/* padding: 15px; */
		padding-bottom: 35px;
	}
	.nav_identificacao_positiva .btn_identificacao{
		float: right;
		padding: 10px 0 10px 40px;
		margin-left: 15px;
		font-size: 14px;
		width: 145px;
		font-weight: bold;
		position: relative;
		text-align: left;

	}
	.nav_identificacao_positiva .btn_identificacao .fs1:before{
		position: absolute;
		left: 10px;
	}
	.clear{
		clear: both!important;
	}
	.modalSAC .destaque_chamado{
		display: inline-block;
		color: red;
	}
	#dadosCliente{
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
		overflow: hidden;
	}
	#dadosCliente .stats{
		padding-left: 0px;
		padding-right: 0px;
	}
	/* #dadosCliente .stats .boxAlturaDinamica{
		min-height: 366px;
	} */
	@media screen and (min-width: 1000px) {
		#dadosCliente .stats .boxAlturaDinamica{
			min-height: 360px;
		}
	}

	#ListaIdentificacaoPositiva .details{
		float: left;
   		width: 85%;
   		padding-top: 5px;
   		padding-bottom: 5px;
   		/* padding-left: 20px; */
   		text-align: left;
	}
	#ListaIdentificacaoPositiva .details .perguntasRespostas{
		width: 100%;
		display: block;
	}
	.showContent{display: block}
	#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas{
		border-top: 1px solid #ccc;
		padding: 5px 0 0 0;
		margin: 5px 0 0 0 ;
		float: left;
	}
	#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas.off{
		display: none;
	}
	#ListaIdentificacaoPositiva .details .perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta{
		border: none;
		width: 100%;
		padding: 0 0 3px 0;
		margin: 0;
	}
	
	.perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens{
		display: inline;
	}
	.perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens.pergunta{
		font-size: 14px;
		padding-right: 5px;
		text-transform: lowercase;
	}
	.perguntasRespostas .lista_perguntas_e_respostas .item_perguntaResposta .itens.resposta{
		font-size: 15px;
		font-weight: bold;
	}
	#ListaIdentificacaoPositiva{
		position: relative;
	}
	#ListaIdentificacaoPositiva .details .big{ text-align: left; }
	#ListaIdentificacaoPositiva .nav_acao_infos_cliente{
	    width: 90%;
	    float: left;
	    padding-top: 10px;
	    padding-bottom: 20px;

	}
	

	#ListaIdentificacaoPositiva .details .btn_identificacao{
		float: left;
		padding: 10px 9px 6px 0;
		margin-right: 15px;
		font-size: 15px;
	}
	#ListaIdentificacaoPositiva .details .btn_identificacao:last-child{
		margin-right: 0px;
	}
	#ListaIdentificacaoPositiva .details .btn_identificacao .fs1:before{
		font-size: 13px;
		margin-top: 0px;
	}
	/* ## */
	#infosCliente .details{
		width: 85%;
		float: left;
		text-align: left;
		
	}
	#infosCliente .details .big{
		font-weight: bold;
		font-size: 17px;
	}
	#infosCliente .details .small{
		font-weight: bold;
		font-size: 17px;
	}
	#infosCliente .details .labelCliente{
		font-weight: normal;
		font-size: 16px;
	}
	/* ## */
	#CartaoCliente .details{
		width: 85%;
		float: left;
		text-align: left;
		
	}
	#CartaoCliente .details .big{
		font-weight: bold;
		font-size: 16px;
	}
	#CartaoCliente .details .small{
		font-weight: bold;
		font-size: 16px;
	}
	#CartaoCliente .details .labelCliente{
		font-weight: normal;
		font-size: 16px;
	}


	@media screen and (max-width: 900px) {
		/* #infosCliente .details{
			width: 80%;
		}
		#infosCliente .details .small{
			font-size: 11px;
		} */
	}

	
	#masterContentListaChamados{
		width: 100%;
		min-height: 100px
	}
	
</style>

<link rel="stylesheet" type="text/css" href="css/componentes/style_drop_type01.css">
<div id="consultaCliente"></div>
<div id="masterPopUpCliente"></div>


<div id="masterIdentificacaoPositiva" class="dados_cliente_identificacao_positiva col-xs-12 col-sm-12 col-md-12 col-lg-12 paddingReset">
	<div id="masterContentInfosCliente"></div>
	<div id="contentComponentChamados" class="card_identificacao_positiva col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
</div>


<script type="text/javascript">
   initIdentiPositiva.load();
</script>

