<link href="../../../../resources/libs/datatable/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/fixedColumns.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/datatable/css/select.dataTables.min.css" rel="stylesheet">
<link href="../../../../resources/libs/jquery-ui-1.12.1.custom/css/jquery-ui.css" rel="stylesheet">	

<style type="text/css">
	.control-label{
		margin-top: 0px!important;
	}
</style>
<script type="text/javascript" src="./imei/cadastro.js"></script>

	<div id="card.id" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
		<div class="card menu" id="menucard.id" style="margin: 0px; border: 5px solid #fbfaf6; max-width: 100%;">
			<div class="panel-group" id="accordion" role="tablist"	aria-multiselectable="false">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="cadCelular">
						<h4 class="panel-title">
							<a class="collapsed" id="menuCollapsecard.id" role="button"
								style="padding-right: 5px; color: #75104c;" data-toggle=""
								data-parent="#accordion" aria-expanded="true"
								aria-controls="collapsecard.id" > 
								<span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
								Cadastro de Celular
							</a>
						</h4>
					</div>
					<!-- ## -->
					<div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
						<div class="panel-body" style="visibility: visible; padding: 5px; height: auto; overflow: auto;">
							<!--########################################-->
							<form id="formCelular" class="form-horizontal" data-toggle="validator" role="form">
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
										<legend id="titleCadCelular" style="padding-left: 0px;">Informações do Celular</legend>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group" style="margin: -10px -15px 0px -15px;"> 
											<label class="control-label" for="marcaCel">Marca</label><br> 
											<select class="form-control" data-error="Campo obrigatório!" required="required" 
												style="font-size: 14px;height: 22px;" tabindex="1"
												id="marcaCel">
												<option value="">Selecione...</option>
												<option value="1">Samsung</option>
												<option value="2">Apple</option>
											</select>
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group" style="margin: 5px -15px 0px -15px;"> 
											<label class="control-label" for="modeloCel">Modelo</label><br> 
											<select class="form-control" data-error="Campo obrigatório!" required="required" 
												style="font-size: 14px;height: 22px;" tabindex="2"
												id="modeloCel">
												<option value="">Selecione...</option>
												<option value="1">J5</option>
												<option value="2">S9</option>
											</select>
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group" style="margin: 5px -15px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="valorCoberturaCel">Valor Cobertura</label><br>
											<input type="text" id="valorCoberturaCel" class="form-control"  
												style="width: 100%;font-size: 14px;height: 22px;" readonly="readonly">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group" style="margin: 0px -15px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="valorSeguroCel">Valor Seguro</label><br>
											<input type="text" id="valorSeguroCel" class="form-control" 
												style="width: 100%;font-size: 14px;height: 22px;" readonly="readonly">
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group" style="margin: 5px -15px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="imeiCel">IMEI</label><br>
											<input type="text" inputmode="tel" onkeypress="return isNumberKey(event);" id="imeiCel" class="form-control" 
												style="width: 100%;font-size: 14px; height: 22px;" maxLength="15" minLength="15"  tabindex="3"
												required="required"
												data-validate="true"
												data-toggle="tooltip"
												data-title="IMEI do celular" 
												data-imei
												data-imei-error='IMEI inválido!'
												data-error="Campo obrigatório!" >
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>
								<div class="row" style="margin: 0px 10px 0px 10px;">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group" style="margin: 5px -15px 0px -15px;">
											<label class="control-label" style="padding-top: 0px" for="imeiConfirmCel">Confirmar IMEI</label><br>
											<input type="text" inputmode="tel" onpaste="return false" ondrop="return false" onkeypress="return isNumberKey(event);" id="imeiConfirmCel" class="form-control" 
												style="width: 100%;font-size: 14px;height: 22px;" maxLength="15" minLength="15"  tabindex="4"
												required="required"
												data-validate="true"
												data-toggle="tooltip"
												data-title="Confirmação do IMEI do celular" 
												data-imeiConfirm
												data-imeiConfirm-error='Confirmação do IMEI inválido!'
												data-error="Campo obrigatório!" >
											<div class="help-block with-errors" style="display: inline;"></div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
									<button id="submitCelular" class="btn btn-primary btn-lg" title="Grava dados do celular" style="width: 95px;"  tabindex="5" onclick="return false;">Salvar</button>
									<button class="btn btn-secondary btn-lg" title="Cancelar" style="width: 95px;" tabindex="6" onclick="javascript: confirmaCancelamentoCadastroCelular(); return false;">Cancelar</button>
								</div>
							
								<!-- Content final  -->
							</form>
							<!--########################################-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


