<style type="text/css">
    .cardAviso{
        padding: 0px;
        display: inline-table;
        margin-bottom: 10px;
        height: 150px
    }
    .cardAvisoInterno .callout-warning{
        /* color: #ffffff; */
        /* background-color: #d9534f; */
        border-color: #d9534f ;
    }
    .cardAvisoInterno .callout-warning h4{
        color: #d9534f;
    }
</style>
<script type="text/javascript">
 $(function(){
    
    
        
    
        
    
    $('#masterHideCard').on('click', function(event) {
        event.preventDefault();
           
    });
     
    

    $('.btn_hide').on('click', function(event) {
        event.preventDefault();
        var boxMsg = $(this).attr('href');
        $('#'+boxMsg).fadeOut();
    });
    $('.btn_modal_SAC').on('click', function(event) {
        event.preventDefault();
        var currentAviso = $("#cardAviso_02");
        modAvisosReanalise.modReanalise(currentAviso);
    });
    $('.btn_mod_tombamento').on('click', function(event) {
        event.preventDefault();
        var currentAviso = $("#cardAviso_03");
        modAvisosTombamento.modTombamento(currentAviso);
    });

 })
    
// função que conta os clicks dos Cards para não mostrar mais
function HideCards(){
    this.load = function(){
        this.conjuntoCards = []
    };
    
}

function ModAvisos(){
    this.modReanalise = function(currentAviso){
        this.currentAviso = currentAviso;
        var tituloModal = "Reanalise de Inativos";
        var msg = "Reanalise Efetuada com Sucesso!";
        var funcOK = this.callBackModPositivo(this.currentAviso);
        var funcAborta = this.callBackModNegativo();
        var reanalise = marisaMessage.questionDialog(tituloModal, msg, "Sim", "Fechar", funcOK, funcAborta,marisaMessageType_SUCCESS);
    };
    this.modTombamento = function(avisoTomb){
        this.avisoTomb = avisoTomb;
        var tituloModal = "Pré-Aprovado Itaú";
        var msg = "Faça o tombamento agora mesmo!!! ";
        var funcOK = this.callBackModPositivo(this.avisoTomb);
        var funcAborta = this.callBackModNegativo();
        var tombamento = marisaMessage.questionDialog(tituloModal, msg, "Sim", "Fechar", funcOK, funcAborta,marisaMessageType_INFO);
    }
    this.callBackModPositivo = function(propsPositivo){
        this.propsPositivo = propsPositivo;
        var self = this;
        var callbackOK = function(){
          $(self.propsPositivo).hide() 
        }
       
        return callbackOK;
    };
    this.callBackModNegativo = function(){
        return false ;
    }
}
var modAvisosTombamento = new ModAvisos();
var modAvisosReanalise  = new ModAvisos();

</script>
<div id="componentCardAviso"></div>

<div id="cardAviso_01" class="cardAviso cardAvisoInterno col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="callout callout-warning no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Mensagem</h4>
                            <p style="font-size: 18px;">
                                Olá Atendente Laercio Vacca Filho. 
                            </p>
                            <p style="font-size: 16px; line-height: 19px">Seu treinamento para o novo sistema do SAC foi agendado Para <strong style="color:#d9534f"> 14/05/2019</strong></p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="cardAviso_01" data-identificador="cardAviso_01" class="contaConjuntoCard btn_hide btn btn-danger btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon icon-pushpin"> OK</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cardAviso_02" class="cardAviso col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="callout callout-warning no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Cliente Inativo</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se inativo. 
                                Favor solicitar a reanalise através do botão abaixo.
                            </p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="cardAviso_02" data-identificador="cardAviso_02" class="contaConjuntoCard btn_modal_SAC btn btn-warning btn" data-modalsac-type="clienteinativo" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash"> REANALISE</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="cardAviso_03" class="cardAviso col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="callout callout-info no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Itaú</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se pré-aprovado para migração ao cartão Itaú.
                            </p>
                            <p style="font-size: 18px;">Limite: R$ 1.568,00</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="cardAviso_03" data-identificador="cardAviso_03" class="contaConjuntoCard btn_mod_tombamento btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash"> REALIZAR TOMBAMENTO</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

<div id="cardAviso_04" class="cardAviso col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="callout callout-success no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Empréstimo Pessoal</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se pré-aprovado para empréstimo pessoal.
                            </p>
                            <p style="font-size: 18px;">Limite: R$ 540,00</p>
                            <p style="font-size: 18px;">Validade: 31/05/2018</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="http://128.1.30.127:88/login.asp" data-identificador="cardAviso_04" target="_blank" class="contaConjuntoCard btn btn-success btn" data-modalsac-type="sysin"  style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash">  SYSIN  </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<div id="cardAviso_05" class="cardAviso col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="callout callout-yellow no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Saque</h4>
                            <p style="font-size: 18px;">O cliente encontra-se pré-aprovado saques.</p>
                            <p style="font-size: 18px;">Limite: R$ 268,00</p>
                            <p style="font-size: 18px;">Encaminhe o cliente ao PDV.</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="cardAviso_05" data-identificador="cardAviso_05" class="contaConjuntoCard btn_hide btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash"> OK  </span>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>



