<script type="text/javascript">
    require("./memofile/init_memofile.js");
</script>
<style>

    #masterPageMemofile .txt_lista_hist{font-size: 13px;}       
    #masterPageMemofile .box_lista_parcelas .lista_parcela .item_lista_parcela{font-size: 15px; }

    #header_faturas{margin-top: 10px }

    .lista_detalhe_item{
        width: 100%;

    }
    #masterPageMemofile .item_lista_valor {
        display: inline-block;
        width: 48%;
        text-align: left;
        padding-left: 5px;
        font-size: 14px;
    }

    #masterPageMemofile .item_lista_titulo {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    #masterPageMemofile .item_lista_valor.item_unico{width: 100%}
    #masterPageMemofile .item_lista_titulo.item_unico{width: 100%}

    #masterPageMemofile .custom-select{
        width: 50%
    }
    #masterPageMemofile .list-blocos-group .list-group-item{ 
       /* padding: 0px!important; */
    }
    #masterPageMemofile .list-blocos-group .list-group-item-primary .item_lista_titulo.titulo_full_grid{
        float: left;
        text-align: right;
        padding-top: 5px;
        padding-right: 25px;
    }
    #masterPageMemofile .list-blocos-group .list-group-item-primary .item_lista_titulo.valor_full_grid{
        float: left;
        text-align: left;
        padding-top: 0px;
        padding-right: 25px;
    }
    .list-blocos-group .list-group-item-primary .memo_select{
        padding: 0px;
        width: 45%;
        float: left;
    }
    .list-blocos-group .list-group-item-primary .memo_btn{
        float: left;
        display: block;
        height: 25px;
        margin-left: 10px;
    }
    .titulo_divisor{
        background-color: #f3f3f3;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 5px

    }
    .memo_select{
        width: 50%;
        
    }

    .list-blocos-group.lista_grid_02.full_grid{
        width: 99.5%;
    }

    #masterPageMemofile .titulo_divisor .item_lista_titulo{
        width: 100%;
        text-align: center;
        font-size: 16px
    }
    @media screen and (min-width: 1024px) {
        
        #masterPageMemofile .item_full_grid .item_lista_valor{padding-right: 5%;}
        #masterPageMemofile .item_full_grid .item_lista_titulo{padding-left: 5%%;}
    }

    @media screen and (max-width: 780px) {
        #box_faturas .card .card-header .area_click .titulo_fatura{
            font-size: 13px
        }
        #masterPageMemofile .item_lista_valor{
            font-size: 12px;
        }
        #masterPageMemofile .item_lista_titulo{
            font-size: 12px;
        }
        
    }
</style>

<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                   <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls=" collapsecard.id"=""> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                            Memofile
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 0px;overflow: auto;">
                        <div class="page-title" style="">
                            <div class="dropPadrao left_box_grid showTab">
                              <div class="conteudo_dinamico_tabs">
                                <div id="headerCards"></div>
                                <div id="masterPageMemofile"></div>
                              </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    initMemofile.load();
</script>
