 <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                        <div class="row" style="margin: 0px 10px 0px 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
                            <legend id="titleCadAdicionais">Cadastro de cartões Adicionais</legend>
                        </div>
                        </div>
                        <div class="row" style="margin: 0px 10px 0px 10px;">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group" style="margin: -10px -15px 0px -15px;">
                                <label class="control-label" for="cpfAdicionalForm">CPF</label><br>
                                <input class="form-control" id="cpfAdicionalForm" inputmode="tel" 
                                    style="width: 100%;font-size: 14px;height: 22px;" type="text" 
                                    tabindex="1" 
                                    required="required"
                                    data-validate="true"
                                    data-cpf-error='CPF inválido!' 
                                    data-toggle="tooltip"
                                    data-title="CPF do Adicional" 
                                    data-cpf>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        </div>
                        <div class="row" style="margin: 0px 10px 0px 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group" style="margin: -10px -15px 0px -15px;">
                                <label class="control-label" for="nomeAdicionalForm">Nome</label><br>
                                <input class="form-control" id="nomeAdicionalForm" style="width: 100%;font-size: 14px;height: 22px;text-transform: uppercase;" type="text" required="required"
                                    placeholder="" pattern="^[_A-z 0-9]{1,}$" 
                                    tabindex="2" 
                                    maxlength="40"                                                  
                                    required="required"
                                    data-validate="true"
                                    data-nome-error="Preencha um nome e sobrenome!" 
                                    data-toggle="tooltip" 
                                    data-title="Nome do Adicional"
                                    data-nome>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        </div>
                        <div class="row" style="margin: 0px 10px 0px 10px;">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group" style="margin: -10px -5px 0px -15px;">
                                <label class="control-label" for="dtNascAdicionalForm">Data Nascimento</label><br>
                                <input class="form-control" id="dtNascAdicionalForm" style="width: 100%;font-size: 14px;height: 22px;" 
                                    type="text" inputmode="tel" required="required" tabindex="3"
                                    placeholder="DD/MM/AAAA" pattern="^[/_0-9]{1,}$"
                                    required="required" 
                                    data-validate="true" 
                                    data-dataNascimento-error='Data de Nascimento inválida!'
                                    data-dataNascimento>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group" style="margin: -10px -5px 0px -5px;"> 
                                <label class="control-label" for="sexoAdicionalForm">Sexo</label><br> 
                                <select class="form-control" data-error="Valor inválido!" required="required" 
                                    style="font-size: 14px;height: 22px;" tabindex="4" id="sexoAdicionalForm">
                                    <option value="">Selecione...</option>
                                    <option value="1">Feminino</option>
                                    <option value="2">Masculino</option>
                                </select>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group" style="margin: -10px -15px 0px -5px;"> 
                                <label class="control-label" for="parentescoAdicionalForm">Grau de Parentesco</label><br> 
                                <select class="form-control" data-error="Valor inválido!" required="required" 
                                    style="font-size: 14px;height: 22px;" tabindex="5" id="parentescoAdicionalForm">
                                    <option value="">Selecione...</option>
                                    <option value="1">Pais</option>
                                    <option value="2">Filhos</option>
                                    <option value="3">Conjugue</option>
                                    <option value="4">Amizade</option>
                                    <option value="5">Outros</option>
                                </select>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>                                  
                        </div>
                        <div class="row" style="margin: 0px 10px 0px 10px;">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group" style="margin: -10px -5px 0px -15px;"> 
                                <label class="control-label" for="tipoFoneAdicionalForm">Tipo Fone</label><br> 
                                <select class="form-control" data-error="Valor inválido!" required="required" 
                                style="font-size: 14px;height: 22px;" tabindex="6"
                                    id="tipoFoneAdicionalForm">
                                    <option value="">Selecione...</option>
                                    <option value="F">Fixo</option>
                                    <option value="C">Celular</option>
                                </select>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group" style="margin: -10px -5px 0px -5px;"> 
                                <label class="control-label" for="dddAdicionalForm">DDD</label><br> 
                                <input class="form-control" id="dddAdicionalForm" maxlength="2" style="width: 100%;font-size: 14px;height: 22px;" 
                                    type="text" inputmode="tel" required="required" tabindex="7"
                                    placeholder="" pattern="^[0-9]{1,2}$" data-error="Valor inválido!">
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group" style="margin: -10px -15px 0px -5px;"> 
                                <label class="control-label" for="foneAdicionalForm">Telefone</label><br> 
                                <input class="form-control" id="foneAdicionalForm" style="width: 100%;font-size: 14px;height: 22px;" 
                                    type="text" inputmode="tel" required="required" tabindex="8"
                                    placeholder="Telefone" pattern="^[-0-9]{9,10}$" 
                                        data-validate="true"
                                        data-telefone-error='Telefone inválido!'
                                        data-telefone>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>                                  
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group" style="margin: -10px -5px 0px -5px;"> 
                                <label class="control-label" for="ramalAdicionalForm">Ramal</label><br> 
                                <input class="form-control" id="ramalAdicionalForm" maxlength="5" style="width: 100%;font-size: 14px;height: 22px;" 
                                    type="text" inputmode="tel" tabindex="9">
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        </div>
                        <div class="row" style="margin: 10px 10px 0px 10px;">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group" style="margin: -5px 0px 0px -15px;">
                                <label class="control-label" for="cpfVendedorAdicionalForm">CPF Vendedor</label><br>
                                <input class="form-control" id="cpfVendedorAdicionalForm" 
                                    style="width: 100%;font-size: 14px;height: 22px;" type="text" 
                                    tabindex="10" 
                                    required="required"
                                    data-validate="true"
                                    data-cpfVendedor-error='CPF inválido!' 
                                    data-toggle="tooltip"
                                    data-title="CPF do Vendedor" 
                                    data-cpfVendedor 
                                    inputmode="tel" >
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group" style="margin: -5px -15px 0px -15px;">
                                <label class="control-label" for="nomeVendedorAdicionalForm">Nome Vendedor</label><br>
                                <input class="form-control" readonly="readonly" id="nomeVendedorAdicionalForm" 
                                    style="width: 100%;font-size: 14px;height: 22px;text-transform: uppercase;" type="text" 
                                    placeholder="" pattern="^[_A-z 0-9]{1,}$" 
                                    tabindex="11" 
                                    maxlength="40"                                                  
                                    required="required"
                                    data-validate="true"
                                    data-nome-error="Preencha um nome e sobrenome!" 
                                    data-toggle="tooltip" 
                                    data-title="Nome do Adicional"
                                    data-nome>
                                <div class="help-block with-errors" style="display: inline;"></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                        <button type="submit" class="btn btn-primary btn-lg" title="Grava os dados do adicional" style="width: 95px;" tabindex="12"
                            >Salvar</button>
                        <button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="13" 
                            onclick="javascript: confirmaCancelamentoEdicaoAdicional(); return false;">Cancelar</button>
                        </div>
                        </form>