<div id="navegacao_rapida">
	<ul class="lista_menu">
		<li class="item">
			<a id="identificaReavaliar" href="http://128.1.40.192/CAisd/pdmweb.exe?OP=CREATE_NEW+FACTORY=in+KEEP.IsPopUp=1" target="_blank" class="btn_nav_rapida btn btn-info">
				Chamado
			</a> 
		</li>
		<li class="item">
			<a id="identificaReavaliar" href="http://credi021/ReportServer/Pages/ReportViewer.aspx?%2fCredito%2fInformativo+de+Repasse+Icatu&amp;rs:Command=Render" class="btn_nav_rapida btn btn-info" target="_blank">
				Icatu
			</a>
		</li>
		<li class="item">
			<a href="http://www.prodent.com.br/comper/pop_associados_contrato.aspx" class="btn_nav_rapida btn btn-info" target="_blank">
				Marisa Odonto
			</a>
		</li>
		<li class="item">
			<a href="http://www.prodent.com.br" class="btn_nav_rapida btn btn-info" target="_blank">
				Prodent
			</a>
		</li>
		<li class="item">
			<a href="http://www.receita.fazenda.gov.br/Aplicacoes/ATCTA/CPF/ConsultaPublica.asp" class="btn_nav_rapida btn btn-info" target="_blank">
				Receita
			</a>
		</li>
		<li class="item">
			<a id="masterHideCard" class="btn_nav_rapida btn btn-info" href="#">
				Hide Cards
			</a>
		</li>
		
	</ul>
	<div class="clear"></div>
</div>