<style type="text/css">
    .cardAviso{
        padding: 0px;
        display: inline-table;
        /* display: none */
    }
</style>
<script type="text/javascript">
 $(function(){
    console.log('Vai')
 })
        



</script>
<div id="componentCardAviso"></div>
<!-- <div id="cardAviso_01" class="cardAviso col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
                        <div class="callout callout-warning no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Cliente Inativo</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se inativo. 
                                Favor solicitar a reanalise através do botão abaixo.
                            </p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="#" class="btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash"> REANALISE</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
<div id="cardAviso_02" class="cardAviso col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
                        <div class="callout callout-info no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Itaú</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se pré-aprovado para migração ao cartão Itaú.
                            </p>
                            <p style="font-size: 18px;">Limite: R$ 1.568,00</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash"> SISTEMA OX</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div id="cardAviso_03" class="cardAviso col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
                        <div class="callout callout-success no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Empréstimo Pessoal</h4>
                            <p style="font-size: 18px;">
                                O cliente encontra-se pré-aprovado para empréstimo pessoal.
                            </p>
                            <p style="font-size: 18px;">Limite: R$ 540,00</p>
                            <p style="font-size: 18px;">Validade: 31/05/2018</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                        <a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-flash">  SYSIN  </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div id="cardAviso_04" class="cardAviso col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
            <div class="panel panel-default" style="">
                <div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
                        <div class="callout callout-yellow no-margin" style=" height: 100%;">
                            <h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Saque</h4>
                            <p style="font-size: 18px;">O cliente encontra-se pré-aprovado saques.</p>
                            <p style="font-size: 18px;">Limite: R$ 268,00</p>
                            <p style="font-size: 18px;">Encaminhe o cliente ao PDV.</p>
                        </div>
                    </div>                               
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
                    <div class="" style="height: 22px;"> 
                        &nbsp;
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->



