<style type="text/css">
    #cardsDestaques{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    #cardsDestaques .item_card_destaque{
        width: 50%;
        display: inline-block;
        min-height: 100px
    }
</style>
<ul id="cardsDestaques" class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <li id="menuProxFatura" class="item_card_destaque marisa-red-bg">
        <span class="fs1" aria-hidden="true" data-icon="&#xe032;" ></span>
        <div class="details">
            <span class="big">R$ 189,38</span>
            <span class="small">Próximo Vcto: 07/05/2018</span>
        </div>
    </li>
    <li class="sea-green-bg item_card_destaque">
        <span class="fs1" aria-hidden="true" data-icon="&#xe031;" ></span>
        <div class="details">
            <span class="big">R$ 345,00</span>
            <span class="small">Últimas Compras</span>
        </div>
    </li>
    <li class="go-green-bg item_card_destaque">
        <span class="fs1" aria-hidden="true" data-icon="&#xe1c7;" ></span>
        <div class="details">
            <span class="big">R$ 458,59</span>
            <span class="small">Limite Disponível</span>
        </div>
    </li>
    <li class="marisa-orange-bg item_card_destaque">
        <span class="fs1" aria-hidden="true" data-icon="&#xe035;" ></span>
        <div class="details">
            <span class="big">R$ 1.345,00</span>
            <span class="small">Limite Total</span>
        </div>
    </li>
</ul>
