<style type="text/css">
	#panelProcedimentos .card_procedimento{
		padding-left: 0px;
		padding-right: 0px;
	}
</style>

<div id="card_01" class="card_procedimento col-xs-12 col-sm-12 col-md-12 col-lg-12" nome-cp="teste-CP02">
	<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
		<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading card.id + "">
					<h4 class="panel-title">
						<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
							<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
							Procedimentos
						</a>
					</h4>
				</div>
				<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
					<div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="ui-widget">
								<label for="tags">Procedimento: </label>
								<input id="tags" class="form-control">
								<input onclick="Go()" type="button" name="Vai">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	function Go(){
		console.log('GO CLICK');
	}
</script>


