<script>
    var OBJ = {
        "cards":{
            "retorno":[
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis33",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveisew",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                },
                {
                    icone:"testeicone01",
                    titulo:"Servicos disponiveis",
                    conteudo:"conetudo01"
                }
            ]
        }
    }
</script>
<style type="text/css">
    .cardServicos{
        padding: 0px;
        display: inline-table;
    }
</style>
<div class="cardServicosMaster"></div>
<!-- <div id="card_01" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Serviços Disponíveis
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
                        <ul class="list-group">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto Plus</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 24,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_02" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-briefcase" style="left: -30px;"></span>
                             Serviços Contratados
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
                        <ul class="list-group">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Bolsa Protegida</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 4,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Financeira</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 11,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Auto Proteção</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 7,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 19,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Empréstimo Pessoal</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 390,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Fatura Por E-mail</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 0,00</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_03" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Informações Cadastrais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Nome:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">MARIA INES DA SILVA</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Endereço:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">AL TOCANTINS, 280</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Cidade/UF:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">SÃO PAULO/SP</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Telefone:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(11) 2104-8078</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Celular:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(19) 98100-8522</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">E-mail:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">lavandosk@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-pencil"> ALTERAR</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_04" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
                            Cartões Adicionais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">JOÃO DA SILVA LINDEMBERG</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">MARIA DA SILVA LINDEMBERG</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_05" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-comment" style="left: -30px;"></span>
                            Solicitações
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">LIBERAÇÃO DE COMPRA</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">APROVADA</a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">ALTERAÇÃO DE LIMITE</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">EM ANÁLISE</a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">REANALISE</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">NEGADA</a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;"> &nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        </a>
                        <a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="card_06" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                                Memo File
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="card_07" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
                            Informações Cadastrais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Nome:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">MARIA INES DA SILVA</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Endereço:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">AL TOCANTINS, 280</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Cidade/UF:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">SÃO PAULO/SP</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Telefone:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(11) 2104-8078</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Celular:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(19) 98100-8522</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">E-mail:</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">lavandosk@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-pencil"> ALTERAR</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="card_08" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
                            Cartões Adicionais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">JOÃO DA SILVA LINDEMBERG</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">MARIA DA SILVA LINDEMBERG</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-pencil"></span> 
                                    </a>
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="card_09" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-comment" style="left: -30px;"></span>
                            Solicitações
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">LIBERAÇÃO DE COMPRA</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">APROVADA</a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">ALTERAÇÃO DE LIMITE</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">EM ANÁLISE</a>
                                </div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">REANALISE</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">NEGADA</a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;"> &nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
                        </a>
                        <a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="card_10" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
                                Memo File
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
                        <ul class="list-group" style="margin-bottom: 5px;">
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
                            </li>
                            <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
                            </li>
                        </ul>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
                            <div class="" style="height: 10px;">&nbsp;</div> 
                        </div> 
                    </div>
                    <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
                        <a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
                            <span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript">
    // 
    var ObjCardServico = OBJ.cards.retorno;

    console.log('objCardServico',OBJ.cards.retorno);
    var CardsServicos = {
        cardTemplate:function(titulo){
            var html;
                html = '<div id="card_01" class="cardServicos col-xs-12 col-sm-6 col-md-6 col-lg-6">';
                html += '<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">';
                html += '<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">';
                html += '<div class="panel panel-default">';
                html += '<div class="panel-heading" role="tab" id="heading card.id + "">';
                html += '<h4 class="panel-title">';
                html += '<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> ';
                html += '<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>';
                html += titulo;
                html += '</a>';
                html += '</h4>';
                html += '</div>';
                html += '<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">';
                html += '<div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">';
                html += '<ul class="list-group">';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '<li class="list-group-item row" style="padding: 0px;margin: 3px;">';
                html += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto Plus</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 24,90</div>';
                html += '<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">';
                html += '<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">';
                html += '<span class="glyphicon glyphicon-ok"></span> ';
                html += '</a>';
                html += '</div>';
                html += '</li>';
                html += '</ul>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            return html;
        },
        listarCard:function(obj){
            this.obj = obj;
            var content = document.querySelector('.cardServicosMaster');
            
            console.log('obj listarCard',obj);
            var T = this;
            $.each(obj, function(index, val) {
                 console.log('Opa>',index,val);
                
                 $(content).append(T.cardTemplate(val.titulo));
            });

            return;
        },

    }
    CardsServicos.listarCard(ObjCardServico);  
</script>