<div id="panelFatura" class="row paineis" style="margin: 10px; display: none;">
	<!-- Panel Fatura start -->
	<div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px 0px 0px 0px;margin-bottom: 0px;background-color: #e6e6e6;">
		<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;margin-top: 20px;">"
			<div id="Content">
				<table style="width: 700px; font-family: Arial; font-size: 13px; font-weight: bold;" border="0" cellspacing="1" cellpadding="0">
					<tbody>
						<tr>
							<td colspan="3">
								<div style="width: 100%; text-align: center; color: white; margin-bottom: 3px; float: left; background-color: rgb(232, 1, 138);">
									<div style="padding-top: 2px; padding-bottom: 2px; font-size: 22px; font-weight: bold; margin-left: 160px; float: left;">
										Fatura Mensal
									</div>
									<div style="padding-top: 12px; padding-left: 4px; font-size: 11px; float: left;">
										CLUB ADM DE CARTOES DE CREDITO LTDA
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<div style="width: 100%;">
									<div style="padding: 5px 0px 3px 5px; border: 1px solid gray; border-image: none; width: 70%; font-size: 15px; float: left;">
										MARIA INES DA SILVA
									</div>
									<div style="padding: 5px 0px 3px 5px; border: 1px solid gray; border-image: none; width: 30%; font-size: 15px; float: right;">
										<font color="gray" size="2"> VENCIMENTO</font>
											02/05/2018
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<div style="border: 1px solid gray; border-image: none; width: 100%; height: 245px; clear: both;">
									<div style="margin: 3px 0px 0px 4px; padding: 7px 0px 2px 7px; border: 1px solid rgb(0, 0, 0); border-image: none; width: 48%; float: left;">
										<div style="float: left;font-size: 10px;">Seu limite total para compras R$</div>
										<div style="width: 70px; text-align: right; padding-right: 5px; float: right;">2.500,00</div>
									</div>
									<div style="border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(0, 0, 0); margin: 3px 4px 0px 0px; padding: 7px 0px 2px 7px; border-image: none; width: 50%; float: right;">
										<div style="float: left;font-size: 10px;">
											Seu limite para compras em
											21/04/2018
											R$
										</div>
										<div style="width: 70px; text-align: right; padding-right: 5px; float: right;">
											2.439,93
										</div>
									</div>
								<div>
								<div>
									<div style="margin: 10px 10px 0px 5px; width: 350px; float: left;">
										<div style="width: 200px; height: 30px; float: left;">Saldo Anterior</div>
										<div style="border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 5px 3px 2px 10px; border-image: none; float: left;">
											<div style="float: left;">(+) R$</div>
											<div style="width: 79px; text-align: right; float: right;">121,56 </div>
										</div>
										<div style="width: 200px; height: 30px; float: left;">Total de créditos / pagamento</div>
										<div style="border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 5px 3px 2px 10px; border-image: none; float: left;">
											<div style="float: left;">
												<span style="font-size: 13px;">(-)</span> R$
											</div>
											<div style="width: 79px; text-align: right; float: right;">0,00</div>
										</div>
										<div style="width: 200px; height: 30px; float: left;">Total de débitos / compras</div>
										<div style="border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 5px 3px 2px 10px; border-image: none; float: left;">
											<div style="float: left;">(+) R$</div>
											<div style="width: 79px; text-align: right; float: right;">116,08</div>
										</div>
										<div style="width: 200px; height: 30px; float: left;">Saldo Atual</div>
										<div style="border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 5px 3px 2px 10px; border-image: none; float: left;">
											<div style="float: left;">(+) R$</div>
											<div style="width: 79px; text-align: right; float: right;">237,64</div>
										</div>
									</div>
									<div style="margin: 10px 10px 0px 5px; border: 1px solid rgb(0, 0, 0); border-image: none; width: 210px; float: right;">
										<span style="font-size: 10px;">
											<div style="padding: 5px 3px 2px 10px; width: 150px; height: 30px; float: left;">LIMITE PARA SAQUE</div>
											<div style="padding: 5px 3px 2px 10px; width: 290px; height: 30px; float: left;"> TOTAL PARA SAQUE..................: R$0,00 </div>
											<div style="padding: 5px 3px 2px 10px; width: 290px; height: 30px; float: left;"> Disponível em 21/04/2018 ..........: R$ 0,00 </div>
										</span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding-top: 7px; padding-bottom: 7px;" colspan="3">
								<div style="width: 100%;">
									<div style="padding: 5px 0px 3px 5px; border: 1px solid gray; border-image: none; width: 50%; float: left;">
										<div style="width: 60%; color: gray; float: left;">Pagamento mínimo R$</div>
										<div style="width: 40%; text-align: right; padding-right: 4px; float: right;"> 196,00 </div>
									</div>
									<div style="padding: 5px 0px 3px 5px; border: 1px solid gray; border-image: none; width: 50%; float: right;">
										<div style="width: 60%; color: gray; float: left;">Total desta fatura R$</div>
										<div style="width: 40%; text-align: right; padding-right: 4px; float: right;"> 237,64 </div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<div style="padding: 5px 0px 3px 5px; border: 1px solid gray; border-image: none; width: 100%; text-align: center; color: gray;">Demonstrativo de Despesas</div>
							</td>
						</tr>
						<tr>
							<td style="width: 100%; height: 70px; text-align: center; font-size: 10px; font-weight: normal;" colspan="3">
								<table id="Grid" style="border-color: gray; border-collapse: collapse;" border="1" rules="cols" cellspacing="0" cellpadding="2">
									<tbody>
										<tr style="border-color: gray; color: gray; font-weight: bold;">
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Data</td>
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Cartão</td>
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Histórico</td>
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Plano</td>
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Crédito</td>
											<td align="center" style="border-width: 1px; border-style: solid; font-size: 10px;">Débito</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">BOLSA PROTEGIDA **</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">5,99</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">AUTOPROTECAO SAC *</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">8,90</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">PROTECAO CELULAR MARISA *</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">30,49</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">MARISA ODONTO</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">32,90</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">AUTOPROTECAO *</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">14,90</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">REEMBOLSO DESPESAS DE COBRANCA</td>
											<td align="center" style="width: 50px; font-size: 10px;"> </td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">7,90</td>
										</tr>
										<tr style="color: black; font-weight: bold;">
											<td align="right" style="width: 40px; font-size: 10px;">21/04</td>
											<td align="center" style="width: 50px; font-size: 10px;">TIT</td>
											<td align="left" style="width: 400px; font-size: 10px;">ANUIDADE BONIFICADA</td>
											<td align="center" style="width: 50px; font-size: 10px;">03/04</td>
											<td align="right" style="width: 70px; font-size: 10px;">0,00</td>
											<td align="right" style="width: 70px; font-size: 10px;">15,00</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr class="encargosTarifas">
							<td style="width: 60%; padding-top: 10px;">
								<table width="363" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td class="encargosTarifasTitulo" style="color: gray; font-weight: bold;" colspan="2">Resumo das taxas financeiras mensais:</td>
										</tr>
										<tr valign="top">
											<td style="font-size: 10px;"><b><u><i>Encargos desta fatura:&nbsp;</i></u></b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b>Juros de financiamento (Rotativo) = 15,9% AM.&nbsp;</b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b>Parcelamento de Fatura = 9,9% AM.&nbsp;</b></td>
										</tr>
										<tr valign="top">
											<td style="font-size: 10px;"><b>Parcelamento do Saldo devedor Total = 9,9% AM. &nbsp;</b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b> &nbsp;</b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b>Anuidade Diferenciada (Parcelada) = R$ 3.90 por mes&nbsp;</b></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr valign="top">
											<td style="font-size: 10px;"><b><u><i>Encargos para o próximo período:&nbsp;</i></u></b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b>Juros Remuneratorios Maximo por Atraso = 17,90% a.m.&nbsp;</b></td>
										</tr>
										<tr valign="top">
											<td style="font-size: 10px;"><b>Juros de Mora = 1,0% a.m. e Multa por Atraso = 2,0%&nbsp;</b></td>
										</tr>
										<tr>
											<td style="font-size: 10px;"><b>Reembolso despesas de Cobranca por Inadimplencia= R$7,90&nbsp;</b></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td valign="top" style="width: 20%; padding-top: 10px;">
								<table width="163" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td style="font-size: 11px;"><b>Cartão 603475****305490</b></td>
										</tr>
										<tr>
											<td><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td valign="top" style="width: 20%; padding-top: 10px;">
								<table width="174" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td class="encargosTarifasTitulo" style="color: gray; font-weight: bold;">Observações:</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="painelBoleto">
					<table width="700" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr valign="top">
								<td height="30"><img width="100%" height="8" src="/icons/boleto/TESOURA.GIF"></td>
							</tr>
						</tbody>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="80" valign="bottom">&nbsp; <img width="73" height="17" align="absmiddle" src="/icons/boleto/santander.jpg">
								<td width="66" align="center" valign="bottom"><img width="3" height="23" align="absbottom" src="/icons/boleto/TRACO.GIF">&nbsp; <font face="Arial" size="3"><b>033-7</b></font>&nbsp;<img width="3" height="23" align="absbottom" src="/icons/boleto/TRACO.GIF"></td>
								<td width="450" align="right" nowrap="" valign="bottom"><font face="Arial" size="3">03399.85202 63120.001746 33324.301010 6 00000000000000</font></td>
							</tr>
						</tbody>
					</table>
					<table width="700" bordercolorlight="#ffffff" border="1" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td colspan="6">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="110" valign="top"><div class="campoTitulo">&nbsp;Local de Pagamento</div></td>
										</tr>
										<tr>
											<td width="380" valign="top">
												<div class="campoVencimento">&nbsp; Pagavel preferencialmente na Rede de Lojas Marisa.</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="160">
								<table width="100%" bordercolorlight="#ffffff" style="background-color: lightgray;" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td><div class="campoTitulo">&nbsp;Vencimento</div></td>
										</tr>
										<tr>
											<td align="right">
												<div class="campoVencimento">
													<b>02/05/2018</b>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top" colspan="6">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td valign="top"><div class="campoTitulo">&nbsp;Beneficiário</div></td>
										</tr>
										<tr>
											<td valign="top"><div class="campoDado">&nbsp;CLUB ADM DE CARTOES DE CREDITO LTDA</div></td>
										</tr>
									</tbody>	
								</table>
							</td>
							<td width="160" valign="top">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td><div class="campoTitulo">&nbsp;Agência/Código Beneficiário</div></td>
										</tr>
										<tr>
											<td align="right"><div class="campoDado">02076/008520631&nbsp;</div></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td width="103" valign="top">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td><div class="campoTitulo">&nbsp;Data do documento</div></td>
										</tr>
										<tr>
											<td align="center">
												<div class="campoDado">02/05/2018</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td valign="top" colspan="2">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
									<td><div class="campoTitulo">&nbsp;No. do documento</div></td>
									</tr>
									<tr>
									<td align="center"><div class="campoDado">
									0990675665
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td width="62" valign="top">
									<table width="98%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td><div class="campoTitulo">
									&nbsp;Espécie doc</div></td>
									</tr>
									<tr>
									<td align="center"><div class="campoDado">
									DM
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td width="47" valign="top">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td><div class="campoTitulo">
									Aceite</div></td>
									</tr>
									<tr>
									<td align="center"><div class="campoDado">
									N
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td width="126" valign="top">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td><div class="campoTitulo">
									&nbsp;Data do Processamento</div></td>
									</tr>
									<tr>
									<td align="center"><div class="campoDado">
									27/01/2018
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td width="140">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td><div class="campoTitulo">
									&nbsp;Nosso Número</div></td>
									</tr>
									<tr>
									<td align="right"><div class="campoDado">
									2000174333243
									</div></td>
									</tr>
									</tbody></table>
									</td>
									</tr>
									<tr>
									<td width="73" valign="top"><div class="campoTitulo">
									&nbsp;Uso do Banco</div></td>
									<td width="150" valign="top">
									<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr valign="top">
									<td><div class="campoTitulo">
									&nbsp;Carteira</div></td>
									</tr>
									<tr valign="top">
									<td align="center"><div class="campoDado" style="font-size: 9px;">
									COBRANCA SIMPLES RCR
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td valign="top">
									<table width="100%" style="background-color: lightgray;" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr valign="top">
									<td><div class="campoTitulo">
									&nbsp;Espécie</div></td>
									</tr>
									<tr valign="top">
									<td align="center"><div class="campoDado">
									R$
									</div></td>
									</tr>
									</tbody></table>
									</td>
									<td valign="top" colspan="2"><div class="campoTitulo">
									Quantidade</div></td>
									<td width="126" valign="top"><div class="campoTitulo">
									&nbsp;Valor</div></td>
									<td width="140" valign="top" style="background-color: lightgray;">
									<table width="100%" height="100%" style="background-color: lightgray;" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td style="background-color: lightgray;"><div class="campoTitulo">
									&nbsp;(=) Valor do Documento</div></td>
									</tr>
									<tr>
									<td height="50%" align="right" style="background-color: lightgray;"><div class="campoTitulo">
									<b></b></div></td>
									</tr>
									</tbody></table>
									</td>
									</tr>
									<tr>
									<td valign="top" rowspan="5" colspan="6">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr valign="center">
									<td colspan="2"><div class="campoTitulo">
									&nbsp;Instruções</div></td>
									</tr>
									<tr valign="top">
									<td width="9"></td>
									<td width="481"><div class="campoVencimento">
									<b>Preencher o valor a ser pago no campo "valor do
									documento", respeitando o pagamento mínimo desta fatura.<br>
									<br>Os encargos pelo atraso no pagamento serão incluídos
									na próxima fatura.<br> <br>ATÉ 20 dias de atraso, a
									contar do vencimento desta fatura, pagavél em qualquer agência bancária
									ou casas lotéricas<br> <br>APÓS
									20 dias de atraso, a contar da data de vencimento desta
									fatura, pagar somente na Rede de Lojas da Marisa S/A.
									</b></div></td>
									</tr>
									</tbody></table>
									</td>
									<td width="140" valign="top"><div class="campoTitulo">
									&nbsp;(-) Descontos/Abatimento<br>
									</div></td>
									</tr>
									<tr>
									<td width="140" valign="top"><div class="campoTitulo">
									&nbsp;(-) Outras Deduções<br>
									</div></td>
									</tr>
									<tr>
									<td width="140" valign="top"><div class="campoTitulo">
									&nbsp;(+) Mora/Multa <br>
									</div></td>
									</tr>
									<tr>
									<td width="140" valign="top"><div class="campoTitulo">
									&nbsp;(+) Outros Acréscimos<br>
									</div></td>
									</tr>
									<tr>
									<td width="140" valign="top" style="background-color: lightgray;"><div class="campoTitulo">
									&nbsp;(=) Valor Cobrado<br>
									</div></td>
									</tr>
									<tr>
									<td colspan="7">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td width="44" valign="top"><div class="campoTitulo">
									&nbsp;Pagador&nbsp;&nbsp; </div></td>
									<td width="316" height="40" valign="top">
									<div class="campoDado" style="width: 500px;">
									MARIA INES DA SILVA
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CPF.:
									24304042220
									<br>
									R GUAPIACU
									00055
									&nbsp;
									QD29
									&nbsp;
									C NOVA
									<br>
									69090-080
									&nbsp;&nbsp;
									MANAUS
									-
									AM
									</div></td>
									</tr>
									</tbody></table>
									</td>
									</tr>
									</tbody></table>
									<table width="702" height="86" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td width="422" height="68" align="left" valign="top">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody><tr>
									<td width="4%" height="36" nowrap="" valign="bottom"><br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
									<img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"><img src="/icons/boleto/WS.GIF"><img src="/icons/boleto/WB.GIF"><img src="/icons/boleto/NS.GIF"><img src="/icons/boleto/NB.GIF"> </td>
									<td width="96%" height="53" valign="bottom">&nbsp;</td>
									</tr>
									</tbody></table>
									</td>
									<td width="350" align="right" valign="top"><div class="campoTitulo">Autenticação Mecânica Ficha de
									Compensação</div></td>
									</tr>
									</tbody>
									</table>
				</div>
			</div>
		</div>
	</div>
</div>
