// function getHtmlSubRotinas(rotId, subrotinas){
    
//     var htmlSubRotinas = "";
    
//     $.each(subrotinas, function(indexSubRotina, subRotina) { // Iterando as opções
        
//         try{
        
//             htmlSubRotinas = htmlSubRotinas + 
//             "                                           <!-- SUB-ROTINA --> " +
//             "                                           <article class=\"card\" style=\"cursor: pointer;\" > " +
//             "                                               <a class=\"wrapper\" style=\"text-decoration: none;\" onclick=\"javascript: goUrl('"+ subRotina.link.url +"');\"> " +
//             "                                                   <div class=\"card-body\"> " +
//             "                                                       <h2 style=\"margin-bottom: 0px;\"> " +
//             "                                                           <span class=\""+ subRotina.icon +"\"></span> "+ subRotina.descr +" " +
//             "                                                       </h2> " +
//             "                                                   </div> " +
//             "                                               </a> " +
//             "                                           </article>";
        
//         }catch (e) {
//             console.log(subRotina.descr);
//             console.log(e);
//         }
        
//     });
    
//     return htmlSubRotinas; 
// }