// function getHtmlRotinas(rotinas){
//     var htmlRotinas = 
//         "   <div class=\"row\" id=\"rotinas"+rotinas.rotId+"\"> " +
//         "       <div class=\"container cards\">";
    
//     $.each(rotinas, function(indexRotinas, rotina) { // Iterando as opções
        
//         //if(rotina.qtdSubRotinas == 0 || (rotina.subRotinas != null && rotina.subRotinas != undefined && rotina.subRotinas.length == 0 )){
//         if(rotina.link != undefined && rotina.link.url != undefined){
            
//             try{
//                 htmlRotinas = htmlRotinas + 
//                 "               <!-- ROTINA -->       " +
//                 "               <div class=\"card menu\" id=\"menu"+ rotina.rotId +"\"> " +
//                 "               <div class=\"panel-group\" id=\"accordion\" role=\"tablist\" aria-multiselectable=\"false\"> " +
//                 "                   <div class=\"panel panel-default\"> " +
//                 "                       <div class=\"panel-heading\" role=\"tab\" id=\"heading"+ rotina.rotId +"\"> " +
//                 "                           <h4 class=\"panel-title\"> " +
//                 "                               <a class=\"collapsed\" id=\"menuCollapse"+ rotina.rotId +"\" role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion\" " +
//                 "                                   href=\"#collapse"+ rotina.rotId +"\" aria-expanded=\"false\" aria-controls=\"collapse"+ rotina.rotId +"\" onclick=\"javascript: goUrl('"+ rotina.link.url +"');\"> " +
//                 "                                   <span class=\""+ rotina.icon +"\" style=\"left: -30px;\"></span>"+ rotina.descr +" " +
//                 "                               </a> " +
//                 "                           </h4> " +
//                 "                       </div> " +
//                 "                   </div> " +
//                 "               </div> " +
//                 "               </div>";
//             }catch (e) {
//                 console.log(rotina.descr);
//                 console.log(e);
//             }           
            
//         }else{
            
//             htmlRotinas = htmlRotinas + 
//             "<!-- ROTINA -->     " +
//             "               <div class=\"card menu\" id=\"menu"+ rotina.rotId +"\"> " +
//             "               <div class=\"panel-group\" id=\"accordion\" role=\"tablist\" aria-multiselectable=\"false\"> " +
//             "                   <div class=\"panel panel-default\"> " +
//             "                       <div class=\"panel-heading\" role=\"tab\" id=\"heading"+ rotina.rotId +"\"> " +
//             "                           <h4 class=\"panel-title\"> " +
//             "                               <a class=\"collapsed\" id=\"menuCollapse"+ rotina.rotId +"\" onclick=\"javascript: clickMenu('#menu"+ rotina.rotId +"'); \" role=\"button\" " +
//             "                                   data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse"+ rotina.rotId +"\" aria-expanded=\"false\" " +
//             "                                   aria-controls=\"collapse"+ rotina.rotId +"\"> " +
//             "                                   <span class=\""+ rotina.icon +"\" style=\"left: -30px;\"></span>"+ rotina.descr +" " +
//             "                               </a> " +
//             "                           </h4> " +
//             "                       </div> " +
//             "                       <!-- SUB-ROTINAS --> " +
//             "                       <div id=\"collapse"+ rotina.rotId +"\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading"+ rotina.rotId +"\"> " +
//             "                           <div class=\"panel-body\"> " +
//             "                                       <div class=\"cards\">";
//             //parei aqui
//             htmlRotinas = htmlRotinas + getHtmlSubRotinas(rotina.rotId, rotina.subRotinas);
            
//             htmlRotinas = htmlRotinas + 
//             "                                       </div>  " +
//             "                           </div> " +
//             "                       </div> " +
//             "                   </div> " +
//             "               </div> " +
//             "               </div> " +
//             "";
            
//         }
        
//     }); 
    
//     htmlRotinas = htmlRotinas + 
//     "       </div> " +
//     "   </div>";
    
//     return htmlRotinas;
// }