<!-- Sidebar start -->
<div class="sidebar" nome-cp="teste-CPmenu">
    <ul class="slick-menu">
        <li class="active">
            <a id="menuDashboard">
                <div class="current-page"></div>
                <span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
                <strong>Dashboard</strong>
            </a>
        </li>
        <li class="drop-menu">
            <a id="menuServicos">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></span>
                <!-- <small>4</small> -->
                <strong>Serviços</strong>
            </a>
            <ul>
                <li><a href="serv_disp.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fb;"></span>Serviços Disponíveis</a></li>
                <li><a href="serv_cont.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></span>Serviços Contratados</a></li>
                <li><a href="serv_canc.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fa;"></span>Serviços Cancelados</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a><!--  href="cadastros.html" -->
                <span class="fs1" aria-hidden="true" data-icon="&#xe004;"></span>
                <strong>Cadastros</strong>
            </a>
            <ul>
                <li><a href="cad_dadospessoais.html"><span class="fs1" aria-hidden="true" data-icon="&#xe1cc;"></span>Dados Pessoais do Cliente</a></li>
                <li><a href="cad_referencias.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03e;"></span>Referências Pessoais</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a href="#">
                <span class="fs1" aria-hidden="true" data-icon="&#xe06b;"></span>
                <!--  <small>3</small> -->
                <strong>Solicitações</strong>
            </a>
            <ul>
                <li><a href="sol_diavencimento.html"><span class="fs1" aria-hidden="true" data-icon="&#xe053;"></span>Alterar Dia de Vencimento</a></li>
                <li><a href="sol_segundavia.html"><span class="fs1" aria-hidden="true" data-icon="&#xe032;"></span>Segunda Via Fatura</a></li>
                <li><a href="sol_liberacaocompras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>Liberação de Compras</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a href="#">
                <span class="fs1" aria-hidden="true" data-icon="&#xe0b6;"></span>
                <!-- <small>6</small> -->
                <strong>Históricos</strong>
            </a>
            <ul>
                <li><a href="his_memofiles.html"><span class="fs1" aria-hidden="true" data-icon="&#xe048;"></span>Memo Files</a></li>
                <li><a href="his_faturas.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03a;"></span>Faturas</a></li>
                <li><a href="his_compras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>Compras</a></li>
            </ul>
        </li>
        <li class="drop-menu">
            <a href="tables.html">
                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
                <strong>Tables</strong>
            </a>
        </li>
    </ul>
</div>
<!-- Sidebar end teste -->
