function getHtmlDetalhes(){
	var retorno = 
		"" +
		"	<div id=\"panelDetalhes\" class=\"row paineis\" style=\"margin: 10px; display: none;\">" +
		"		<!-- Panel Dashboard start -->" + 
		"		<div class=\"page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12\" style=\"padding: 5px 0px 0px 0px;margin-bottom: 0px;\">" + 
		"			<div class=\"stats col-xs-12 col-sm-12 col-md-12 col-lg-12\" style=\"padding: 0px 10px 0px 10px;width: 100%;\">" +
		"			" + 
		"                      <form class=\"form-horizontal\">" + 
		"                        " + 
		"                        <h3 class=\"heading-a\">Cadastro do Cliente</h3>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"userName\" class=\"col-sm-2 control-label\">Nome</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <input type=\"text\" class=\"form-control\" id=\"userName\" placeholder=\"Nome do Cliente\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label class=\"col-sm-2 control-label\">Telefone</label>" + 
		"                          <div class=\"col-sm-4\">" + 
		"                            <input type=\"text\" class=\"form-control\" placeholder=\"Telefone do Cliente\">" + 
		"                          </div>" + 
		"                          <label class=\"col-sm-2 control-label\">Celular</label>" + 
		"                          <div class=\"col-sm-4\">" + 
		"                            <input type=\"text\" class=\"form-control\" placeholder=\"Celular do Cliente\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"birthDate\" class=\"col-sm-2 control-label\">Data Nascimento</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <input type=\"text\" class=\"form-control\" id=\"birthDate\" value=\"28/10/1983\" disabled=\"\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"emilId\" class=\"col-sm-2 control-label\">Email</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <input type=\"email\" class=\"form-control\" id=\"emilId\" value=\"lavandosk@gmail.com\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"phone\" class=\"col-sm-2 control-label\">Endereço</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <input type=\"text\" class=\"form-control\" id=\"phone\" value=\"AL TOCANTINS, 280\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"skypeId\" class=\"col-sm-2 control-label\">Cidade/UF</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <input type=\"text\" class=\"form-control\" id=\"skypeId\" value=\"BARUERI/SP\">" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label for=\"aboutMe\" class=\"col-sm-2 control-label\">Observações</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <textarea name=\"aboutMe\" id=\"aboutMe\" cols=\"30\" rows=\"4\" class=\"form-control\">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. " + 
		"                            </textarea>" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label class=\"col-sm-2 control-label\">Sexo</label>" + 
		"                          <div class=\"col-sm-10\">" + 
		"                            <label class=\"radio-inline\">" + 
		"                              <input type=\"radio\" name=\"optionsRadios\" id=\"optionsRadios1\" value=\"option1\" checked=\"\"> Masculino" + 
		"                            </label>" + 
		"                            <label class=\"radio-inline\">" + 
		"                              <input type=\"radio\" name=\"optionsRadios\" id=\"optionsRadios2\" value=\"option2\"> Feminino" + 
		"                            </label>" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        <div class=\"form-group\">" + 
		"                          <label class=\"col-sm-2 control-label\">Contextual classes</label>" + 
		"                          <div class=\"col-sm-10\">" +
		"" +
		"              <table class=\"table table-bordered table-condensed table-striped\">" + 
		"                <thead>" + 
		"                  <tr>" + 
		"                    <th>#</th>" + 
		"                    <th>Column heading</th>" + 
		"                    <th>Column heading</th>" + 
		"                    <th>Column heading</th>" + 
		"                  </tr>" + 
		"                </thead>" + 
		"                <tbody>" + 
		"                  <tr class=\"active\">" + 
		"                    <td>1</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                  </tr>" + 
		"                  <tr>" + 
		"                    <td>2</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                  </tr>" + 
		"                  <tr class=\"success\">" + 
		"                    <td>3</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                  </tr>" + 
		"                  <tr class=\"warning\">" + 
		"                    <td>4</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                  </tr>" + 
		"                  <tr class=\"danger\">" + 
		"                    <td>5</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                    <td>Column content</td>" + 
		"                  </tr>" + 
		"                </tbody>" + 
		"              </table>" + 
		"" + 
		"                          </div>" + 
		"                        </div>" + 
		"" + 
		"                        <div class=\"form_submit clearfix\" style=\"\">" + 
		"                          <div class=\"row\">" + 
		"                            <div class=\"col-sm-10 col-sm-offset-2\">" + 
		"                              <button class=\"btn btn-primary btn-lg\" data-original-title=\"\" title=\"\">Salvar</button>" + 
		"                            </div>" + 
		"                          </div>" + 
		"                        </div>" + 
		"                        " + 
		"                      </form>" + 
		"			" + 
		"			</div>" +
		"				" + 
		"" +
		"" + 
		"			<div class=\"stats col-xs-12 col-sm-12 col-md-12 col-lg-12\" style=\"padding: 0px 10px 0px 10px;width: 100%;margin-top: 20px;\">" +
		"				" +
		"        <form class=\"form-vertical\" id=\"formCadastro\" role=\"form\" novalidate=\"true\" data-toggle=\"validator\">" + 
		"          <div class=\"panel panel-default\" style=\"margin-bottom: auto;\">" + 
		"            <!-- Default panel contents -->" + 
		"            <div class=\"panel-heading\" id=\"formModalTitle\">Editar Status de Cartão</div>" + 
		"            <div class=\"panel-body\">" + 
		"              <!--          <h4><legend>Incluir Status de Cartão</legend></h4> -->" + 
		"" + 
		"              <div class=\"col-lg-0 col-md-0 col-sm-0 col-xs-0\"></div>" + 
		"" + 
		"              <div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\">" + 
		"" + 
		"                <div class=\"form-group\">" + 
		"                  <label class=\"control-label\" style=\"margin-top: 0px;\" for=\"codigo_F\" required=\"\">Código</label>" + 
		"                  <div>" + 
		"                    <input disabled=\"\" class=\"form-control\" id=\"codigo_F\" style=\"width: 21%;\" type=\"text\" placeholder=\"Auto\">" + 
		"                  </div>" + 
		"                </div>" + 
		"" + 
		"                <div class=\"form-group has-feedback\">" + 
		"                  <label class=\"control-label\" style=\"margin-top: 7px;\" for=\"status_F\">Status de Cartão</label><br> " + 
		"                  <select disabled=\"disabled\" class=\"form-control\" id=\"status_F\" style=\"width: 100%;\" required=\"\" data-error=\"Valor inválido!\">" + 
		"                    " + 
		"                  <option value=\"\">Selecione...</option><option value=\"30\">ATUALIZAR CADASTRO</option><option value=\"64\">BLOQ.CARTAO SUSPEITA FRAUDE</option><option value=\"21\">BLOQUEADO DESISTENCIA ADICIONAL</option><option value=\"20\">BLOQUEADO DESISTENCIA TITULAR</option><option value=\"12\">BLOQUEADO EXPIRADA A VALIDADE</option><option value=\"23\">BLOQUEADO EXPIRADA VALIDADE - N/RETIRADO</option><option value=\"11\">BLOQUEADO PARA A PRIMEIRA COMPRA</option><option value=\"19\">BLOQUEADO PELO SISTEMA - USO EXCLUSIVO</option><option value=\"14\">BLOQUEADO POR ESTOURO DE LIMITE</option><option value=\"16\">BLOQUEADO POR INATIVIDADE 12 MESES</option><option value=\"17\">BLOQUEADO POR INATIVIDADE MAIS 12 MESES</option><option value=\"24\">BLOQUEADO POR MORTE DO TITULAR</option><option value=\"13\">BLOQUEADO POR SUSPEITA DE PERDA</option><option value=\"15\">BLOQUEADO POR SUSPEITA DE ROUBO</option><option value=\"18\">BLOQUEADO POR TRANSFERENCIA CPF</option><option value=\"22\">BLOQUEADO RETORNO CORRESPONDENCIA</option><option value=\"25\">BLOQUEIO PREVENTIVO</option><option value=\"54\">CANCELADO DESISTENCIA ADICIONAL</option><option value=\"53\">CANCELADO DESISTENCIA TITULAR</option><option value=\"61\">CANCELADO ORDEM JUDICIAL</option><option value=\"60\">CANCELADO POR ERRO DE IMPRESSAO</option><option value=\"59\">CANCELADO POR FRAUDE</option><option value=\"56\">CANCELADO POR MORTE ADICIONAL</option><option value=\"55\">CANCELADO POR MORTE TITULAR</option><option value=\"58\">CANCELADO POR OUTROS ADICIONAL</option><option value=\"57\">CANCELADO POR OUTROS TITULAR</option><option value=\"52\">CANCELADO POR PERDA</option><option value=\"51\">CANCELADO POR ROUBO</option><option value=\"50\">CANCELAMENTO POR ALTERACAO DE NOME</option><option value=\"1\">CARTAO ATIVO</option><option value=\"63\">CARTAO COM ERRO MAGNETICO</option><option value=\"62\">CARTAO NAO SAIU NA IMPRESSORA</option><option value=\"99\">CARTAO PROVISORIO</option><option value=\"93\">CLIENTE TRANSFERIDO PARA O ITAU</option><option value=\"26\">MIGRACAO BONUS</option><option value=\"27\">MIGRACAO PL</option><option value=\"70\">SOLICITA NOVO MODELO</option></select>" + 
		"                  <div class=\"help-block with-errors\" style=\"display: inline;\"></div>" + 
		"                </div>" + 
		"                " + 
//
//		"                  </div>" + 
//		"                </div>" + 
		"                    " + 
		"                              " + 
		"" + 
		"                <div class=\"form-group has-feedback\">" + 
		"                " + 
		"                  <fieldset class=\"fieldset-group\" id=\"fieldsetCategorias\" style=\"margin-top: 5px; margin-right: 0px; margin-left: 0px;\">" + 
		"                    <legend class=\"legend-group\" style=\"margin-bottom: -10px;\">Vínculos de Categorias </legend>" + 
		"                      <div id=\"categoriasGroup\">" + 
		"                        <div class=\"row\">" + 
		"                          <div class=\"col-xs-5 col-sm-5 col-md-5 col-lg-5\">" + 
		"                            <label class=\"control-label\" style=\"padding-top: 0px; margin-top: 0px;\" for=\"disCategorias\">Categorias Disponíveis</label> " + 
		"                            <select class=\"form-control pickListSelect pickData\" id=\"disCategorias\" style=\"padding: 0px;\" multiple=\"\"></select>" + 
		"                          </div>" + 
		"                          <div class=\"col-xs-2 col-sm-2 col-md-2 col-lg-2 pickListButtons\" style=\"max-width: 70px;\">" + 
		"                            <button class=\"pAdd btn btn-primary btn-sm\" style=\"width: 50px;\" type=\"button\">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</button>" + 
		"                            <button class=\"pAddAll btn btn-primary btn-sm\" style=\"width: 50px;\" type=\"button\">&nbsp;&gt;&nbsp;&gt;&nbsp;</button>" + 
		"                            <button class=\"pRemove btn btn-primary btn-sm\" style=\"width: 50px;\" type=\"button\">&nbsp;&nbsp;&lt;&nbsp;&nbsp;</button>" + 
		"                            <button class=\"pRemoveAll btn btn-primary btn-sm\" style=\"width: 50px;\" type=\"button\">&nbsp;&lt;&nbsp;&lt;&nbsp;</button>" + 
		"                          </div>" + 
		"                          <div class=\"col-xs-5 col-sm-5 col-md-5 col-lg-5\">" + 
		"                            <label class=\"control-label\" style=\"padding-top: 0px; margin-top: 0px;\" for=\"selCategorias\">Categorias Selecionadas</label> " + 
		"                            <select class=\"form-control pickListSelect pickListResult\" id=\"selCategorias\" style=\"padding: 0px;\" multiple=\"\"><option value=\"5\">ANUIDADE I [Utilizacao: CARTAO | Aplicacao: AMBOS]</option><option value=\"2\">ARGUMENTACAO [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"12\">Anuidade Loja val [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"10\">Argumentacao Loja val [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"3\">CANCELAMENTO [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"8\">CANCELAMENTO LOJA Val [Utilizacao: AMBOS | Aplicacao: LOJAS] </option><option value=\"6\">DESCONTO LOJA [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"4\">DOWNGRADE [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"13\">Desconto Loja val [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"11\">Dowgrade Loja val [Utilizacao: AMBOS | Aplicacao: AMBOS]</option><option value=\"1\">SUBSTITUICAO LAERTE [Utilizacao: SEGURO | Aplicacao: AMBOS]</option><option value=\"9\">Substituicao Loja val [Utilizacao: AMBOS | Aplicacao: LOJAS] </option></select>" + 
		"                          </div>" + 
		"                        </div>" + 
		"                      </div>" + 
		"                    <br>" + 
		"                  </fieldset>" + 
		"                  " + 
		"                </div>" + 
		"" + 
		"              </div>" + 
		"            </div>" + 
		"          </div>" + 
		"          <div class=\"panel-footer text-right\">" + 
		"            <button class=\"btn btn-success\" type=\"submit\">Confirmar</button>" + 
		"            <button class=\"btn btn-default\" type=\"button\" data-dismiss=\"modal\">Cancelar</button>" + 
		"          </div>" + 
		"        </form>" + 
		"				" +
		"			</div>" + 
		"		</div>" + 
		"	</div>" + 
		""; 
	
	
	return retorno;
}