<!-- Main Container start -->
<div class="main-container" style="padding: 5px 5px 5px 5px;background: #c6cace;margin: 10px -5px -5px -5px;border-radius: 3px;display: flex;">
	<!-- Sidebar start -->
	<div class="sidebar">
		<ul class="slick-menu">
			<li class="active">
				<a id="menuDashboard">
					<div class="current-page"></div>
					<span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span>
					<strong>Dashboard</strong>
				</a>
			</li>
			<li class="drop-menu">
				<a id="menuServicos">
					<span class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></span>
					<!-- <small>4</small> -->
					<strong>Serviços</strong>
				</a>
				<ul>
					<li><a href="serv_disp.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fb;"></span>Serviços Disponíveis</a></li>
					<li><a href="serv_cont.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></span>Serviços Contratados</a></li>
					<li><a href="serv_canc.html"><span class="fs1" aria-hidden="true" data-icon="&#xe0fa;"></span>Serviços Cancelados</a></li>
				</ul>
			</li>
			<li class="drop-menu">
				<a><!--  href="cadastros.html" -->
					<span class="fs1" aria-hidden="true" data-icon="&#xe004;"></span>
					<strong>Cadastros</strong>
				</a>
				<ul>
					<li><a href="cad_dadospessoais.html"><span class="fs1" aria-hidden="true" data-icon="&#xe1cc;"></span>Dados Pessoais do Cliente</a></li>
					<li><a href="cad_referencias.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03e;"></span>Referências Pessoais</a></li>
				</ul>
			</li>
			<li class="drop-menu">
				<a href="#">
					<span class="fs1" aria-hidden="true" data-icon="&#xe06b;"></span>
					<!--  <small>3</small> -->
					<strong>Solicitações</strong>
				</a>
				<ul>
					<li><a href="sol_diavencimento.html"><span class="fs1" aria-hidden="true" data-icon="&#xe053;"></span>Alterar Dia de Vencimento</a></li>
					<li><a href="sol_segundavia.html"><span class="fs1" aria-hidden="true" data-icon="&#xe032;"></span>Segunda Via Fatura</a></li>
					<li><a href="sol_liberacaocompras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>Liberação de Compras</a></li>
				</ul>
			</li>
			<li class="drop-menu">
				<a href="#">
					<span class="fs1" aria-hidden="true" data-icon="&#xe0b6;"></span>
					<!-- <small>6</small> -->
					<strong>Históricos</strong>
				</a>
				<ul>
					<li><a href="his_memofiles.html"><span class="fs1" aria-hidden="true" data-icon="&#xe048;"></span>Memo Files</a></li>
					<li><a href="his_faturas.html"><span class="fs1" aria-hidden="true" data-icon="&#xe03a;"></span>Faturas</a></li>
					<li><a href="his_compras.html"><span class="fs1" aria-hidden="true" data-icon="&#xe039;"></span>Compras</a></li>
				</ul>
			</li>
			<li class="drop-menu">
				<a href="tables.html">
					<span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>
					<strong>Tables</strong>
				</a>
			</li>
		</ul>
	</div>
	<!-- Sidebar end LVF -->
	
	<!-- Dashboard wrapper start -->
	<div  id="panelPrincipal" class="dashboard-wrapper" style="padding-top: 0px;border-radius: 3px;width: 100%;min-height: 820px;">
		<div  id="panelDashboard" class="row paineis">
			<div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px 0px 0px 0px;margin-bottom: 0px;">
				<ul class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;">
					<li id="menuProxFatura" class="marisa-red-bg col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<span class="fs1" aria-hidden="true" data-icon="&#xe032;" ></span>
							<span id="currentSale" class="graph">
							255.89, 149.8, 181.5, 129.9, 147.5, 100.9
						</span>
						<div class="details">
							<span class="big">R$ 189,38</span>
							<span class="small">Próximo Vcto: 07/05/2018</span>
						</div>
					</li>
					<li class="sea-green-bg col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<span class="fs1" aria-hidden="true" data-icon="&#xe031;" ></span>
						<span id="currentBalance" class="graph">
							39.90, 211.50, 181.66, 97.1, 0, 0
						</span>
						<div class="details">
							<span class="big">R$ 345,00</span>
							<span class="small">Últimas Compras</span>
						</div>
					</li>
					<li class="go-green-bg col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<span class="fs1" aria-hidden="true" data-icon="&#xe1c7;" ></span>
						<div class="details">
							<span class="big">R$ 458,59</span>
							<span class="small">Limite Disponível</span>
						</div>
					</li>
					<li class="marisa-orange-bg col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<span class="fs1" aria-hidden="true" data-icon="&#xe035;" ></span>
						<div class="details">
							<span class="big">R$ 1.345,00</span>
							<span class="small">Limite Total</span>
						</div>
					</li>
				</ul>
			</div>
			<!-- Page title end -->
			<!-- Panel Dashboard start -->
			<div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px 0px 0px 0px;margin-bottom: 0px;">
				<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;">
					<div id="panelCards" class="row" style="margin: 0px;">
						<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px;display: inline-table;">
							<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
									<div class="panel panel-default" style="">
										<div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
											<div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
												<div class="callout callout-warning no-margin" style=" height: 100%;">
													<h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Cliente Inativo</h4>
													<p style="font-size: 18px;">
														O cliente encontra-se inativo. 
														Favor solicitar a reanalise através do botão abaixo.
													</p>
												</div>
											</div>                               
											<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
												<a href="#" class="btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
													<span class="glyphicon glyphicon-flash"> REANALISE</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	 
						<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px;display: inline-table;">
							<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
									<div class="panel panel-default" style="">
										<div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
											<div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
												<div class="callout callout-info no-margin" style=" height: 100%;">
													<h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Itaú</h4>
													<p style="font-size: 18px;">
														O cliente encontra-se pré-aprovado para migração ao cartão Itaú.
													</p>
													<p style="font-size: 18px;">Limite: R$ 1.568,00</p>
												</div>
											</div>                               
											<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
												<a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
													<span class="glyphicon glyphicon-flash"> SISTEMA OX</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;">
						<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px;display: inline-table;">
							<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
									<div class="panel panel-default" style="">
										<div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
											<div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
												<div class="callout callout-success no-margin" style=" height: 100%;">
													<h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Empréstimo Pessoal</h4>
													<p style="font-size: 18px;">
														O cliente encontra-se pré-aprovado para empréstimo pessoal.
													</p>
													<p style="font-size: 18px;">Limite: R$ 540,00</p>
													<p style="font-size: 18px;">Validade: 31/05/2018</p>
												</div>
											</div>                               
											<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
												<a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
													<span class="glyphicon glyphicon-flash">  SYSIN  </span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px;display: inline-table;">
							<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="">
									<div class="panel panel-default" style="">
										<div id="collapsecard.id" class="panel-collapse collapse show" style="" role="tabpanel" aria-labelledby="headingcard.id">
											<div class="" style="visibility: visible;padding: 5px;height: 215px;overflow: auto;">
												<div class="callout callout-yellow no-margin" style=" height: 100%;">
													<h4 style="font-size: 24px;font-weight: bold;margin-bottom: 20px;">Pré-Aprovado Saque</h4>
													<p style="font-size: 18px;">O cliente encontra-se pré-aprovado saques.</p>
													<p style="font-size: 18px;">Limite: R$ 268,00</p>
													<p style="font-size: 18px;">Encaminhe o cliente ao PDV.</p>
												</div>
											</div>                               
											<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;/* background-color: rgba(0, 0, 255, 0.3); */">
											<div class="" style="height: 22px;"> 
												&nbsp;
											</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>		
			</div>		
			<!-- ############## -->
			<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;">
				<!-- ################## -->
				<div id="panelCards">
					<!-- ################## -->
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
											    Serviços Disponíveis
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
											<ul class="list-group">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-ok"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-ok"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto Plus</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 24,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-ok"></span> 
														</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ################## -->
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-briefcase" style="left: -30px;"></span>
											     Serviços Contratados
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
											<ul class="list-group">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Bolsa Protegida</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 4,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Financeira</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 11,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Auto Proteção</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 7,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 19,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Empréstimo Pessoal</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 390,90</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Fatura Por E-mail</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 0px 0px 0px;">R$ 0,00</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
											</ul>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ################## -->
				<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;">
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-list-alt" style="left: -30px;"></span>
											    Informações Cadastrais
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
											<ul class="list-group" style="margin-bottom: 5px;">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Nome:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">MARIA INES DA SILVA</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Endereço:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">AL TOCANTINS, 280</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Cidade/UF:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">SÃO PAULO/SP</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Telefone:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(11) 2104-8078</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">Celular:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">(19) 98100-8522</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;text-align: left;">E-mail:</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;text-align: left;">lavandosk@gmail.com</div>
												</li>
											</ul>
										</div>
										<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
											<a href="#" class="btn btn-warning btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
												<span class="glyphicon glyphicon-pencil"> ALTERAR</span> 
											</a>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ############ -->
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist"aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
											    Cartões Adicionais
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
											<ul class="list-group" style="margin-bottom: 5px;">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">JOÃO DA SILVA LINDEMBERG</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">MARIA DA SILVA LINDEMBERG</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;">
															<span class="glyphicon glyphicon-pencil"></span> 
														</a>
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 3px 0px;height: 20px;margin-left: 5px;">
															<span class="glyphicon glyphicon-remove"></span> 
														</a>
													</div>
												</li>
											</ul>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
												<div class="" style="height: 10px;">&nbsp;</div> 
											</div> 
											<div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;background-color: #dbddde;"> 
												<a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
													<span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
												</a>
											</div> 
										</div>
										<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
											<a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
												<span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
											</a>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ############ -->
				</div>
				<!-- ################## -->
				<div class="stats col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 10px 0px 10px;width: 100%;">
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-comment" style="left: -30px;"></span>
												Solicitações
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
											<ul class="list-group" style="margin-bottom: 5px;">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">LIBERAÇÃO DE COMPRA</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">APROVADA</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">ALTERAÇÃO DE LIMITE</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-warning btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">EM ANÁLISE</a>
													</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 5px 0px 5px;">REANALISE</div>
													<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
														<a href="#" class="btn btn-danger btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">NEGADA</a>
													</div>
												</li>
											</ul>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
												<div class="" style="height: 10px;"> &nbsp;</div> 
											</div> 
											<div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;background-color: #dbddde;"> 
												<a href="#" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
													<span class="glyphicon glyphicon-ok"> ADICIONAR</span> 
												</a>
											</div> 
										</div>
										<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
											<a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
												<span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
											</a>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="card.id" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0px; display: inline-table;">
						<div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading card.id + "">
										<h4 class="panel-title">
											<a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true" aria-controls="collapsecard.id"> 
												<span class="glyphicon glyphicon-th-list" style="left: -30px;"></span>
													Memo File
											</a>
										</h4>
									</div>
									<div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
										<div class="panel-body" style="visibility: visible;padding: 5px;height: 170px;overflow: auto;">
											<ul class="list-group" style="margin-bottom: 5px;">
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:11:21</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO #107898758 - DADOS OK**CLI CIENTE DO CANC DO CARTÃO SALDO DEV APROX 7, ...</div>
												</li>
												<li class="list-group-item row" style="padding: 0px;margin: 3px;">
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0px 5px 0px 5px;">09/04/2018 08:07:28</div>
													<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0px 5px 0px 5px;">PROTOCOLO GERADO PELA URA #107898728 COM A MENSAGEM: CLIENTE SOLICITOU FALAR COM ...</div>
												</li>
											</ul>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 2px 2px 2px;"> 
												<div class="" style="height: 10px;">&nbsp;</div> 
											</div> 
										</div>
										<div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;"> 
											<a href="#" class="btn btn-info btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;">
												<span class="glyphicon glyphicon-th-list"> HISTÓRICO</span> 
											</a>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<!-- panelCards  -->
			</div>
		</div>
		<!-- Dashboard wrapper end -->
	</div>
</div>
<!-- Panel Dashboard end -->
