function getHtmlProxFatura(){
	var retorno = 
		"" +
		"	<div id=\"panelProxFatura\" class=\"row paineis\" style=\"margin: 10px; display: none;\">" +
		"		<!-- Panel ProxFatura start -->" + 
		"		<div class=\"page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12\" style=\"padding: 5px 0px 0px 0px;margin-bottom: 0px;\">" + 
		"" +
		"" + 
		"			<div class=\"stats col-xs-12 col-sm-12 col-md-12 col-lg-12\" style=\"padding: 0px 10px 0px 10px;width: 100%;margin-top: 20px;\">" +
		"				" +
		"        <form class=\"form-vertical\" id=\"formCadastro\" role=\"form\" novalidate=\"true\" data-toggle=\"validator\">" + 
		"          <div class=\"panel panel-default\" style=\"margin-bottom: auto;\">" + 
		"            <!-- Default panel contents -->" + 
		"            <div class=\"panel-heading\" id=\"formModalTitle\">Consulta de Faturas</div>" + 
		"            <div class=\"panel-body\">" + 
		"              <!--          <h4><legend>Incluir Status de Cartão</legend></h4> -->" + 
		"" + 
		"              <div class=\"col-lg-0 col-md-0 col-sm-0 col-xs-0\"></div>" + 
		"" + 
		"              <div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\">" + 
		"" + 
		"              <table class=\"table table-bordered table-condensed table-striped\">" + 
		"                <thead>" + 
		"                  <tr>" + 
		"                    <th>Data da Fatura</th>" + 
		"                    <th>Número</th>" + 
		"                    <th>Valor</th>" + 
		"                    <th>Postada</th>" + 
		"                    <th>Ação</th>" + 
		"                  </tr>" + 
		"                </thead>" + 
		"                <tbody>" + 
		"                  <tr class=\"\">" + 
		"                    <td>02-05-2018</td>" + 
		"                    <td>56</td>" + 
		"                    <td>R$ 237,64</td>" + 
		"                    <td>NÃO</td>" + 
		"                    <td>" +
		"						<span id=\"btnPrint\" class=\"fs1 btnPrint\" aria-hidden=\"true\" data-icon=\"&#xe051;\"></span>&nbsp;&nbsp;" + 
		"						<span id=\"btnMail\" class=\"fs1 btnMail\" aria-hidden=\"true\" data-icon=\"&#xe040;\"></span>" +
		"					 </td>" +
		"                  </tr>" + 
		"                  <tr class=\"\">" + 
		"                    <td>02-04-2018</td>" + 
		"                    <td>55</td>" + 
		"                    <td>R$ 42,80</td>" + 
		"                    <td>SIM</td>" + 
		"                    <td>" +
		"						<span id=\"btnPrint\" class=\"fs1 btnPrint\" aria-hidden=\"true\" data-icon=\"&#xe051;\"></span>&nbsp;&nbsp;" + 
		"						<span id=\"btnMail\" class=\"fs1 btnMail\" aria-hidden=\"true\" data-icon=\"&#xe040;\"></span>" +
		"					 </td>" +
		"                  </tr>" + 
		"                  <tr class=\"\">" + 
		"                    <td>02-03-2018</td>" + 
		"                    <td>54</td>" + 
		"                    <td>R$ 53,90</td>" + 
		"                    <td>SIM</td>" + 
		"                    <td>" +
		"						<span id=\"btnPrint\" class=\"fs1 btnPrint\" aria-hidden=\"true\" data-icon=\"&#xe051;\"></span>&nbsp;&nbsp;" + 
		"						<span id=\"btnMail\" class=\"fs1 btnMail\" aria-hidden=\"true\" data-icon=\"&#xe040;\"></span>" +
		"					 </td>" +
		"                  </tr>" + 
		"                </tbody>" + 
		"              </table>" + 
		"" + 
		"              </div>" + 
		"            </div>" + 
		"          </div>" + 
		"          <div class=\"panel-footer text-right\">" + 
		"            <button class=\"btn btn-success\" type=\"submit\">Histórico</button>" + 
		"            <button class=\"btn btn-default\" type=\"button\" data-dismiss=\"modal\">Valtar</button>" + 
		"          </div>" + 
		"        </form>" + 
		"				" +
		"			</div>" + 
		"		</div>" + 
		"	</div>" + 
		""; 
	
	
	return retorno;
}