// function getHtmlModulo(modulo, titulo){
//     var retorno =  
//     "               <!-- MODULO --> " +
//     "               <div class=\"row modulo\" id=\"modulo"+ modulo +"\"style=\"margin-left: 0px; margin-right: 0px; display: inline-block; width: 100%;\"> " +
//     "                " +
//     "                   <h4 style=\"width: 100%;\"> " +
//     "                       <legend style=\"display: inline-block; white-space: nowrap;\">"+titulo+"</legend> " +
//     "                   </h4> " +
//     "                   <br /> " +
//     "                " +
//     "               </div>";
//     return retorno;
// }