<style type="text/css">
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #box_faturas #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
    #btnEditarInfos{
        float: right;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    .list-group.titulo_divisor{
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 15px;}
    .list-blocos-group.lista_grid_02.grid_divisor{
        width: 100%;
    }
    .vrForm .form-control {
        width: 80%;
        float: right;
        margin-left: 8px;
    }
    .checkbox_alterar{
        float: left;
        display: block;
        position: absolute;
        top: 50px;
        right: 16px;
    }
    .nav_page_infos_financeiras{
        padding-top: 20px
    }

</style>
<div class="referenciaModalcard"></div>
<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Faturas
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <ul class="nav nav-tabs lista_tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active show" id="tab_infos_pessoais" data-toggle="tab" href="tab_fatura_atual01" role="tab" aria-controls="tab_infos_pessoais" aria-selected="true">Em Aberto</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_referencias_pessoais" data-toggle="tab" href="tab_fatura_atual02" role="tab" aria-controls="tab_infos_referencias_pessoais" aria-selected="false">Faturas Atuais </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_faturas_historico" data-toggle="tab" href="tab_fatura_atual03" role="tab" aria-controls="tab_infos_residenciais" aria-selected="false">Historico de Faturas </a>
                                </li>
                            </ul>
                            <div class="page-title" id="conteudo_tabs_info" style="">
                                <div id="tab_fatura_atual01" class="left_box_grid showTab">
                                  <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">Faturas</li>
                                  </ul>
                                  <div id="conteudo_dinamico_faturas_atuais" class="conteudo_dinamico_tabs">
                                        <div id="header_faturas" class="grupo_faturas">
                                            <div class="item_fatura" style="width: 20%">Data da Fatura</div>
                                            <div class="item_fatura" style="width: 15%">Número</div>
                                            <div class="item_fatura" style="width: 15%">Valor</div>
                                            <div class="item_fatura" style="width: 15%">Postada</div>
                                            <div class="item_fatura" style="width: 28%">Visualizar</div>
                                        </div>
                                        <div id="accordion_fatura_atual">
                                            <div class="fatura_atual_S">
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" id="headingOne" style="width:73%; padding-left:15px " data-toggle="collapse" data-target="#14014">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="14014" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                                <div id="tab_fatura_atual02" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Faturas</li>
                                    </ul>
                                    <div id="conteudo_dinamico_faturas_atuais" class="conteudo_dinamico_tabs">
                                        <div id="header_faturas" class="grupo_faturas">
                                            <div class="item_fatura" style="width: 20%">Data da Fatura</div>
                                            <div class="item_fatura" style="width: 15%">Número</div>
                                            <div class="item_fatura" style="width: 15%">Valor</div>
                                            <div class="item_fatura" style="width: 15%">Postada</div>
                                            <div class="item_fatura" style="width: 28%">Visualizar</div>
                                        </div>
                                        <div id="accordion_fatura_atual">
                                            <div class="fatura_atual_S">
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" style="width:73%; padding-left:15px " id="headingOne" data-toggle="collapse" data-target="#14015">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                       <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="14015" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" style="width:73%; padding-left:15px " id="headingOne" data-toggle="collapse" data-target="#140">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="140" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                                <div id="tab_fatura_atual03" class="tab_fatura_SAC left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Faturas</li>
                                    </ul>
                                    <div id="conteudo_dinamico_faturas_atuais" class="conteudo_dinamico_tabs">
                                        <div id="header_faturas" class="grupo_faturas">
                                            <div class="item_fatura" style="width: 20%">Data da Fatura</div>
                                            <div class="item_fatura" style="width: 15%">Número</div>
                                            <div class="item_fatura" style="width: 15%">Valor</div>
                                            <div class="item_fatura" style="width: 15%">Postada</div>
                                            <div class="item_fatura" style="width: 28%">Visualizar</div>
                                        </div>
                                        <div id="accordion_fatura_atual">
                                            <div class="fatura_atual_S">
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" style="width:73%; padding-left:15px" id="headingOne" data-toggle="collapse" data-target="#14016">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="14016" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" style="width:73%; padding-left:15px" id="headingOne" data-toggle="collapse" data-target="#14017">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="14017" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header card_acordeon">
                                                        <div class="area_click" style="width:73%; padding-left:15px" id="headingOne" data-toggle="collapse" data-target="#14018">
                                                            <div class="mb-0 titulo_fatura">16/07/2018</div>
                                                            <div class="mb-0 titulo_fatura" style="width:21%;">34</div>
                                                            <div class="mb-0 titulo_fatura" style="width:26%">R$ 172,09</div>
                                                            <div class="mb-0 titulo_fatura" style="width:15%;padding-left: 2px;">S</div>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura visualizador_fatura">
                                                            <a href="#" class="fs1 icone_visualizar" aria-hidden="true" data-nome-pdf="faturateste.pdf" data-fatura="16/07/2018" data-pdf="34" data-icon="" data-toggle="modal" data-atual="S" data-fechada="S" data-target="#14016_modal"></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_email icone_enviar_email" data-modalsac-type="modalenvioemail" target="_blank" aria-hidden="true" data-fatura="16/07/2018" data-atual="S" data-fechada="S" data-pdf="34" data-icon=""></a>
                                                        </div>
                                                        <div id="visualizar_fatura_01"  style="width:7%; text-align: center" class="mb-0 titulo_fatura enviar_email">
                                                            <a href="#" class="fs1 btn_envio_sms icone_enviar_sms" data-modalsac-type="modalenviosms" data-icon="&#xe054;" aria-hidden="true" ></a>
                                                        </div>
                                                    </div>
                                                    <div id="14018" class="control_show collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="grupo_faturas">
                                                                <div class="item_fatura item_fatura_body item_P" style="width:14%">Data</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12%">Loja</div>
                                                                <div class="item_fatura item_fatura_body" style="width:30%">Cartão/Historico</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Valor</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">Parcela</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">D/C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">05/07/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">900</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">ANUID DIFEREN (PARC)</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 3,90</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/1</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">15/06/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">RECEBIMENTO DE  FATURA</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 175,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">0/0</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">C</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">19/05/2018</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 5X SEM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 40,38</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">2/5</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">01/11/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">564</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 90,24</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">6/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                            <div class="listagem_detalhe_fatura">
                                                                <div class="item_fatura item_fatura_body item_P">21/10/2017</div>
                                                                <div class="item_fatura item_fatura_body" style="width:12.5%">613</div>
                                                                <div class="item_fatura item_fatura_body item_texto_normaliza" style="width:30%">PARC 7X COM JUROS</div>
                                                                <div class="item_fatura item_fatura_body" style="width:16%">R$ 37,57</div>
                                                                <div class="item_fatura item_fatura_body" style="width:13%">7/7</div>
                                                                <div class="item_fatura item_fatura_body" style="width:10%">D</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        ativacaoAutomatica();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            $(".nav-link").removeClass('active');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('.card_acordeon').on('click', function(event) {
            event.preventDefault();
            var target = $(this).closest('.card').attr('data-id');
            $('#'+target).find('collapse').toggleClass('show');
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });
        $('.btn_envio_email').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "titulo":"Confirmação de Envio de Email",
                "texto":"Deseja realmente enviar esta fatura por email?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
        $('.btn_envio_sms').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "titulo":"Confirmação de Envio de SMS",
                "texto":"Deseja realmente enviar o código de barras por SMS?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
        $('.icone_visualizar').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"modalPdf",
                "titulo":"Fatura",
                "texto":"Deseja realmente Salvar a Pendência ?"
            }
            modalEnvioEmailSms.load(propsModal)
        });

    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
    function ativacaoAutomatica(){
        if($('#box_faturas').hasClass('ATIVAR_TAB')){
            hideTab();
            $(".nav-link").removeClass('active');
            $("#tab_faturas_historico").addClass('active');
            $("#tab_fatura_atual03").show();
        }
    }
</script>