<style>
    .txt_lista_hist{
        font-size: 13px;
    }
    .box_lista_parcelas .lista_parcela .item_lista_parcela{
        font-size: 15px;
    }
</style>
    <div id="card_01" class="card_identificacao_positiva col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
          <div class="panel-group" id="accordion" role="tablist aria-multiselectable=" false"="">
             <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + " "="">
                   <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls=" collapsecard.id"=""> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Memofile
                        </a>
                    </h4>
                </div>
                <div id="box_tab_infos_comerciais" style="padding-top: 20px" class="left_box_grid">
                    <div id="conteudoParcelas">
                        <div class="box_lista_parcelas">
                            <ul class="lista_parcela head_lista">
                                <li class="item_lista_parcela header_lista" style="width: 20%;">Data / Hora </li>
                                <li class="item_lista_parcela header_lista" style="width: 8%; padding-left: 0px">Filial </li>
                                <li class="item_lista_parcela header_lista" style="width: 25%;padding-left: 0px">Usuário </li>
                                <li class="item_lista_parcela header_lista" style="width: 45%;padding-left: 0px">Observação </li>
                            </ul>
                            <ul class="lista_parcela lista_itens_historico">
                                <li class="item_historico on_color">
                                    <a class="btn_popup_acao" cp-popup-historico="historico_info" href="#">
                                        <span class="txt_lista_hist" style="width: 20%;padding-left: 3px">05/07/2018 07:57:53</span> 
                                        <span class="txt_lista_hist" style="width: 8%">900</span>
                                        <span class="txt_lista_hist" style="width: 25%">CCM - ADMINISTRADOR</span>
                                        <span class="txt_lista_hist" style="width: 45%">ENVIADA A DECLARACAO DE QUITACAO ANUAL - ...</span>
                                    </a>   
                                </li>
                                <li class="item_historico">
                                    <a class="btn_popup_acao" cp-popup-historico="historico_info" href="#">
                                        <span class="txt_lista_hist" style="width: 20%;padding-left: 3px">28/04/2018 07:23:44</span> 
                                        <span class="txt_lista_hist" style="width: 8%">900</span>
                                        <span class="txt_lista_hist" style="width: 25%">CCM - ADMINISTRADOR</span>
                                        <span class="txt_lista_hist" style="width: 45%">Enviado EMAIL com o Link da Fatura...</span>
                                    </a>   
                                </li>
                                <li class="item_historico on_color">
                                    <a class="btn_popup_acao" cp-popup-historico="historico_info" href="#">
                                        <span class="txt_lista_hist" style="width: 20%;padding-left: 3px">28/04/2018 07:23:44</span> 
                                        <span class="txt_lista_hist" style="width: 8%">900</span>
                                        <span class="txt_lista_hist" style="width: 25%">CCM - ADMINISTRADOR</span>
                                        <span class="txt_lista_hist" style="width: 45%">Enviado EMAIL com o Link da Fatura...</span>
                                    </a>   
                                </li>
                                 <li class="item_historico ">
                                    <a class="btn_popup_acao" cp-popup-historico="historico_info" href="#">
                                        <span class="txt_lista_hist" style="width: 20%;padding-left: 3px">28/04/2018 07:23:44</span> 
                                        <span class="txt_lista_hist" style="width: 8%">900</span>
                                        <span class="txt_lista_hist" style="width: 25%">CCM - ADMINISTRADOR</span>
                                        <span class="txt_lista_hist" style="width: 45%">Enviado EMAIL com o Link da Fatura...</span>
                                    </a>   
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>