
    <style>
        .dataTables_info{
            font-size: 10px;
            padding-top: 8px;
            padding-left: 10px;
            white-space: nowrap;
            font-stretch: bold !important;
            color: #75104c !important;
        }
        .dataTables_paginate{
            text-align: right;
            padding-left: 15px;
            margin: 0px 10px 0px 0px;
            white-space: nowrap;
        }
        .pagination{
            margin: 0px 0px 0px 0px !important;
        }
        #accordion .panel-heading.padding{
            padding: 5px 0 5px 5px;
        }
        
        #paginaRetencao #formRetencao .custom-control-label::before{
            width: 15px;
            height: 15px;
            top: 4px;
            left: -5px;
        }
        #paginaRetencao #formRetencao .custom-control-label::after{
            width: 15px;
            height: 15px;
            top: 4px;
            left: -5px;
        }
    </style>
<div id="paginaRetencao" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Retenção
                        </a>
                    </h4>
                </div>
                <div class="custom_card_sac col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form id="formRetencao" class="form-horizontal" data-toggle="validator" role="form">
                        <!-- Content -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div id="panelSelecaoProduto" class="panel panel-default" style="min-width: 650px;">
                                <!-- Default panel contents -->
                                    <div class="panel-heading padding">Seleção do Tipo de Retenção</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-top: 10px">
                                                    <div class="form-inline has-feedback">
                                                        <label for="tipoRetencao" class="control-label" style="margin:0px 15px 0 0;">Tipo Retenção</label>
                                                    <div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                      <input type="radio" id="escolha_cartao" name="escolha_cartao" class="custom-control-input">
                                                      <label class="custom-control-label" for="escolha_cartao">Cartão</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                      <input type="radio" id="escolha_seguro" name="escolha_seguro" class="custom-control-input">
                                                      <label class="custom-control-label" for="escolha_seguro">Seguros</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="motivoSolicitacao" class="control-label" style="margin-top: 0px;">Motivo Solicitação do Cancelamento</label><br> 
                                            <select class="form-control" style="width: 100%;" id="motivoSolicitacao" pattern="^[123]{0,1}$" data-error="Valor inválido!" required>
                                                <option value="">Selecione...</option>
                                                <option>Anuidade</option>
                                                <option>Cobrança de encargos</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ### -->
                        <div id="panelSeguros" name="panelSeguros" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <!-- Default panel contents -->
                            <div class="panel-heading padding">Retenção Seguros</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="produtosContratados" class="control-label" style="margin-top: 0px;">Produtos Contratados</label><br>
                                            <select class="form-control" style="width: 100%;" id="produtosContratados" pattern="^[0-9]{0,1}$" data-error="Valor inválido!" >
                                                <option value="">Selecione...</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="ofertasDisponiveisProdutos" class="control-label" style="margin-top: 0px;">Ofertas Disponíveis</label><br>
                                            <select class="form-control" style="width: 100%;" id="ofertasDisponiveisProdutos" pattern="^[0-9]{1}$" data-error="Valor inválido!" >
                                                <option value="">Selecione...</option>
                                                <option value="1">Argumentação</option>
                                                <option value="2">Substituição</option>
                                                <option value="3">Downgrade</option>
                                                <option value="4">Desconto Loja</option>
                                                <option value="5">Cancelamento</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ### -->
                        <div id="panelCartoes" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <!-- Default panel contents -->
                            <div class="panel-heading padding">Retenção Cartões</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="cartoesContratados" class="control-label" style="margin-top: 0px;">Cartões Contratados</label><br>
                                            <select class="form-control" style="width: 100%;" id="cartoesContratados" pattern="^[0-9]{0,1}$" data-error="Valor inválido!" >
                                                <option value="">Selecione...</option>
                                                <option value="1">Cartão Marisa</option>
                                                <option value="2">Cartão Marisa Plus</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="ofertasDisponiveisCartoes" class="control-label" style="margin-top: 0px;">Ofertas Disponíveis</label><br>
                                            <select class="form-control" style="width: 100%;" id="ofertasDisponiveisCartoes" pattern="^[0-9]{0,1}$" data-error="Valor inválido!" >
                                                <option value="">Selecione...</option>
                                                <option value="1">Argumentação</option>
                                                <option value="2">Substituição</option>
                                                <option value="3">Downgrade</option>
                                                <option value="4">Desconto Loja</option>
                                                <option value="5">Cancelamento</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ### -->
                        <div id="panelCartoesDisponiveis" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <div class="panel-heading padding">Detalhe de Substituição / Downgrade</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon" style="min-width: 135px; text-align: right;border-radius: 3px;">Cartão a ser contratado:</span> 
                                            <input type="text" id="textCartoesDisponiveis" class="form-control" style="width: 100%; background-color: #fbfaf6; font-size: 12px; font-weight: bold;border-radius: 3px;" readonly="readonly"/>
                                            <input type="hidden" id="valueCartoesDisponiveis" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- ### -->
                        <div id="panelDscLoja" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <div class="panel-heading padding">Detalhe de Desconto em Loja</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="descontoLoja" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="campanhaDescontoLoja" class="control-label" style="margin-top: 0px;">Campanhas</label><br> 
                                            <select class="form-control" style="width: 100%;" id="campanhaDescontoLoja" data-error="Valor inválido!" required>
                                                <option value="">Selecione...</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- ### -->

                        <!-- <div id="panelAnuidade" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <div class="panel-heading padding">Detalhe Anuidade</div>
                            <div class="panel-body" style="padding: 10px;">
                                <fieldset class="fieldset-group" id="fieldsetAnuidade" style="margin-left: 0px; margin-right:0px; padding: 5px;">
                                    <legend class="legend-group"> Ciclo de Cobrança </legend>
                                    <table id="table-ciclo" class="table table-striped table-hover table-responsive" style="margin-top: 0px !important;font-size: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Ciclo</th>
                                                <th>Parcela</th>
                                                <th>Total Parcelas</th>
                                                <th>Valor</th>
                                                <th>Dia Vencimento</th>
                                                <th>Data de Postagem</th>
                                                <th>Data de Pagamento</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </fieldset>
                                <div class="row" style="padding: 5px 0px 0px 0px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline has-feedback">
                                            <label for="cateDesc" class="control-label" style="margin-top: 0px;">Categoria de Descontos</label><br>
                                            <select class="form-control" style="width: 100%;" id="cateDesc" pattern="^[0-9]{0,1}$" data-error="Valor inválido!" required>
                                                <option value="">Selecione...</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-inline" id="divObsDesc">
                                            <label for="obsDesc" class="control-label" style="margin-top: 0px;">Observação</label><br>
                                            <label id="obsDesc" class="control-label" style="text-align: left; color: rgb(117, 16, 76); font-size: 10px; margin-top: 0px;">O Benefício será atribuído ao cliente no próximo ciclo.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- ### -->
                        <!-- <div id="panelSubstituicao" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <div class="panel-heading padding"> 
                                Produtos Disponíveis para Substituição
                                <label class="pull-right" id="labelSubstituicao" style="font-size: 12px; color:#800040">* Obs: Essa oferta pode gerar multa</label>
                            </div>
                            <div class="panel-body" style="padding: 0px;">
                                <table id="table-substituicao" class="table table-striped table-hover table-responsive" style="margin-top: 0px !important;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Serviços</th>
                                            <th>Valor Mínimo de Cobertura</th>
                                            <th>Valor Mensal de Seguro</th>
                                            <th>Periodicidade de Cobrança</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>  -->
                        <!-- ### -->
                        <!-- <div id="panelDowngrade" class="panel panel-default sub-panel" style="min-width: 650px;">
                            <div class="panel-heading padding"> 
                                Produtos Disponíveis para Downgrade
                                <label class="pull-right" id="labelDowngrade" style="font-size: 12px; color:#800040">* Obs: Essa oferta pode gerar multa</label>
                            </div>
                            <div class="panel-body" style="padding: 0px;">
                                <table id="table-downgrade" class="table table-striped table-hover table-responsive" style="margin-top: 0px !important;font-size: 10px;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Serviços</th>
                                            <th>Valor Mínimo de Cobertura</th>
                                            <th>Valor Mensal de Seguro</th>
                                            <th>Periodicidade de Cobrança</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div> -->

                        <!-- ### -->
                        <div class="row text-center" id="panelBotoes">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button id="btnSalvar" type="submit" class="btn btn-primary">EFETIVAR</button>
                                <label>&nbsp;&nbsp;&nbsp;</label>
                                <button id="btnLimpar" type="button" class="btn btn-primary">LIMPAR</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- ### -->

                
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
       $('').on('change', function(event) {
           event.preventDefault();
           /* Act on the event */
       });
    })
</script>








