<div id="card_page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
    <div class="card menu" id="menucard.id" style="margin: 0px; border: 5px solid #fbfaf6; max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="cadAdicionais">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button"
                            style="padding-right: 5px; color: #75104c;" data-toggle=""
                            data-parent="#accordion" aria-expanded="true"
                            aria-controls="collapsecard.id" > 
                            <span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
                            Cartões do Cliente
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div id="contentPageCartoes">
                        <div class="panel-body" style="visibility: visible; padding: 5px; height: auto; overflow: auto; min-height: 167px;">
                           <ul class="list-group" style="margin-bottom: 5px;">
                              <li class="list-group-item row" style="padding: 0px;margin: 3px;background-color: #c6cace;font-weight: bold;">
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">Nome</div>
                                 <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 0px;">Tipo</div>
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">Cartão</div>
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">Status</div>
                                 <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding: 0px 5px 0px 0px;text-align: right;">Ações</div>
                              </li>
                              <li class="list-group-item row" style="padding: 0px;margin: 3px;">
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">DENISE DO SOCORRO</div>
                                 <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px 5px 0px 0px;">TITULAR</div>
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">6034.7500.0037.5538</div>
                                 <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 0px;">CARTAO ATIVO</div>
                                 <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding: 0px 5px 0px 5px;text-align: right;white-space: nowrap;">                                              <a onclick="javascript: segundaViaCartao(74742418972, 375538)" class="btn btn-xs" style="margin: 0px 0px 0px 5px;height: 20px;color: white;background-color: #34a097;border-color: #87c7c1;"><span class="glyphicon" style="font-size: 11px;font-weight: bold;font-family: monospace;">2ª</span></a>                                          </div>
                              </li>
                           </ul>
                        </div>
                        <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 2px 5px 2px 2px;background-color: #dddddd;height: 30px;">                                     
                            <a id="btnCadastraAdicional" class="btn btn-success btn" style="margin: 3px 3px 3px 3px;height: 20px;float: right;color: white;word-spacing: -5px;padding: 1px 5px 1px 5px;">                                     
                                <span class="glyphicon glyphicon-ok"> SOLICITAR ADICIONAL</span>
                            </a>                               
                        </div>
                    </div>
                </div>
                <!-- ## -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $('#btnCadastraAdicional').on('click', function(event) {
            event.preventDefault();
            console.log('LOG BTN')
             adicionarAdicional()
        });
        
    })
    function adicionarAdicional(){
        var content = document.querySelector('#contentPageCartoes');
        var pagePath = './components/form/form_component.html';
        
        $(content).load(pagePath,function(e){
            
        });
    }
</script>