<style type="text/css">
    #cardPageCadastro #accordion .panel-body:before{
        display: none
    }
    .lista_infos_conteudo{
        cursor: pointer
    }
    .lista_infos_conteudo:hover{
        background-color: #ccc;
    }
    #listaHistoricoPendencias th{
        font-size: 12px;
    }
    #listaHistoricoPendencias td{
        font-size: 11px;
    }
    #pagina_historico_pendencia{display: none}
    #pagina_nova_pendencia{display: none}
    #masterPagePendencias.ATIVAR_ADD_PENDENCIA #pagina_nova_pendencia{
        display: block;
    }
    #masterPagePendencias.HISTORICO_ADD_PENDENCIA #pagina_historico_pendencia{
        display: block;
    }    

    #masterPagePendencias div.table-responsive > div.dataTables_wrapper > div.row{
        width: 100%
    } 
    
</style>
<div class="referenciaModalcard"></div>
<div id="masterPagePendencias" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Adicionar Pendencias
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <div id="box_tab_infos_pessoais" class="left_box_grid showTab">
                                <div id="conteudo_pendencias" class="conteudo_pendencias">
                                    <!-- PAGINA NOVA PENDENCIA   -->
                                    <div id="pagina_nova_pendencia">
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02" style="width: 100%"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Motivo da Pendência</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Selecione</option>
                                                        <option>Cancelamento por morte</option>
                                                        <option>Estorno de tarifas</option>
                                                        <option>Alteração de Parcela e cancel.de compra</option>
                                                        <option>Estorno de Juros, Multas e encargos</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <ul class="list-group titulo_divisor">
                                            <li class="list-group-item list-group-item-info">Observação </li>
                                        </ul>
                                        <div class="form-group">
                                          <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                        <div class="nav_btn_acao">
                                            <a id="ac_salvar" data-modalsac-type="modalsalvar" href="#" class="modalsac btn_salvar btn btn-success">
                                                <span class="glyphicon glyphicon-ok"></span> SALVAR
                                            </a>
                                            <a id="ac_limpar" href="#" class="btn_limpar btn btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span> LIMPAR
                                            </a>
                                        </div>
                                    </div>
                                    <!-- PAGINA HISTORICO PENDENCIA   -->
                                    <div id="pagina_historico_pendencia" class="lista_sac_infos">
                                        <span class="titulo">Histórico de Pendência</span>
                                        <div class="table-responsive">
                                          <table id="listaHistoricoPendencias" class="table table-striped" style="width:100%">
                                              <thead>
                                                <tr>
                                                  <th scope="col" class="tabela_titulo">Data / Hora </th>
                                                  <th scope="col" class="tabela_titulo">Filial</th>
                                                  <th scope="col" class="tabela_titulo">Usuário</th>
                                                  <th scope="col" class="tabela_titulo">Motivo</th>
                                                  <th scope="col" class="tabela_titulo">Observação</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>26/09/2018 14:11:44 </td>
                                                  <td>504</td>
                                                  <td>SANDRA MARIA BOMBARDI</td>
                                                  <td>ALTERACAO DE PARCEL ..</td>
                                                  <td>51 - ALTERACAO ...</td>
                                                </tr>
                                                <tr>
                                                  <td>26/09/2018 14:11:44 </td>
                                                  <td>504</td>
                                                  <td>SANDRA MARIA BOMBARDI</td>
                                                  <td>ALTERACAO DE PARCEL ..</td>
                                                  <td>51 - ALTERACAO ...</td>
                                                </tr>
                                                <tr>
                                                  <td>26/09/2018 14:11:44 </td>
                                                  <td>504</td>
                                                  <td>SANDRA MARIA BOMBARDI</td>
                                                  <td>ALTERACAO DE PARCEL ..</td>
                                                  <td>51 - ALTERACAO ...</td>
                                                </tr>
                                                <tr>
                                                  <td>26/09/2018 14:11:44 </td>
                                                  <td>504</td>
                                                  <td>SANDRA MARIA BOMBARDI</td>
                                                  <td>ALTERACAO DE PARCEL ..</td>
                                                  <td>51 - ALTERACAO ...</td>
                                                </tr>
                                              </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
       var table = $('#listaHistoricoPendencias').DataTable({
            "paging":   false,
            "ordering": false,
            "searching": false,
            "responsive": true,
            "info":     false,
             
        });
        table.draw();
       
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
        });
        // 
        $('.modalsac').on('click', function(event) {
            event.preventDefault();
            var tipoModal = $(this).attr('data-modalsac-type');
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "titulo":"Atenção",
                "texto":"Deseja realmente Salvar a Pendência ?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
        $('#ac_limpar').on('click', function(event) {
            event.preventDefault();
            $('#comment').val("");
        });
        // 
        $('#listaHistoricoPendencias').on('click', '.lista_infos_conteudo', function(event) {
            event.preventDefault();
            console.log('Vai Cavalo')
        });
    })
    
</script>