<div class="referenciaModalcard"></div>
<div id="card_page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
    <div class="card menu" id="menucard.id" style="margin: 0px; border: 5px solid #fbfaf6; max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="cadAdicionais">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button"
                            style="padding-right: 5px; color: #75104c;" data-toggle=""
                            data-parent="#accordion" aria-expanded="true"
                            aria-controls="collapsecard.id" > 
                            <span class="glyphicon glyphicon-credit-card" style="left: -30px;"></span>
                            Editar Local de Risco
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div id="contentPageCartoes">
                        <div class="panel-body" style="visibility: visible; padding: 1px; height: auto; overflow: auto; min-height: 167px;">
                            <form id="formLocal" class="form-horizontal" data-toggle="validator" role="form" novalidate="true">
                                <!-- Content -->
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
                                        <legend id="titleCadAdicionais">Seguro</legend>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group" style="margin: -10px -15px 0px -15px;">
                                            <label class="control-label" style="margin-top: 0px" for="locVlrMensalSeguro">Valor Mensal do Seguro</label><br>
                                            <input type="text" id="locVlrMensalSeguro" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly" value="R$ 8,90">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px 0 0 0;">
                                        <legend id="titleCadAdicionais" style="padding:5px 0 7px 0; margin: 0px 0 5px 0; font-size: 15px">Lista de Coberturas</legend>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="margin-top: 0px" for="locCoberturaDescr">Cobertura</label><br>
                                            <input type="text" id="locCoberturaDescr" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" value="CASA PROTEGIDA SAC *" readonly="readonly">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="form-group" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="margin-top: 0px" for="locCoberturaValor">Valor Cobertura</label><br>
                                            <input type="text" id="locCoberturaValor" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" readonly="readonly" value="R$ 15.000,00">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-heading" style="margin: 10px 10px 0px 10px;background-color: #dce1ea; font-size: 15px">
                                    Local de Risco <label class="pull-right" id="labelSubstituicao" style="font-size: 11px; color:#800040">* Obs: Preencha os campos sem acentuação</label>
                                </div>
                                <div class="row" style="width: 95%; margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locCep">CEP</label><br>
                                            <input class="form-control" value="09.400-970" id="locCep" type="text" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" data-error="Valor inválido!" required="">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="form-group" style="margin: 0 0 0 0">
                                            <label class="control-label" style="padding-top: 0px"></label><br>
                                            <button id="btnPesquisar" type="button" style="padding: 0 3px 0 3px; border-radius: 3px; font-size: 13px; margin-top: 0px; margin-right: 5px;" class="btn btn-primary">Pesquisar</button>
                                            <button id="btnInformar" type="button" style="padding: 0 3px 0 3px; font-size: 13px;margin-top: 0px" class="btn btn-primary">Informar Endereço</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locRua">Rua</label><br>
                                            <input type="text" value="JOAO DOMINGUES DE OLIVEIRA 30" id="locRua" class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[_A-z 0-9]{1,}$" data-error="Valor inválido!" maxlength="100" required="">                                      <div class="help-block with-errors" style="display: inline;"></div>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locNumero">Número</label><br>
                                            <input type="text" value="34" inputmode="tel" onkeypress="return isNumberKey(event);" id="locNumero" class="form-control" maxlength="5" minlength="1" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[0-9]{1,5}$" data-error="Valor inválido!" required="">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locComplemento">Complemento</label><br>
                                            <input type="text" id="locComplemento" class="form-control" maxlength="20" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[A-z -/0-9]{1,}$" data-error="Valor inválido!">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locBairro">Bairro</label><br>
                                            <input type="text" value="CENTRO" id="locBairro" class="form-control" maxlength="30" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[A-z 0-9]{1,}$" data-error="Valor inválido!" required="">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px 10px 0px 10px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locMunicipio">Município</label><br>
                                            <input type="text" value="RIBEIRAO PIRES" id="locMunicipio" class="form-control" maxlength="30" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" pattern="^[A-z 0-9]{1,}$" data-error="Valor inválido!" required="">
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="form-group has-feedback" style="margin: -10px -5px 0px -15px;">
                                            <label class="control-label" style="padding-top: 0px" for="locUf">UF</label><br>
                                            <select class="form-control" style="width: 100%;font-size: 14px;height: 30px; margin-top: 0px; text-transform: uppercase;" id="locUf" data-error="Valor inválido!" required="">
                                                <option value="">Selecione...</option>
                                                    <option value="">Selecione...</option>
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espirito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="TO">Tocantins</option>
                                            </select>
                                            <div class="help-block with-errors" style="display: inline;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                                    <button id="submita_locrisco" type="submit" class="btn btn-primary btn-lg" title="Grava os dados do Local" style="width: 95px;" tabindex="10">Salvar</button>
                                    <button id="cancela_operacao_loc_risco" class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="11">Cancelar</button>
                                </div>                          
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ## -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $('#submita_locrisco').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"modalEdicao",
                "titulo":"Confirmação de Edição",
                "texto":"Deseja realmente salvar as informações alteradas?",
            }
            modalEnvioEmailSms.load(propsModal)
        });
        $("#cancela_operacao_loc_risco").on('click', function(event) {
            var elementoRaiz = $('.referenciaModalcard');
            event.preventDefault();
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"modalCancelarEdicao",
                "titulo":"Cancelamento de Edição",
                "texto":"Deseja realmente Cancelar a Edição deste Serviço?",
            }
            modalEnvioEmailSms.load(propsModal)
        });
        
    })


   
</script>