<style type="text/css">
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #cardPageCadastro #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
    #btnEditarInfos{
        float: right;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    .form_sac{
        display: block;
        float: left;
        height: 30px;
    }
    .agrupamento_sac{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

</style>
<div id="cardPageCadastro" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Cartão Bonus
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <ul class="nav nav-tabs lista_tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active show" id="tab_infos_pessoais" data-toggle="tab" href="box_tab_infos_pessoais" role="tab" aria-controls="tab_infos_pessoais" aria-selected="true">Adesão</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_referencias_pessoais" data-toggle="tab" href="box_tab_infos_referencias_pessoais" role="tab" aria-controls="tab_infos_referencias_pessoais" aria-selected="false">Alteração cliente </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_residenciais" data-toggle="tab" href="box_tab_infos_residenciais" role="tab" aria-controls="tab_infos_residenciais" aria-selected="false">Cancelamento </a>
                                </li>
                                 <li class="nav-item">
                                  <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_comerciais" role="tab" aria-controls="contact" aria-selected="false">Informações</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_outras" role="tab" aria-controls="contact" aria-selected="false" href="#">Reenvio de bônus </a>
                                </li>
                            </ul>
                            <div class="page-title" id="conteudo_tabs_info" style="">
                                <div id="box_tab_infos_pessoais" class="left_box_grid showTab">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Digite Nº do cartão ou CPF </li>
                                    </ul>
                                    <div id="conteudo_dinamico_conta" class="conteudo_dinamico_tabs">
                                        <div class="agrupamento_sac">
                                            <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">Nº do cartão</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 18%; margin-right: 1%" type="text">
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 80%;" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">CPF</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nome</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                                                    <button type="submit" class="btn btn-primary btn-lg" title="Grava os dados do adicional" style="width: 95px;" tabindex="12">Salvar</button>
                                                    <button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="13" onclick="javascript: confirmaCancelamentoEdicaoAdicional(); return false;">Cancelar</button>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_referencias_pessoais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Dado da Adesão Novo Cartão</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="agrupamento_sac">
                                            <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">CPF do Cliente:</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" value="747.424.189-72" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nome do Cliente</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" value="DENISE DO SOCORRO" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">E-mail</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" value="teste.teste@teste.com" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">DDD/Num Cel Amiga</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 18%; margin-right: 1%" value="11" type="text">
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 80%;" value="996931152" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row_titulo">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <h3 class="titulo">Inclusão do Telefone para Bônus</h3>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">DDD/Telefone</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 18%; margin-right: 1%" value="11" type="text">
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 80%;" value="996931152" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">Confirmação DDD/Telefone</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 18%; margin-right: 1%" value="11" type="text">
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" style="width: 80%;" value="996931152" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                                                    <button type="submit" class="btn btn-primary btn-lg" title="Grava os dados do adicional" style="width: 95px;" tabindex="12">Salvar</button>
                                                    <button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="13" onclick="javascript: confirmaCancelamentoEdicaoAdicional(); return false;">Cancelar</button>
                                                </div>

                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_residenciais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Dados da Migração para PL</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="agrupamento_sac">
                                            <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">CPF</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nome</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                                                    <button type="submit" class="btn btn-primary btn-lg" title="Grava os dados do adicional" style="width: 95px;" tabindex="12">Salvar</button>
                                                    <button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="13" onclick="javascript: confirmaCancelamentoEdicaoAdicional(); return false;">Cancelar</button>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_comerciais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Dados da Adesão Novo Cartão</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="agrupamento_sac">
                                            <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">CPF</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nome</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                            <div class="lista_sac_infos">
                                                <span class="titulo">Informações dos cartões Bônus</span>
                                                <ul>
                                                    <li class="lista_infos_header">
                                                        <span class="item_header had01">Status</span>
                                                        <span class="item_header had02">Motivo</span>
                                                        <span class="item_header had03">Data Ocorrência</span>
                                                        <span class="item_header had04">Telefone</span>
                                                        <span class="item_header had05">Valor</span>
                                                    </li>
                                                    <li class="lista_infos_conteudo">
                                                        <span class="item_conteudo con01 ">Cancelado</span>
                                                        <span class="item_conteudo con02">Restrição na operadora</span>
                                                        <span class="item_conteudo con03">17/07/2018</span>
                                                        <span class="item_conteudo con04">996437470</span>
                                                        <span class="item_conteudo con05">R$15,00</span>
                                                    </li>
                                                    <li class="lista_infos_conteudo on_color">
                                                        <span class="item_conteudo con01 ">Cancelado</span>
                                                        <span class="item_conteudo con02">Restrição na operadora</span>
                                                        <span class="item_conteudo con03">23/06/2018</span>
                                                        <span class="item_conteudo con04">996437470</span>
                                                        <span class="item_conteudo con05">R$15,00</span>
                                                    </li>
                                                    <li class="lista_infos_conteudo">
                                                        <span class="item_conteudo con01 ">Confirmado</span>
                                                        <span class="item_conteudo con02">Restrição na operadora</span>
                                                        <span class="item_conteudo con03">15/05/2018</span>
                                                        <span class="item_conteudo con04">996437470</span>
                                                        <span class="item_conteudo con05">R$15,00</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_outras" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Dado da Adesão Novo Cartão</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="agrupamento_sac">
                                            <form id="formAdicional" class="form-horizontal" data-toggle="validator" role="form">
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="cpfAdicionalForm">CPF do Cliente:</label><br>
                                                            <input class="form-control form_sac" id="cpfAdicionalForm" inputmode="tel" type="text">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Telefone p/ bônus:</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nome do Cliente:</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Operadora:</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Nº Cartão Titular:</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="nomeAdicionalForm">Data Adesão:</label><br>
                                                            <input class="form-control form_sac" id="nomeAdicionalForm" type="text" required="required">
                                                            <div class="help-block with-errors" style="display: inline;"></div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 10px 10px -10px;text-align: right;padding: 0px;">
                                                    <button type="submit" class="btn btn-primary btn-lg" title="Grava os dados do adicional" style="width: 95px;" tabindex="12">Salvar</button>
                                                    <button class="btn btn-secondary btn-lg" title="Cancela a operação" style="width: 95px;" tabindex="13" onclick="javascript: confirmaCancelamentoEdicaoAdicional(); return false;">Cancelar</button>
                                                </div> -->
                                            </form>
                                            <div class="clear"></div>
                                            <div class="lista_sac_infos">
                                                <span class="titulo">Informações dos cartões Bônus</span>
                                                <ul>
                                                    <li class="lista_infos_header">
                                                        <span class="item_header">Pedido</span>
                                                        <span class="item_header">Telefone</span>
                                                        <span class="item_header">Valor</span>
                                                        <span class="item_header">Status</span>
                                                        <span class="item_header">Data Envio</span>
                                                        <span class="item_header had06">Reenviado</span>
                                                        <span class="item_header"></span>
                                                    </li>
                                                    <li class="lista_infos_conteudo">
                                                        <span class="item_conteudo ">7887274</span>
                                                        <span class="item_conteudo ">41/996437470 </span>
                                                        <span class="item_conteudo ">R$15,00</span>
                                                        <span class="item_conteudo ">Cancelado</span>
                                                        <span class="item_conteudo ">17/07/2018</span>
                                                        <span class="item_conteudo con06">NAO</span>
                                                        <span class="item_conteudo con07"><a id="btnReenvia" href="#" class="btn_reenviar btn btn-success btn">reenviar </a></span>
                                                    </li>
                                                    <li class="lista_infos_conteudo on_color">
                                                        <span class="item_conteudo ">7791131 </span>
                                                        <span class="item_conteudo ">41/996437470 </span>
                                                        <span class="item_conteudo ">R$15,00</span>
                                                        <span class="item_conteudo ">Cancelado</span>
                                                        <span class="item_conteudo ">23/06/2018</span>
                                                        <span class="item_conteudo con06">NAO</span>
                                                        <span class="item_conteudo con07"><a id="btnReenvia" href="#" class="btn_reenviar btn btn-success btn">reenviar </a></span>
                                                    </li>
                                                    <li class="lista_infos_conteudo">
                                                        <span class="item_conteudo ">7887274</span>
                                                        <span class="item_conteudo ">41/996437470 </span>
                                                        <span class="item_conteudo ">R$15,00</span>
                                                        <span class="item_conteudo ">Confirmado</span>
                                                        <span class="item_conteudo ">15/05/2018</span>
                                                        <span class="item_conteudo con06">NAO</span>
                                                        <span class="item_conteudo con07"><a id="btnReenvia" href="#" class="btn_reenviar btn btn-success btn">reenviar </a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="nav_page_infos_cadastrais col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a id="btnEditarInfos" href="page_editar_infos_pessoais.html" data-toggle="modal" class="btn_identificacao btn btn-warning">
                                <span class="fs1" data-icon="&#xe005;"> EDITAR</span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
           
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });

    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
</script>