<style type="text/css">
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #box_faturas #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
    #btnEditarInfos{
        float: right;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    .list-group.titulo_divisor{
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 15px;}
    .list-blocos-group.lista_grid_02.grid_divisor{
        width: 100%;
    }
    .vrForm .form-control {
        width: 80%;
        float: right;
        margin-left: 8px;
    }
    .checkbox_alterar{
        float: left;
        display: block;
        position: absolute;
        top: 50px;
        right: 16px;
    }
    .nav_page_infos_financeiras{
        padding-top: 20px
    }

    .btn_page_infos{
        float: right;
        font-size: 13px;
        margin-left: 15px;
        padding: 10px 15px 10px 15px;
    }
    .destaque_protocolo{
        color: #FF0000
    }
    .form-control{
        height: 27px;
    }
.form-control.form_dif{

    margin-left: 8px;
}

.tipos_envio_protocolo.hideTiposEnvio{
    display: none;
}
#boxInfosEnvioProtocolo,
#boxInfosEnvioProtocolo02,
#boxInfosEnvioProtocolo03,
#boxInfosEnvioProtocolo04{
    display: none;
}
#boxInfosEnvioProtocolo .item_lista_titulo,
#boxInfosEnvioProtocolo02 .item_lista_titulo,
#boxInfosEnvioProtocolo03 .item_lista_titulo,
#boxInfosEnvioProtocolo04 .item_lista_titulo{
    width: 25%;
    text-align: center;
    padding-top: 4px;
}
#boxInfosEnvioProtocolo .item_lista_valor,
#boxInfosEnvioProtocolo02 .item_lista_valor,
#boxInfosEnvioProtocolo03 .item_lista_valor,
#boxInfosEnvioProtocolo04 .item_lista_valor{
    width: 65%
}
#listaLancamentos .infos_header{
     padding-left: 10px;
}
#listaLancamentos .infostxt{
    font-size: 12px;
    padding-left: 10px;
}
.content_finalizacao{
    background-color: #fff;
    padding-bottom: 20px;
}
.content_finalizacao .list-group{
    margin-bottom: 5px;
}
</style>
<div class="referenciaModalcard"></div>
<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Finalização de Chamado
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Cliente Atendido - Protocolo n°<span class="destaque_protocolo">34.456.89</span></li>
                        </ul>
                        <div id="conteudo_" class="conteudo_dinamico_tabs left_box_grid">
                            <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo">Meio de envio do protocolo</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                        <select class="form-control" id="selectModoEnvioProtocolo">
                                          <option value="">Selecione</option>
                                          <option value="telefone">telefone</option>
                                          <option value="email">e-mail</option>
                                          <option value="correio">correio</option>
                                          <option value="fax">fax</option>
                                          <option value="sms">SMS</option>
                                        </select>
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:50px">
                                    <div id="boxInfosEnvioProtocolo">
                                        <span id="envioBtn" class="tipos_envio_protocolo item_lista_titulo controle_altura_dinamico_titulo_btn">
                                            <button id="btnInseirLog" type="submit" class="btn btn-primary mb-2">Enviar</button>
                                        </span>
                                        <span id="envioFone" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="97978-4334" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioEmail" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="teste@teste.com.br" id="inputEmail4" placeholder="Nome">
                                        </span>
                                         <span id="envioCorreio" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="Rua jose almeida n°10 SP" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioFax" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioSMS" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="7978-4334" id="inputEmail4" placeholder="Nome">

                                        </span>
                                    </div>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo">Meio de notificaçao do encerramento</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                        <select class="form-control" id="selectModoEnvioProtocolo02">
                                          <option value="">Selecione</option>
                                          <option value="telefone">telefone</option>
                                          <option value="email">e-mail</option>
                                          <option value="correio">correio</option>
                                          <option value="fax">fax</option>
                                          <option value="sms">SMS</option>
                                        </select>
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:50px">
                                    <div id="boxInfosEnvioProtocolo02">
                                        <span id="envioBtn" class="tipos_envio_protocolo item_lista_titulo controle_altura_dinamico_titulo_btn">
                                            <button id="btnInseirLog" type="submit" class="btn btn-primary mb-2">Enviar</button>
                                        </span>
                                        <span id="envioFone" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="97978-4334" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioEmail" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="teste@teste.com.br" id="inputEmail4" placeholder="Nome">
                                        </span>
                                         <span id="envioCorreio" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="Rua jose almeida n°10 SP" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioFax" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioSMS" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="7978-4334" id="inputEmail4" placeholder="Nome">

                                        </span>
                                    </div>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo">Meio de envio do histórico</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                        <select class="form-control" id="selectModoEnvioProtocolo03">
                                          <option value="">Selecione</option>
                                          <option value="telefone">telefone</option>
                                          <option value="email">e-mail</option>
                                          <option value="correio">correio</option>
                                          <option value="fax">fax</option>
                                          <option value="sms">SMS</option>
                                        </select>
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:50px">
                                    <div id="boxInfosEnvioProtocolo03">
                                        <span id="envioBtn" class="tipos_envio_protocolo item_lista_titulo controle_altura_dinamico_titulo_btn">
                                            <button id="btnInseirLog" type="submit" class="btn btn-primary mb-2">Enviar</button>
                                        </span>
                                        <span id="envioFone" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="97978-4334" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioEmail" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="teste@teste.com.br" id="inputEmail4" placeholder="Nome">
                                        </span>
                                         <span id="envioCorreio" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="Rua jose almeida n°10 SP" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioFax" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioSMS" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="7978-4334" id="inputEmail4" placeholder="Nome">

                                        </span>
                                    </div>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo">Meio de envio de comprovantes de cancelamento</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                        <select class="form-control" id="selectModoEnvioProtocolo04">
                                          <option value="">Selecione</option>
                                          <option value="telefone">telefone</option>
                                          <option value="email">e-mail</option>
                                          <option value="correio">correio</option>
                                          <option value="fax">fax</option>
                                          <option value="sms">SMS</option>
                                        </select>
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:50px">
                                    <div id="boxInfosEnvioProtocolo04">
                                        <span id="envioBtn" class="tipos_envio_protocolo item_lista_titulo controle_altura_dinamico_titulo_btn">
                                            <button id="btnInseirLog" type="submit" class="btn btn-primary mb-2">Enviar</button>
                                        </span>
                                        <span id="envioFone" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="97978-4334" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioEmail" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="teste@teste.com.br" id="inputEmail4" placeholder="Nome">
                                        </span>
                                         <span id="envioCorreio" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="Rua jose almeida n°10 SP" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioFax" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif" value="" id="inputEmail4" placeholder="Nome">
                                        </span>
                                        <span id="envioSMS" class="tipos_envio_protocolo item_lista_valor controle_altura_dinamico_valor_campo">
                                            <input type="text" class="form-control form_dif col-xs-2 col-sm-2 col-md-2 col-lg-2" value="11" id="inputEmail4" placeholder="Nome">
                                            <input type="text" class="form-control form_dif col-xs-8 col-sm-8 col-md-8 col-lg-8" value="7978-4334" id="inputEmail4" placeholder="Nome">

                                        </span>
                                    </div>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo">Quantidade de rechamadas</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                        4
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div>
                            <!-- <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                    <span class="item_lista_titulo controle_altura_dinamico_titulo" style="width: 20%">E-mail</span>
                                    <span class="item_lista_valor controle_altura_dinamico_valor vrForm" style="width: 70%">
                                        <input type="text" class="form-control" value="LIVIASANDRADE14@GMAIL.COM" style="width: 95%" id="inputEmail4" placeholder="Nome">
                                    </span>
                                    <div class="lista_grupo_clear"></div>
                                </div>
                            </div> -->
                        </div>
                        
                        <div id="listaLancamentos" class="content_finalizacao left_box_grid">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">Observações</li>
                            </ul>
                            <div class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                                <div class="panel-body" style="visibility: visible;padding: 3px 0 3px 0;overflow: auto;">
                                    <form>
                                      <div class="form-group">
                                        <textarea class="textolancamentoEditar form-control" rows="5" id="campoTextoLogManual"></textarea>                               
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div id="listaLancamentos" class="content_finalizacao left_box_grid">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">Lançamentos Atendimento</li>
                            </ul>
                            <div class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                                <div class="panel-body" style="visibility: visible;padding: 3px 0 3px 0;overflow: auto;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="infos_header" scope="col">Data / Hora</th>
                                                <th class="infos_header" scope="col">Filial</th>
                                                <th class="infos_header" scope="col">Usuário</th>
                                                <th class="infos_header" scope="col">Observação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="infostxt"><a href="#"> 17/08/2018 15:41:57</a></td>
                                                <td class="infostxt">900 </td>
                                                <td class="infostxt">SANDRA MARIA BOMBARDI </td>
                                                <td class="infostxt">SEGURO MARISA ODONTO PLUS VENDIDO NESTA DATA </td>
                                            </tr>
                                            <tr>
                                                <td class="infostxt"><a href="#">17/08/2018 15:41:57</a></td>
                                                <td class="infostxt">900 </td>
                                                <td class="infostxt">CCM - ADMINISTRADOR</td>
                                                <td class="infostxt">PAGTO DE FATURA VIA BOLETO NOSSO N: 2000282470302 VLR R$ 172,09 CED...</td>
                                            </tr>
                                            <tr>
                                                <td class="infostxt"><a href="#">17/08/2018 15:41:57</a></td>
                                                <td class="infostxt">900 </td>
                                                <td class="infostxt">CCM - ADMINISTRADOR</td>
                                                <td class="infostxt">PROTOCOLO #107334024 - dados ok// cli sol inf de parc de fat ciente...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="nav_page_infos_cadastrais col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a id="btnFinalizar" href="#" data-toggle="modal" class="btn_page_infos btn btn-danger">
                                <span class="fs1" data-icon="&#xe0fd;"> FINALIZAR</span>
                            </a>
                            <a id="btnProtocoloAberto" href="#" data-toggle="modal" class="btn_page_infos  btn btn-success">
                                <span class="fs1" data-icon="&#xe0ff;"> MANTER PROTOCOLO EM ABERTO</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('.card_acordeon').on('click', function(event) {
            event.preventDefault();
            var target = $(this).closest('.card').attr('data-id');
            console.log('Olha o target',target)
            $('#'+target).find('collapse').toggleClass('show');
             // ativarCard($(this));
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });
        // 
        $('#btnProtocoloAberto').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "modalcard":false,
                "modalpage":true,
                "titulo":"Confirmação de Finalização de Chamado",
                "texto":"Deseja manter Protocolo em Aberto?"
            }
            modalEnvioEmailSms.load(propsModal)
        });
        // 
        $('#btnFinalizar').on('click', function(event) {
            event.preventDefault();
            var elementoRaiz = $('.referenciaModalcard');
            var propsModal = {
                "elementoRaiz":elementoRaiz,
                "tipoModal":"acaodupla",
                "modalcard":false,
                "modalpage":true,
                "titulo":"Confirmação de Finalização de Chamado",
                "texto":"Deseja realmente Finalizar este chamado?"
            }
            modalEnvioEmailSms.load(propsModal)
        });



        // 
        $("#selectModoEnvioProtocolo").on("change", function(e) { 
                var modEnvio = $(this).val();
                $('#boxInfosEnvioProtocolo .tipos_envio_protocolo').addClass('hideTiposEnvio')
                console.log('Modo de envio!!', modEnvio)
                switch (modEnvio) {
                    case 'telefone':
                        $('#boxInfosEnvioProtocolo').show();
                        $('#boxInfosEnvioProtocolo #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo #envioFone').removeClass('hideTiposEnvio');
                        break;
                    case 'fax':
                        $('#boxInfosEnvioProtocolo').show();
                        $('#boxInfosEnvioProtocolo #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo #envioFax').removeClass('hideTiposEnvio');
                        break;
                    case 'email':
                        $('#boxInfosEnvioProtocolo').show();
                        $('#boxInfosEnvioProtocolo #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo #envioEmail').removeClass('hideTiposEnvio');
                        break;
                    case 'correio':
                        $('#boxInfosEnvioProtocolo').show();
                        $('#boxInfosEnvioProtocolo #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo #envioCorreio').removeClass('hideTiposEnvio');
                        break;
                    case 'sms':
                        $('#boxInfosEnvioProtocolo').show();
                        $('#boxInfosEnvioProtocolo #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo #envioSMS').removeClass('hideTiposEnvio');
                        break;
                    default:
                        $('#boxInfosEnvioProtocolo').hide();

                        break;
                }
                if(modEnvio != ''){
                    $('#boxInfosEnvioProtocolo').show();
                }
                
        });
        $("#selectModoEnvioProtocolo02").on("change", function(e) { 
                var modEnvio = $(this).val();
                $('#boxInfosEnvioProtocolo02 .tipos_envio_protocolo').addClass('hideTiposEnvio')
                console.log('Modo de envio!!', modEnvio)
                switch (modEnvio) {
                    case 'telefone':
                        $('#boxInfosEnvioProtocolo02').show();
                        $('#boxInfosEnvioProtocolo02 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo02 #envioFone').removeClass('hideTiposEnvio');
                        break;
                    case 'fax':
                        $('#boxInfosEnvioProtocolo02').show();
                        $('#boxInfosEnvioProtocolo02 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo02 #envioFax').removeClass('hideTiposEnvio');
                        break;
                    case 'email':
                        $('#boxInfosEnvioProtocolo02').show();
                        $('#boxInfosEnvioProtocolo02 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo02 #envioEmail').removeClass('hideTiposEnvio');
                        break;
                    case 'correio':
                        $('#boxInfosEnvioProtocolo02').show();
                        $('#boxInfosEnvioProtocolo02 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo02 #envioCorreio').removeClass('hideTiposEnvio');
                        break;
                    case 'sms':
                        $('#boxInfosEnvioProtocolo02').show();
                        $('#boxInfosEnvioProtocolo02 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo02 #envioSMS').removeClass('hideTiposEnvio');
                        break;
                    default:
                        $('#boxInfosEnvioProtocolo02').hide();

                        break;
                }
                if(modEnvio != ''){
                    $('#boxInfosEnvioProtocolo02').show();
                }
                
        });
        $("#selectModoEnvioProtocolo03").on("change", function(e) { 
                var modEnvio = $(this).val();
                $('#boxInfosEnvioProtocolo03 .tipos_envio_protocolo').addClass('hideTiposEnvio')
                console.log('Modo de envio!!', modEnvio)
                switch (modEnvio) {
                    case 'telefone':
                        $('#boxInfosEnvioProtocolo03').show();
                        $('#boxInfosEnvioProtocolo03 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo03 #envioFone').removeClass('hideTiposEnvio');
                        break;
                    case 'fax':
                        $('#boxInfosEnvioProtocolo03').show();
                        $('#boxInfosEnvioProtocolo03 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo03 #envioFax').removeClass('hideTiposEnvio');
                        break;
                    case 'email':
                        $('#boxInfosEnvioProtocolo03').show();
                        $('#boxInfosEnvioProtocolo03 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo03 #envioEmail').removeClass('hideTiposEnvio');
                        break;
                    case 'correio':
                        $('#boxInfosEnvioProtocolo03').show();
                        $('#boxInfosEnvioProtocolo03 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo03 #envioCorreio').removeClass('hideTiposEnvio');
                        break;
                    case 'sms':
                        $('#boxInfosEnvioProtocolo03').show();
                        $('#boxInfosEnvioProtocolo03 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo03 #envioSMS').removeClass('hideTiposEnvio');
                        break;
                    default:
                        $('#boxInfosEnvioProtocolo03').hide();

                        break;
                }
                if(modEnvio != ''){
                    $('#boxInfosEnvioProtocolo03').show();
                }
                
        });
        $("#selectModoEnvioProtocolo04").on("change", function(e) { 
                var modEnvio = $(this).val();
                $('#boxInfosEnvioProtocolo04 .tipos_envio_protocolo').addClass('hideTiposEnvio')
                console.log('Modo de envio!!', modEnvio)
                switch (modEnvio) {
                    case 'telefone':
                        $('#boxInfosEnvioProtocolo04').show();
                        $('#boxInfosEnvioProtocolo04 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo04 #envioFone').removeClass('hideTiposEnvio');
                        break;
                    case 'fax':
                        $('#boxInfosEnvioProtocolo04').show();
                        $('#boxInfosEnvioProtocolo04 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo04 #envioFax').removeClass('hideTiposEnvio');
                        break;
                    case 'email':
                        $('#boxInfosEnvioProtocolo04').show();
                        $('#boxInfosEnvioProtocolo04 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo04 #envioEmail').removeClass('hideTiposEnvio');
                        break;
                    case 'correio':
                        $('#boxInfosEnvioProtocolo04').show();
                        $('#boxInfosEnvioProtocolo04 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo04 #envioCorreio').removeClass('hideTiposEnvio');
                        break;
                    case 'sms':
                        $('#boxInfosEnvioProtocolo04').show();
                        $('#boxInfosEnvioProtocolo04 #envioBtn').removeClass('hideTiposEnvio');
                        $('#boxInfosEnvioProtocolo04 #envioSMS').removeClass('hideTiposEnvio');
                        break;
                    default:
                        $('#boxInfosEnvioProtocolo04').hide();

                        break;
                }
                if(modEnvio != ''){
                    $('#boxInfosEnvioProtocolo04').show();
                }
                
        })
        
    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
</script>