<style type="text/css">
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #cardPageCadastro #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
   /*  #cardPageCadastro .item_lista_titulo.vrForm{
        width: 30%;
    }
    #cardPageCadastro .item_lista_valor.vrForm{
        width: 55%;
    } */
    #cardPageCadastro .form-control{
        height: 32px;
        font-size: 14px;
    }

     .btn_page_infos{
        float: right;
        font-size: 15px;
        margin-left: 15px;
        padding: 10px 20px 10px 20px;
    }
</style>
<div id="cardPageCadastro" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Editar Informações Cadastrais
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <ul class="nav nav-tabs lista_tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active show" id="tab_infos_pessoais" data-toggle="tab" href="box_tab_infos_pessoais" role="tab" aria-controls="tab_infos_pessoais" aria-selected="true">Pessoais</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_referencias_pessoais" data-toggle="tab" href="box_tab_infos_referencias_pessoais" role="tab" aria-controls="tab_infos_referencias_pessoais" aria-selected="false">Referênciais </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_residenciais" data-toggle="tab" href="box_tab_infos_residenciais" role="tab" aria-controls="tab_infos_residenciais" aria-selected="false">Residenciais </a>
                                </li>
                                 <li class="nav-item">
                                  <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_comerciais" role="tab" aria-controls="contact" aria-selected="false">Comerciais </a>
                                </li>
                                <li>
                                    <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_outras" role="tab" aria-controls="contact" aria-selected="false" href="#">Outras </a>
                                </li>
                            </ul>
                            <div class="page-title" id="conteudo_tabs_info" style="">
                                <div id="box_tab_infos_pessoais" class="left_box_grid showTab">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Informações Pessoais</li>
                                    </ul>
                                    <div id="conteudo_dinamico_conta" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo vrForm">Nome</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="MARIA INES DA SILVA" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Titularidade</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">TITULAR - CAMPANHA DE DESCONTO 20% INATIVOS</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">CPF</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">003.355.855-82</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Situação Conta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">CONTA ATIVA NORMAL</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">No Cartão</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">6034.7520.1361.9038</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Situação Cartão / Desde</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">CARTAO ATIVO  -  11/09/2017</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo vrForm">RG</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="34556787 8" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo vrForm">Emissor</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="SP" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo vrForm">UF</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="SÂO PAULO" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data Nascimento / Idade</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="14/01/1979" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Sexo</span>
                                                
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>FEMININO</option>
                                                      <option>MASCULINO</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Estado Civil:</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>CASADA</option>
                                                      <option>SOLTEIRA</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Nome Mãe</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="TEREZINHA DOS SANTOS ANDRADE" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Nome do Pai</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">EDIVALDO ANDRADE SANTOS</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="EDIVALDO ANDRADE SANTOS" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Dependentes</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="2" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">e-mail</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="LIVIASANDRADE14@GMAIL.COM" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_referencias_pessoais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Informações Referênciais Pessoais</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo tituloColunaRef">Referência 01</span>
                                                <!-- <span class="item_lista_valor controle_altura_dinamico_valor"></span> -->
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo tituloColunaRef">Referência 02</span>
                                                <!-- <span class="item_lista_valor controle_altura_dinamico_valor"></span> -->
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Apelido</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="----" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Apelido</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="----" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Nome</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="Jose arimateia" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Nome</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="----" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone - Fixo</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="11 4456-7887 " id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone - Fixo</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="11 4456-7887 " id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone - Celular</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="11 4456-7887 " id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone - Celular</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="text" class="form-control" value="11 4456-7887 " id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Grau de Parentesco</span>
                                                 <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>OUTROS</option>
                                                      <option>PAI</option>
                                                      <option>MAE</option>
                                                      <option>AMIGO</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Grau de Parentesco</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>OUTROS</option>
                                                      <option>PAI</option>
                                                      <option>MAE</option>
                                                      <option>AMIGO</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_residenciais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Informações Residenciais</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">CEP</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="08540-210" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Logradouro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R ANDERSON DE MOURA </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Número/Complemento</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" style="width: 29%;float: left" value="232" id="inputEmail4" placeholder="Nome">
                                                    <input type="email" class="form-control" style="width: 58%;float: right;" value="APTO 123 A" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Bairro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">JD SOEIRO </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Cidade</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">FERRAZ DE VASCONCELO </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">UF</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">SP</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Reside Desde</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="01/10/2013" id="inputEmail4" placeholder="Nome">
                                                </span>

                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Tipo Residência</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Alugada</option>
                                                      <option>Propria</option>
                                                      <option>Parentes</option>
                                                      <option>Outros</option>
                                                      <option>Pensão</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo" style="width: 30%;">DDD/Telefone</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm" style="width: 70%;">
                                                    <div class="box_radio" style="width: 28%; float: left; margin-left: 25px; margin-top: -10px">
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio" checked>Celular</label>
                                                        </div>
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio">Fixo</label>
                                                        </div>
                                                    </div>
                                                    <input type="email" class="form-control" style="width: 10%;float: left; padding-right: 3px; padding-left: 3px" value="11" id="inputEmail4" placeholder="Nome">
                                                    <input type="email" class="form-control" style="width: 45%;float: right; margin-left: 0px" value="97345-7887" id="inputEmail4" placeholder="Nome">
                                                </span>
                                                
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Tipo Telefone</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>TELEFONE PROPRIO</option>
                                                      <option>Não tem telefone</option>
                                                      <option>Alugado</option>
                                                      <option>Para Recado</option>
                                                      <option>Somente Celular</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone Celular </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                   
                                                    <input type="email" class="form-control" style="width: 20%;float: left; padding-right: 3px; padding-left: 3px" value="11" id="inputEmail4" placeholder="Nome">
                                                    <input type="email" class="form-control" style="width: 70%;float: right; margin-left: 0px" value="97345-7887" id="inputEmail4" placeholder="Nome">

                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">DDD/Telefone Celular 2 </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" style="width: 20%;float: left; padding-right: 3px; padding-left: 3px" value="" id="inputEmail4" >
                                                    <input type="email" class="form-control" style="width: 70%;float: right; margin-left: 0px" value="" id="inputEmail4" >
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02" style="width: 99.5%;"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Recado</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_comerciais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Informações Comerciais </li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Empresa</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="EM CASA" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Depto</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="CONFETEIRA" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Cargo</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>COZINHEIRO (A)</option>
                                                      <option>Musico</option>
                                                      <option>Professor</option>
                                                      <option>Carteiro</option>
                                                      <option>Costureira</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Class. Profissional</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>AUTONOMOS</option>
                                                      <option>Musico</option>
                                                      <option>Professor</option>
                                                      <option>Carteiro</option>
                                                      <option>Costureira</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data Admissão</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">CEP</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="08540-210" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Logradouro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R ANDERSON DE MOURA</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Número/Complemento</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" style="width: 20%;float: left; padding-right: 3px; padding-left: 3px" value="231" id="inputEmail4" >
                                                    <input type="email" class="form-control" style="width: 70%;float: right; margin-left: 0px" value="" id="inputEmail4" >
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Bairro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">JD SOEIRO </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Cidade</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">FERRAZ DE VASCONCELO -  SP </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo" style="width: 30%;">DDD/Telefone</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm" style="width: 70%;">
                                                    <div class="box_radio" style="width: 28%; float: left; margin-left: 25px; margin-top: -10px">
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio" checked>Celular</label>
                                                        </div>
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio">Fixo</label>
                                                        </div>
                                                    </div>
                                                    <input type="email" class="form-control" style="width: 10%;float: left; padding-right: 3px; padding-left: 3px" value="11" id="inputEmail4" placeholder="Nome">
                                                    <input type="email" class="form-control" style="width: 45%;float: right; margin-left: 0px" value="97345-7887" id="inputEmail4" placeholder="Nome">
                                                </span>            
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Ramal</span>
                                                
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Renda Pessoal</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="R$ 1.500,00" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Outras Rendas</span>
                                                 <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>

                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Renda Conjuge</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>NÂO</option>
                                                      <option>Sim</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Origem Renda</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_outras" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Outras Informações</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Vencimento</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">16</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Melhor Dia para Compra</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor"><strong>5</strong></span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Banco</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Selecione</option>
                                                      <option>Banco Real</option>
                                                      <option>Banco Itau</option>
                                                      <option>banco bradesco</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Crediário Outra Loja</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>SIM</option>
                                                      <option>Não tem outros crediarios</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Cliente Empresário</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Não</option>
                                                      <option>Sim</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Loja Onde Possui Crediário</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Selecione</option>
                                                      <option>Renner</option>
                                                      <option>C.Bahia</option>
                                                      <option>M.Luiza</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">CNPJ</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data Abertura Empresa</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Endereço Correspondência</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm"> 
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Residencial</option>
                                                      <option>Comercial</option>
                                                    </select>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Carência Proposta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <input type="email" class="form-control" value="01/12/2014" id="inputEmail4">
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Deseja receber saldo via SMS</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <label class="checkbox-inline"><input type="checkbox" value="">Sim</label>
                                                    <label class="checkbox-inline"><input type="checkbox" value="">Não</label>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Cobrar Tarifa de Overlimit?</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <div class="box_radio" style="width: 70%; float: left; margin-left: 25px; margin-top: -10px">
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio" checked>Sim</label>
                                                        </div>
                                                        <div class="radio" style="width: 100%; float: left; text-align: left;">
                                                            <label><input type="radio" name="optradio">Não</label>
                                                        </div>
                                                    </div>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Enviar declaração de quitação de débitos</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor vrForm">
                                                    <label class="checkbox-inline"><input type="checkbox" value="">Sim</label>
                                                    <label class="checkbox-inline"><input type="checkbox" value="">Não</label>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Email cadastrado</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">LIVIASANDRADE14@GMAIL.COM </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02" style="width: 100%"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo" style="width: 45%">
                                                    Deseja receber fatura via email
                                                    <label class="checkbox-inline" style="margin-left: 20px"><input type="checkbox" value="">Sim</label>
                                                </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor" style="width: 55%">
                                                    
                                                    <span style="font-weight: bold; color:red;font-size: 16px;">Cliente optou em NÃO receber a fatura por email em: 11/09/2017 12:49 </span>
                                                </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav_page_infos_cadastrais col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a id="btnCancelar" href="page_infos_cadastrais.html" data-toggle="modal" class="btn_page_infos btn btn-danger">
                                <span class="fs1" data-icon="&#xe0fd;"> CANCELAR</span>
                            </a>
                            <a id="btnSalvarInfos" href="page_editar_infos_pessoais.html" data-toggle="modal" class="btn_page_infos  btn btn-success">
                                <span class="fs1" data-icon="&#xe0ff;"> SALVAR</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('#btnCancelar').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });

    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
</script>