<style type="text/css">
    .Titulo_form{
        display: inline-block;
        width: 100%;
        background-color: #fff;
        margin: 0 0 10px 0;
        padding: 5px 0 5px 10px;
        font-size: 18px;
    }
    #cardPageCadastro #accordion .panel-body:before{
        display: none
    }
    .lista_infos_item .grupo_infos{
        width: 45%;
        float: left;
        display: block;

    }
    #conteudo_tabs_info{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #conteudo_tabs_info .left_box_grid{
        display: none;
    }
    #conteudo_tabs_info .left_box_grid.showTab{
        display: block;
    }
    .controle_altura_dinamico_titulo.tituloColunaRef{
        left: 50%;
        margin-left: -42px;
    }
    #btnEditarInfos{
        float: right;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    .list-group.titulo_divisor{
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 15px;}
    .list-blocos-group.lista_grid_02.grid_divisor{
        width: 100%;
    }
    .vrForm .form-control {
        width: 80%;
        float: right;
        margin-left: 8px;
    }
    .checkbox_alterar{
        float: left;
        display: block;
        position: absolute;
        top: 50px;
        right: 16px;
    }
    .nav_page_infos_financeiras{
        padding-top: 20px
    }
    .titulo-divisor{
        display: block;
        float: left;
        width: 100%;
        margin: 5px 0 5px 0;
    }
    .titulo-divisor .list-group-item-info{
        display: block
    }
    #cardPageCadastro .nav.lista_tabs .nav-item .nav-link{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
    #cardPageCadastro .box_lista_parcelas .lista_parcela .item_lista_parcela.header_lista{
        font-size: 11px;
        background-color: #71869c;
        text-align: left;
    }
    #cardPageCadastro .lista_pagamentos_efetivados .lista_parcela{
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 0px;
    }
    #cardPageCadastro .lista_pagamentos_efetivados .lista_parcela .item_lista_parcela{
        font-size: 10px;
        text-align: left;
    }
    #tl_lancamentosFuturos_wrapper .row{width: 100%}
    #tl_lancamentosFuturos_wrapper .tr_soma{
        background-color: #f5e0e0;
        color: #666;
        font-weight: bold
    }
    #tl_lancamentosFuturos_wrapper .tr_total_soma{
        background-color: #c3bcbc;
        color: #fff;
        font-weight: bold
    }
    
    .somaTabela{
        width: 100%;
        float: left;
        background-color: #40acd6;
    }
    .somaTabela .somabox{
        display: inline-block;
        float: left;
        padding: 0px 10px 0 2px;
        color: #ffffff;
        font-weight: bold
    }
    .tabela_titulo{font-size: 11px;}
    .somaTabela .soma_titulo{ width: 100px }
    .somaTabela .soma_data{width: 100px}
    .somaTabela .soma_valor{width: 100px; float: right;}

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {padding-right: 0px;}
    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child{padding-left: 0px;}
    

    @media screen and (max-width: 1080px) {
      .table td{font-size: 10px;} 
      .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            font-size: 10px;
            font-weight: normal;
        } 
    }
    
</style>
<div id="cardPageCadastro" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Informações Finaceiras
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <ul class="nav nav-tabs lista_tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active show" id="tab_infos_pessoais" data-toggle="tab" href="box_tab_infos_pessoais" role="tab" aria-controls="tab_infos_pessoais" aria-selected="true">Conta</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_referencias_pessoais" data-toggle="tab" href="box_tab_infos_referencias_pessoais" role="tab" aria-controls="tab_infos_referencias_pessoais" aria-selected="false">Saldo </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tab_infos_residenciais" data-toggle="tab" href="box_tab_infos_residenciais" role="tab" aria-controls="tab_infos_residenciais" aria-selected="false">Futuros </a>
                                </li>
                                 <li class="nav-item">
                                  <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_comerciais" role="tab" aria-controls="contact" aria-selected="false">Antecipação Parcelado </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="inadimplencia_tab" data-toggle="tab" href="box_tab_infos_outras" role="tab" aria-controls="contact" aria-selected="false" href="#">Parcelamento de Faturas / Saldo Total </a>
                                </li>
                            </ul>
                            <div class="page-title" id="conteudo_tabs_info" style="">
                                <div id="box_tab_infos_pessoais" class="left_box_grid showTab">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Informações Conta</li>
                                    </ul>
                                    <div id="conteudo_dinamico_conta" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Status da conta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">CONTA ATIVA NORMAL</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Status anterior da conta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">CONTA BLOQUEADA INADIMPLENCIA</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Status da conta SAX </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">----</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite compra</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$650,00 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite compra disponível</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$168,19 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite saque</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$00,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite saque disponível</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$00,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Celular</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$1.400,00 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Celular disponível</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$1.400,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite de compra anterior</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$500,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Última alteração limite de compra</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">09/03/2016 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Quantidade cartões ativos</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">1</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Dia vencimento alterado (nºvezes)</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">0</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data última transação pagamento</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">13/07/2018 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data última transação monetária</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">19/07/2018 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Pontos fidelização</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">0</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Categoria</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">3</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="nav_page_infos_financeiras col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <a id="btnEditarInfos" href="page_editar_infos_pessoais.html" data-toggle="modal" class="btn_identificacao btn btn-warning">
                                                <span class="fs1" data-icon="&#xe005;"> SOLICITAR</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                                <div id="box_tab_infos_referencias_pessoais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Posição dos Saldos</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor até a data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 269,37 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor total</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 836,46</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Pgtos efetuados até data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor futuro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 567,09 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Compras próx fat até data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Adesão serviços no pdv</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Pagto pendente até data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Serviços p/ próxima fatura  </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Compra pendente até data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Pagamento de acordo</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <ul class="titulo-divisor">
                                            <li class="list-group-item list-group-item-info">Fatura Atual</li>
                                        </ul>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">A Faturar </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor mínimo Fatura atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor fatura atual </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor dos serviços</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 11,02</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor fatura anterior  </span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor dos créditos</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data do Vencimento Fatura Atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">00/00/0000</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor dos encargos</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <ul class="titulo-divisor">
                                            <li class="list-group-item list-group-item-info">Posição de Saldos Consolidados - Limite PL</li>
                                        </ul>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor total até a data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 269,37 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor geral</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 836,46 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Pgtos total até a data atual</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo devedor futuro total</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 567,09 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_residenciais" class="left_box_grid">
                                    <ul class="list-group" style="margin-bottom: 5px;">
                                        <li class="list-group-item list-group-item-info">Informações Futuras</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="box_lista_parcelas lista_pagamentos_efetivados">
                                            <div class="table-responsive">
                                              <table id="tl_lancamentosFuturos" class="table table-striped display" style="width:100%">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col" class="tabela_titulo">Vencimento</th>
                                                      <th scope="col" class="tabela_titulo">Descrição</th>
                                                      <th scope="col" class="tabela_titulo">Data/Hora</th>
                                                      <th scope="col" class="tabela_titulo">Parcelas</th>
                                                      <th scope="col" class="tabela_titulo">Vl Comp/Fatura</th>
                                                      <th scope="col" class="tabela_titulo">Vl Comp Tranq</th>
                                                      <th scope="col" class="tabela_titulo">Vl Parcela</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>01/08/2017</td>
                                                      <td>PARC 8X C/JUROS C/SEGURO </td>
                                                      <td>21/05/2017 16:49</td>
                                                      <td>8/8</td>
                                                      <td>R$ 315,44</td>
                                                      <td>R$ 3,98</td>
                                                      <td>R$ 39,43</td>
                                                    </tr>
                                                    <tr>
                                                      <td>01/08/2017</td>
                                                      <td>PARC 8X C/JUROS C/SEGURO </td>
                                                      <td>21/05/2017 16:49</td>
                                                      <td>8/8</td>
                                                      <td>R$ 315,44</td>
                                                      <td>R$ 3,98</td>
                                                      <td>R$ 39,43</td>
                                                    </tr>
                                                    <tr class="tr_soma">
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma">R$ 315,44</td>
                                                      <td class="td_soma">R$ 3,98</td>
                                                      <td class="td_soma">R$ 39,43</td>
                                                    </tr>
                                                    <tr class="tr_soma tr_total_soma">
                                                      <td class="td_soma">Total em</td>
                                                      <td class="td_soma">10/03/2018</td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma">R$ 43,41</td>
                                                    </tr>
                                                    
                                                    <tr class="tr_soma">
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma">R$ 00,00</td>
                                                      <td class="td_soma">R$ 43,41</td>
                                                      <td class="td_soma">R$ 43,41</td>
                                                    </tr>
                                                    <tr class="tr_soma tr_total_soma">
                                                      <td class="td_soma">Total Geral</td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma"></td>
                                                      <td class="td_soma">R$ 43,41</td>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                            </div>
                                            <div class="clear" style="clear: both"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="box_tab_infos_comerciais" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Simulação de Antecipação</li>
                                    </ul>
                                    
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="table-responsive">
                                          <table id="tl_simulacao_antecipacao" class="table table-striped display" style="width:100%">
                                              <thead>
                                                <tr>
                                                  <th scope="col">No Transação/Saque</th>
                                                  <th scope="col">Juros</th>
                                                  <th scope="col">Data/Hora</th>
                                                  <th scope="col">Valor</th>
                                                  <th scope="col">Em aberto</th>
                                                  <th scope="col">Saldo aberto</th>
                                                  <th scope="col">Valor c/ desconto</th>
                                                  <th scope="col">Valor a antecipar</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>3333</td>
                                                  <td>3%</td>
                                                  <td>21/05/2017 16:49</td>
                                                  <td>R$ 315,44</td>
                                                  <td>3</td>
                                                  <td>R$ 3,98</td>
                                                  <td>R$ 39,43</td>
                                                  <td>R$ 39,43</td>
                                                </tr>
                                                <tr>
                                                  <td>3333</td>
                                                  <td>3%</td>
                                                  <td>21/05/2017 16:49</td>
                                                  <td>R$ 315,44</td>
                                                  <td>3</td>
                                                  <td>R$ 3,98</td>
                                                  <td>R$ 39,43</td>
                                                  <td>R$ 39,43</td>
                                                </tr>
                                              </tbody>
                                          </table>
                                        </div>
                                        <div class="clear" style="clear: both"></div>
                                    </div>
                                    

                                </div>
                                <div id="box_tab_infos_outras" class="left_box_grid">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Saldo</li>
                                    </ul>
                                    <div id="conteudo_" class="conteudo_dinamico_tabs">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data geração Oferta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">12/05/2018</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Dias Atraso</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">0</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor Financiado</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 333,33</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Sequência Parâmetro</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">----</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Vencimento Fatura</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">----</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Número Fatura</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">----</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor Total da Fatura</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 99,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Valor Mínimo</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 10,00 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        
        var table = $('#tl_lancamentosFuturos').DataTable({
            "paging":   false,
            "ordering": false,
            "searching": false,
            "responsive": false,
             "info":     false,
             "responsive": {
                "details": true
            }
        });
       table.draw();

       // var tableSimilacao = $('#tl_simulacao_antecipacao').DataTable({
       //      "paging":   false,
       //      "ordering": false,
       //      "searching": false,
       //      "responsive": false,
       //       "info":     false,
       //       "responsive": {
       //          "details": true
       //      }
       //  });
       // tableSimilacao.draw();


        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
           
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });

    })
    // function esconderColuna(){
    //     var column = tabelaLancamentosFuturos.column();
    //     // Toggle the visibility
    //     column.visible( ! column.visible("Data/Hora") );
    // }
    function hideTab(){
        $('.left_box_grid').hide()
    }

    
</script>