
<div id="box_faturas" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Pagamentos Efetivados
                        </a>
                    </h4>
                </div>
                <!-- ###### -->
                <div id="collapsecard.id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;overflow: auto;">
                        <div class="page-title clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs_infos" style="margin-bottom: 0px">
                            <div class="page-title" id="conteudo_tabs_info" style="">
                                <div id="box_tab_infos_pessoais" class="left_box_grid showTab">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Dados do Cliente</li>
                                    </ul>
                                    <div id="conteudo_dinamico_conta" class="conteudo_dinamico_tabs" style="padding-bottom: 1px">
                                        <div class="Index_elemento_1 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Data da última fatura</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">02/05/2018 </span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_2 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Dia de Corte</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">21</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_3 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite de Compra</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 792,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_4 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo Disponível (compra)</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 46,68</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_5 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Venda Direta</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_6 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Saldo Disponível (Venda Direta)</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_7 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Saque</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_8 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Saque Disponível</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 0,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_9 list-blocos-group lista_grid_02 margin_controle "> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Celular</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 1.800,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                        <div class="Index_elemento_10 list-blocos-group lista_grid_02"> 
                                            <div class="alt_din list-group-item list-group-item-primary" style="height:60px">
                                                <span class="item_lista_titulo controle_altura_dinamico_titulo">Limite Celular Disponível</span>
                                                <span class="item_lista_valor controle_altura_dinamico_valor">R$ 1.800,00</span>
                                                <div class="lista_grupo_clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div id="nav_filtro_pagamentos">
                        <span class="titulo_filtro">Periodo</span>
                        <span class="texto_filtro">De</span>
                        <span class="item_form_filtro">
                            <input type="email" class="form-control" value="14/01/1979" id="inputEmail4" placeholder="Nome">
                        </span>
                        <span class="texto_filtro">a</span>
                        <span class="item_form_filtro">
                            <input type="email" class="form-control" value="14/01/1979" id="inputEmail4" placeholder="Nome">
                        </span>
                        <span class="item_nav_filtro">
                            <button id="btnInseirLog" type="submit" class="btn_form_filtro btn btn-primary mb-2">Pesquisa</button>
                            <button id="btnInseirLog" type="submit" class="btn_form_filtro btn btn-primary mb-2">Histórico</button>
                        </span>
                    </div>
                    
                    <div id="conteudoPagamentosEfetivados">
                        <div class="box_lista_parcelas lista_pagamentos_efetivados">
                            <span id="headerlista_pagamentos" class="lista_parcela">
                                Pagamentos Efetivados 
                            </span>
                            <ul class="lista_parcela">
                                <li class="item_lista_parcela header_lista" style="width: 12%">Transação</li>
                                <li class="item_lista_parcela header_lista" style="width: 16%">Processamento</li>
                                <li class="item_lista_parcela header_lista" style="width: 26%">Produto</li>
                                <li class="item_lista_parcela header_lista" style="width: 10%">Valor</li>
                                <li class="item_lista_parcela header_lista" style="width: 6%">Filial</li>
                                <li class="item_lista_parcela header_lista" style="width: 29%">Status</li>
                            </ul>
                            <ul class="lista_parcela">
                                <li class="item_lista_parcela on_color" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela on_color" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela on_color" style="width: 30%">301 - Recebimento de fatura</li>
                                <li class="item_lista_parcela on_color" style="width: 10%">R$ 99,10</li>
                                <li class="item_lista_parcela on_color" style="width: 6%">064</li>
                                <li class="item_lista_parcela on_color" style="width: 29%">06 - Pagamento Processado</li>
                            </ul>
                            <ul class="lista_parcela">
                                <li class="item_lista_parcela" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela" style="width: 30%">301 - Recebimento de fatura</li>
                                <li class="item_lista_parcela" style="width: 10%">R$ 99,10</li>
                                <li class="item_lista_parcela" style="width: 6%">064</li>
                                <li class="item_lista_parcela" style="width: 29%">06 - Pagamento Processado</li>
                            </ul>
                            <ul class="lista_parcela">
                                <li class="item_lista_parcela on_color" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela on_color" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela on_color" style="width: 30%">301 - Recebimento de fatura</li>
                                <li class="item_lista_parcela on_color" style="width: 10%">R$ 99,10</li>
                                <li class="item_lista_parcela on_color" style="width: 6%">064</li>
                                <li class="item_lista_parcela on_color" style="width: 29%">06 - Pagamento Processado</li>
                            </ul>
                            <ul class="lista_parcela">
                                <li class="item_lista_parcela" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela" style="width: 12%">01/08/2017</li>
                                <li class="item_lista_parcela" style="width: 30%">301 - Recebimento de fatura</li>
                                <li class="item_lista_parcela" style="width: 10%">R$ 99,10</li>
                                <li class="item_lista_parcela" style="width: 6%">064</li>
                                <li class="item_lista_parcela" style="width: 29%">06 - Pagamento Processado</li>
                            </ul>
                            
                            <div class="clear" style="clear: both"></div>
                        </div>
                    </div>
                </div>
                <!-- ###### -->
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.left_box_grid.showTab').show();
        $('.tabs_infos').on('click', '.nav-link', function(event) {
            event.preventDefault();
            var tabAtiva =  $(this).attr('href');
            hideTab();
            $('#'+tabAtiva).show();
        });
        // 
        $('.card_acordeon').on('click', function(event) {
            event.preventDefault();
            var target = $(this).closest('.card').attr('data-id');
            console.log('Olha o target',target)
            $('#'+target).find('collapse').toggleClass('show');
             // ativarCard($(this));
        });
        // 
        $('#btnEditarInfos').on('click', function(event) {
            event.preventDefault();
            var targetPage = $(this).attr('href');
           
            ClearApp.clear('#panelDashboard')
            renderPages.render(targetPage); 
          
        });

    })
    function hideTab(){
        $('.left_box_grid').hide()
    }
</script>