<div id="card_page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card menu" id="menucard.id" style="margin: 0px;border: 5px solid #fbfaf6;max-width: 100%;">
        <div class="panel-group" id="accordion" role="tablist aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading card.id + "">
                    <h4 class="panel-title">
                        <a class="collapsed" id="menuCollapsecard.id" role="button" style="padding-right: 5px;color: #75104c;" data-toggle="" data-parent="#accordion" aria-expanded="true aria-controls="collapsecard.id"> 
                            <span class="glyphicon glyphicon-thumbs-up" style="left: -30px;"></span>
                            Serviços Contratados
                        </a>
                    </h4>
                </div>
                <div id="collapsecard.id" class="panel-collapse collapse show" style="height: 200px;" role="tabpanel" aria-labelledby="headingcard.id">
                    <div class="panel-body" style="visibility: visible;padding: 5px;height: 200px;overflow: auto;">
                        <ul class="list-group">
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="titulo_servico_disponivel col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Proteção Celular</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" cp-popup-servico="protecaocelular" class="btn_vantagens btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="titulo_servico_disponivel col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 14,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" cp-popup-servico="marisaodonto" class="btn_vantagens btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                            <li class="lista_servicos_vantagens list-group-item row" style="padding: 0px;margin: 3px;">
                                <div class="titulo_servico_disponivel col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px 5px 0px 5px;">Marisa Odonto Plus</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;">R$ 24,90</div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding: 0px 5px 0px 5px;text-align: right;">
                                    <a href="#" cp-popup-servico="marisaodontoplus" class="btn_vantagens btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                    <a href="#" class="btn btn-success btn-xs" style="margin: 0px 0px 0px 0px;height: 20px;">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>